<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-2.5.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-2.0.xsd">
  
    <context:property-placeholder location="classpath:app.properties"/>
  
    <!-- AuthenticationInterceptor -->
    <bean id="authenticationInterceptor"
          class="com.topcoder.analytics.view.interceptors.AuthenticationInterceptor">
        <property name="userSessionIdentityKey" value="user"/>
    </bean>

    <bean id="userService" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="UserServiceBean/remote"/>
        <property name="cache" value="true"/>
        <property name="lookupOnStartup" value="false"/>
        <property name="jndiEnvironment">
            <props>
                <prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory
                </prop>
                <prop key="java.naming.provider.url">${service.provder.url}</prop>
                <prop key="java.naming.factory.url.pkgs">org.jboss.naming:org.jnp.interfaces
                </prop>
            </props>
        </property>
        <property name="proxyInterface" value="com.topcoder.service.user.UserService"/>
    </bean>
    
    <bean id="loginProcessor" class="@analyticsLoginProcessor@" scope="singleton"></bean>
    
    <bean id="loginAction" class="com.topcoder.analytics.view.action.LoginAction" scope="prototype">
        <property name="loginProcessor" ref="loginProcessor" />
    </bean>

    <bean id="logoutAction" class="com.topcoder.analytics.view.action.LogoutAction" scope="prototype">
    </bean>
    
    <bean id="registerAction" class="com.topcoder.analytics.view.action.RegisterAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    
    <bean id="captchaImageAction" class="com.topcoder.analytics.view.action.CaptchaImageAction" scope="prototype">
        <property name="configFile" value="@randomStringImageConfigFile@"/>
    </bean>

    <bean id="indexAction" class="com.topcoder.analytics.view.action.IndexAction" scope="prototype">
        <property name="rssReader" ref="rssReader"/>
        <property name="rssFeedUrl" value="@analyticsRssFeedURL@"/>
    </bean>

    <bean id="rssReader" class="com.topcoder.analytics.view.rss.impl.RSSReaderImpl">
        <property name="rssFeedTransformer">
            <bean class="com.topcoder.analytics.view.rss.impl.RSSFeedDocumentTransformer"/>
        </property>
    </bean>

</beans>