/*
 * CSS for dashboard pages.
 *
 * Change logs:
 *
 * - (Release Assembly - TC Direct UI Improvement Assembly 3) changes:
 * - adjust the height of the filter panel dropdown filter -  customer and billing account
 *
 * - Release Assembly - TC Cockpit Enterprise Dashboard Volume View Assembly change notes:
 * - Add css styles for the volume view
 * 
 * - Release Assembly - TopCoder Cockpit Direct UI Text and Layout Bugs Termination 1.0 change notes:
 * - Update CSS styles to fix multiple issues.
 * 
 * - Release Assembly - TopCoder Cockpit Direct UI Layout Bugs Termination 2.0 change notes:
 * - Update CSS styles to fix multiple issues.
 */
.chartCollapse a.expand{
  display:inline-block;
  background-position:left top;
  float:left;
  height:21px;
  line-height:21px;
  margin-top:8px;
}

.timeDimension,.displaying{
	padding:8px 15px 0px 15px;
}

.timeDimension{
	font-size:12px;
	background:#F5F5F5 ;
/*
	width:10.5%;
*/
	float:left;
	padding:5px 5px 5px 5px;
	margin:10px 40px 10px 10px;
	height:35px;
	width:200px;
}

* +html .timeDimension {margin-bottom:0px;}
* +html .timeDimension select {height:20px;}

.visualization .top .displaying span{
	padding-right:6px;
}

.graphArea .visualization{
	padding:0px;
	border:0px;
}

/* collapse */
.chartCollapse a.collapse{
 background:transparent url(../../images/icon-collapse.png) no-repeat scroll;
 background-position:0px 0px;
}

.chartSummary{
 background:#E1F2FF;
 height:18px;
 border-top:1px solid #CAD9E5; 
 border-bottom:1px solid #CAD9E5;
 border-right:1px solid #aaacae; 
 border-left:1px solid #aaacae; 
 font-size:12px;
 padding:5px 15px;
}
/* Table Data Area */


.tableDataArea .dashboardTable{
 margin-bottom:0px;
}

.dashboardTableHeader{
	padding-right:0px;
}

.tableDataArea .dashboardTable dd 
{
	border-width:0px;
}
.dashboardTable td.first, .dashboardTable th.first{
	padding-left:5px;
}

	.summaryContent{
		float:left;
	}
	
	.summaryDate{
		float:right;
		
	}

.chartSummary .timeDimension{
	float:right;
	width:100px;
	background:red;
}	
	
.chartSummary .displayingFilter{
	float:left;
}	

/* General Style */
.strongGreen{
	font-weight:bold;
	color:#008600;
}

.strongBlue{
	font-weight:bold;
	color:#00aaff;
}

.btnArea{
	float:right;
	margin:5px;
}

td.alignLeft{
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}

.noBorder{
	border:0px;
}

/* Icon Graph */
.btnArea a.btnGraph{
	background:url(../../images/btn-graph.png) top left no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
}

/* Icon Table */
.btnArea a.btnTable{
	background:url(../../images/btn-table.png) top left no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
}

.btnArea a.active{ background-position:bottom left; }

.graphArea .visualization .chartWrapper{
    overflow:auto;
	padding:10px 0;
    border:1px solid #C6C7C8;
    border-bottom:0;
    border-top:0;
    height:100%;
    overflow-y:hidden;
}

#chart_div{
    /*
	height:230px;
	padding-top:10px;
	margin-bottom:10px;*/
    border:0;
    position:static !important;
}

a.fiterButton{
	float:right;
	padding-left:15px;
	font-size:12px;
	text-decoration:underline;
	background:url(../../images/arrow-2.png) top left no-repeat;
	padding-right:15px;
}

.filterLinkArea,.tableDataArea .dashboardTableHeader,.tableDataArea .dashboardTableBody,.chartWrapper,.visualization .top{
	border:1px solid #C6C7C8;
	border-width:0px 1px;
}


.dateRange{
	font-size:12px;
	padding:8px 15px 0;
}


/* filter Area */
.filterLinkArea{
	border-width:0px 1px 1px;
	padding-bottom:30px;
	padding-top:20px;
}

.filterArea{
	padding:20px 10px 10px 10px;
}


.filterProject{
	background:#e1f2ff;
	font-size:12px;
	padding:12px 8px;
	border-top:1px solid #cad9e5;
	border-bottom:1px solid #cad9e5;
}

.filterProject span.label{
	margin-top:3px;
	padding-right:10px;
	float:left;
	font-weight:bold;
	
}

.filterProject select{ 
	width:350px;
	font-size:11px;
	border:1px solid #a9acae;
}

.filterContest{
	width:100%;
	padding:10px 0px;
	height:70px;	
}

*+html .filterContest { height:15px;}
.filterContest .multiSelect{
	margin-top:3px;
}

.filterContest .columns{
	width:25%;
	float:left;
	height:44px;
	background:#f5f5f5;
	margin-right:10px;
	padding:5px;
	font-size:12px;
}

.filterContest .contestType{
    width: 200px;
}

.filterContest .paymentType{
    width: 140px;
}

#customerNameFilter{
    width: 170px;
}

#customerNameFilter select {
    margin-top: 3px;
}

#clientBillingProjectsFilter{
    width: 177px;
    margin-right:0px;
}

#clientBillingProjectsFilter select{
   margin-top: 3px;
}

.filterContest .columnButton{
    float: right;
    width: 67px;
    margin-right:0px;
    padding-right:0px;
}


.filterContest .columns strongx{
	width:100%;
}

a.button6 span.right{
	padding:4px 20px 0px;
}

.filterArea .datePicker{
  display:block;
  height:25px;
  width:390px;
  min-width:390px;
  background:#F5F5F5 ;
  margin-top:10px;
  padding:10px;
  padding-right:0px;
  float:left;
}


.filterArea .datePicker span.label,.filterArea .datePicker input{
	font-size:12px;
	float:left;
	width:75px;
	height: 20px;
}

.filterArea .datePicker div{
	margin-right:24px;
	float:left;
}

.filterArea .datePicker span.label{
	padding:2px 5px 0px 0px;
	width:40px;
	float:left;
}

.filterArea .spacer{
	height:2px;
	width:100%;
	float:left;
}

a.dp-choose-date { margin-right:0px;}


.filterContest .columnButton{
	width:10%;
	padding-top:16px;
	height:33px;
	background:none;
	padding-left:0px;
}

.filterArea .firstRow,.filterArea .secondRow{
	xfloat:left;
}

.filterContest select{ 
	font-size:12px;
	border:1px solid #a9acae;
    width:158px;
}

a.multiSelect, select{ 
	font-size:12px;
}

.filterContest .paymentType select{
	font-size:12px;
	border:1px solid #a9acae;
    width:120px;
}

/* Table Data */
.tableDataArea .dashboardTable{
	background:url(../../images/dashboard-table-bg-2.png) repeat-x top left;	
	border:1px solid #c6c7c8;
	border-width:0px;
}
#fourthDashboardTableBody {
    border-bottom:1px solid #c6c7c8;
}
.tableDataArea .dashboardTableHeader{
	font-size:12px;
	border-top:0px;
	background:url(../../images/bg-head-rowspan.gif) top right no-repeat;
}

.tableDataArea  .dashboardTableHeader td.first{
	vertical-align:middle;
	text-align:center;
}

.dashboardTable tr.head{
	border-top:0px;
}


.dashboardTable tr.head td, .dashboardTable tr.head th{
	background:none;
	font-weight:normal;	
}

.dashboardTable tr.head td.noBT, .dashboardTable tr.head th.noBT{
 border-top:0px;
}

.dashboardTableFooter{
    background-color:#BBBBBB;
	display:block;
}

.panel3{
	padding:8px 0px 4px 10px;
    height:16px;
    text-align: left;
}

.pagination3{
 margin-top:0px;
 padding-top:3px;
 float:right;
 width:330px;
}

.pagination3 select{
	height:18px;
	font-size:12px;
}

.pagination3 .pages a:hover{
    text-decoration:underline;
    cursor:pointer;
}

.pagination3 .pages .prevInactive{
    background-image:url(../../images/page_prev_nactive.png);
}
.pagination3 .pages .nextInactive{
    background-image:url(../../images/page_next_nactive.png);
}

.dashboardTableFooter .pagination3 .pages{
    padding-top:4px;
    margin-top: 0px;
}

.dashboardTableFooter .pagination3 .showPages select{
    margin-top:1px;
}

.dashboardTableFooter .panel a{
    padding-top:4px;
}

.dashboardTableFooter .allPages {
    float: right;
    padding-right:10px;
    padding-top:4px;
    padding-left: 10px;
}

.dashboardTableBody{
    overflow-x:hidden;
}

#firstDashboardTableBody, #secondDashboardTableBody{
    overflow-y:auto;
}

#firstDashboardTableBody table, #secondDashboardTableBody table{
    border-bottom:1px solid #D0D0D1;
}

#firstDashboardTableBody , #secondDashboardTableBody {
    height: 378px;
}

#firstDashboardTableHeader table tr td , #secondDashboardTableHeader table tr td,
#thirdDashboardTableBody table tr.head th, #fourthDashboardTableBody table tr.head th
{
    cursor: pointer;
}

#firstTableDataArea {
    display : none;
}

.dashboardTableBody th{
    height:0px;
    border-left:none;
}



td.fontGreen{
 color:#6eaf0e;
} 

.tooltip{
	position:absolute;
}
			
#customerNameFilter select {
    width: 170px;
}


#NoEnoughStats {
    text-align: center;
    vertical-align: middle;
    height: 250px;
    width: 100%;

}
#NoEnoughStats p {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}
#costReportFilters{
		border-width:1px;
    position:relative;
}
#costReportFilterShowControl{
		float:right;
    position:absolute;
  	top:2;
	  right:0;
}

.expandViewPopup{ 
    border:4px solid #000000; 
    width:720px;
    color:#333333;
    padding:8px;
    background:#ffffff;
   /* display:none;*/
    max-width:1500px;
}
.expandViewPopup h2{ 
     font-size:20px;
    font-weight:normal;
    padding-bottom:6px;
}
.expandViewPopup .popContent{
    padding:0 10px;
}
 
.expandViewPopup .close{
    text-align:right;
}
.expandViewPopup .close a{
    background:url("../../images/ico-cancel.png") no-repeat left top;
    height:17px;
    width:17px;
    display:inline-block;
}
.expandViewPopup .close a:hover{
    background-position:left -17px;
}
.expandViewPopup .dashboardTable {
    background: url("../../images/dashboard-table-bg-2.png") repeat-x left top;
    border: 1px solid #A9ACAE;
}
.expandViewPopup .nobg {
    background: none !important;
}
.expandViewPopup .dashboardTable td.first,.expandViewPopup .dashboardTable th.first{
    text-align:center;
    vertical-align:middle;
}
.expandViewPopup .costTable, .expandViewPopup .marketTable {
    overflow:auto;
    margin-bottom:0px;
} 
.expandViewPopup .costTable .tableWrapper{
    /*width:1540px;*/
    overflow:visible !important;
    height:auto;
}
.expandViewPopup .marketTable .tableWrapper{
    overflow:visible !important;
    height:auto;
}
.expandViewPopup .collapse{
    font-size:12px;
    text-align:right;
    padding-bottom:12px;
    padding-top:15px;
}
.expandViewPopup .collapse a{
    background:url("../../images/arrow-2.png") no-repeat left -15px;;
    line-height:14px;
    padding-left:15px;
}
.expandViewPopup .collapse a.expand{
    background-position:left top;
}
#thirdDashboardTableBody {
    border-bottom: 1px solid #D0D0D1;
}
#breakdownBody tbody td {
    padding: 5px;
}
.filterCustomName{
	background:#e1f2ff;
	font-size:12px;
	padding:12px 8px;
	border-top:1px solid #cad9e5;
	border-bottom:1px solid #cad9e5;
	width: auto	!important;	
}
.filterCustomName span.label{
	margin-top:3px;
	padding-right:10px;
	float:left;
	font-weight:bold;
}

.filterCustomName select{ 
	width:350px;
	font-size:12px;
	border:1px solid #a9acae;
}

/* new added in TC Cockpit Enterprise Dashboard Update Assembly 1 */
.summaryPanel {
    position: relative;
    border-left: 1px solid #aaacae;
    border-right: 1px solid #aaacae;
    padding: 0;
}

.summaryPanel .date {
    position: absolute;
    right: 6px;
    top: 4px;
    color: #000000;
    font-size: 12px;
}

.zoomMessage {
    position: absolute;
    right: 50%;
    top: 4px;
    color: #000000;
    font-size: 12px;
}

.summaryPanel .tabs {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.summaryPanel .tabs.customer {
    background: url(../../images/bg-tabs-customer.png) left bottom repeat-x;
}

.summaryPanel .tabs.market {
    background: url(../../images/bg-tabs-market.png) left bottom repeat-x;
}

.summaryPanel .tabs.compare {
    background: url(../../images/bg-tabs-compare.png) left bottom repeat-x;
}

.summaryPanel .tabs li {
    float: left;
}

.summaryPanel .tabs li a,
.summaryPanel .tabs li a:visited {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.summaryPanel .tabs li .customer {
    border-color: #cad9e5;
    /* border-left:1px solid #cad9e5; */
    background: #e1f2ff;
    color: #2882ff;
}

.summaryPanel .tabs li .customer.current {
    /* border-left:1px solid #cad9e5; */
    padding-bottom: 6px;
}

.summaryPanel .tabs li .market {
    border-color: #c1e2af;
    background: #efffca;
    color: #008600
}

.summaryPanel .tabs li .market.current {
    border-left: 1px solid #c1e2af;
    padding-bottom: 6px;
}

.summaryPanel .tabs li .compare {
    border-color: #efd699;
    background: #fffacd;
    color: #bf7a31;
}

.summaryPanel .tabs li .compare.current {
    border-left: 1px solid #efd699;
    padding-bottom: 6px;
}

.summaryPanel .tabs li .currentPrev {
    border-right: none;
}

.summaryPanel .tabs li a:hover {
    text-decoration: underline;
}

.summaryPanel .tabs li .current:hover {
    text-decoration: none;
}

.summaryPanel .tabsContent {
    clear: left;
    font-size: 12px;
}

.summaryPanel .tabsContent .customerSummary {
    border-bottom: 1px solid #cad9e5;
    background: #e1f2ff;
    padding: 9px 8px 6px;
}

.customerSummary .marketCap {
    font-weight:bold;
    font-size:16px;
    color:#2882FF
}

.summaryPanel .tabsContent table td.fieldName {
    padding-right: 8px;
    padding-bottom: 1px;
    color: #333333;
    cursor: pointer;
}

.summaryPanel .tabsContent table td.fieldData {
    padding-right: 36px;
    color: #2882ff;
    text-align: right;
}

.summaryPanel .tabsContent .marketSummary table td.fieldData {
    color: #68a71d;
}

.summaryPanel .tabsContent .marketSummary {
    border-bottom: 1px solid #c1e2af;
    background: #efffca;
    padding: 9px 8px 6px;
}

.summaryPanel .tabsContent .compare {
    border-bottom: 1px solid #efd699;
    background: #fffacd;
    padding: 9px 8px 6px;
}

.summaryPanel .tabsContent .compare table td {
    padding: 0 13px 6px 13px;
    text-align: center;
}

.summaryPanel .tabsContent .compare table td.firstColumn {
    padding: 0 10px 6px 0;
    text-align: left;
}

.summaryPanel .tabsContent .compare table td.mkt {
    font-size: 17.3px;
    font-weight: bold;
}

.summaryPanel .tabsContent .compare table tr.marketTR td {
    color: #68a71d;
    padding-bottom: 2px;
}

.summaryPanel .compare .fieldName {
    font-weight: bold;
}

.summaryPanel .compare .firstColumn {
    font-weight: bold;
}

/* new tooltips */
.tooltipWrapper {
    position: relative;
}

.tooltipBox {
    position: absolute;
    width: 180px;
    left: 50%;
    bottom: 19px;
    margin-left: -90px;
    z-index: 999;
    display: none;
    color: #000;
    background-color: transparent;
    text-align: left;
}

.summaryPanel .tabsContent .marketSummary .tooltipBox {
    width: 208px;
    margin-left: -80px;
}

.summaryPanel .tabsContent .compare .tooltipBox {
    width: 140px;
    margin-left: -70px;
}

.volumeView .tooltipBox {
    width: 192px;
    margin-left: -96px;
}

.tooltipBox.firstColumn {
    left: 80%;
    margin-left: -80px;
}

.tooltipBox SPAN.arrow {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: -4px;
    display: block;
    width: 7px;
    height: 5px;
    margin-left: -3px;
    background: url(../../images/popup_new_arrow.png) no-repeat;
}

.tooltipHeader {
    height: 26px;
    background: url(../../images/tooltip_new_blue.png) left top no-repeat;
    padding-left: 3px;
    overflow: hidden;
}

.tooltipHeader .tooltipHeaderRight {
    height: 26px;
    background: url(../../images/tooltip_new_blue.png) right -52px no-repeat;
    padding-right: 3px;
}

.tooltipHeader .tooltipHeaderCenter {
    height: 26px;
    background: url(../../images/tooltip_new_blue.png) left -26px repeat-x;
}

.tooltipHeader h2 {
    font-size: 11px;
    color: #FFF;
    background-color: transparent;
    padding-top: 6px;
    padding-left: 7px;
    margin: 0;
}

.tooltipBox .tooltipContent {
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    padding: 0px 7px;
    font-size: 12px;
    color: #333;
    background-color: #fffffd;
}

.tooltipBox .tooltipContent H3 {
    color: #333333;
    margin-bottom: 3px;
}

.tooltipBox .tooltipContent P {
    padding: 2px 0;
}

.tooltipBox .tooltipContent P a {
    color: #333333;
    text-decoration: underline;
}

.tooltipFooter {
    height: 3px;
    background: url(../../images/tooltip_new_cornner.png) left top no-repeat;
    padding-left: 3px;
    overflow: hidden;
}

.tooltipFooter .tooltipFooterRight {
    height: 3px;
    background: url(../../images/tooltip_new_cornner.png) right -6px no-repeat;
    padding-right: 3px;
}

.tooltipFooter .tooltipFooterCenter {
    height: 3px;
    background: url(../../images/tooltip_new_cornner.png) left -3px repeat-x;
}

.tooltipBox .tooltipContent a.viewDetailsLink {
    float: right;
    display: inline;
}

.tooltipBox .tooltipContent P a:hover,
.tooltipBox .tooltipContent a.viewDetailsLink:hover {
    text-decoration: none;
}

/* Green Tooltip */
.greenToolTipBox .tooltipHeader,
.greenToolTipBox .tooltipHeaderRight,
.greenToolTipBox .tooltipHeaderCenter {
    background-image: url(../../images/tooltip_new_green.png);
}

/* Orange Tooltip */
.orangeToolTipBox .tooltipHeader,
.orangeToolTipBox .tooltipHeaderRight,
.orangeToolTipBox .tooltipHeaderCenter {
    background-image: url(../../images/tooltip_new_orange.png);
}

.btnArea a.btnView {
    background: url(../../images/btn-view.png) top left no-repeat;
    width: 19px;
    height: 21px;
    display: block;
    float: left;
}

.btnArea a.btnView.active {
    background-position: left -21px;
}

.btnArea a.btnCompare {
    background: url(../../images/btn-compare.png) top left no-repeat;
    width: 21px;
    height: 21px;
    display: block;
    float: left;
}

.btnArea a.btnCompare.active {
    background-position: left -21px;
}

.volumeView{
	border:1px solid #aaacae;
	border-top:none;
	/* padding:10px 8px 16px; */
	padding:0 0 16px;
}
	.volumeView .summary{
		margin-bottom:13px;
		position:relative;
	}
		.volumeView .summary .date{
			position:absolute;
			top:4px;
			right:6px;
			color:#000000;
			font-size:12px;
		}
		.volumeView .summary .tabs{
			float:left;
			width:100%;
			background:url(../../images/bg-tabs-customer.png) left bottom repeat-x;
			list-style:none;
			margin:0;
			padding:0;
		}
			.volumeView .summary .tabs li{
				float:left;
			}
				.volumeView .summary .tabs li a,
				.volumeView .summary .tabs li a:visited{
					display:block;
					border:1px solid #cad9e5;
					border-left:none;
					background:#e1f2ff;
					color:#2882ff;
					border-bottom:none;
					padding:5px 10px;
					font-size:11px;
					font-weight:bold;
					text-decoration:none;
				}
		.volumeView .summary .tabsContent{
			clear:left;
			font-size:12px;
			border-bottom:1px solid #cad9e5;
			background:#e1f2ff;
			padding:9px 0 0px;
            overflow:hidden;
            height:auto;
        }
			.volumeView .summary .tabsContent .tableFixed{
				 float:left;
                 width:110px;
            }
			.volumeView .summary .tabsContent .tableScroll{
                margin-left:110px;
                overflow:auto;
                height: 100%;
            }

            .volumeView .summary .tabsContent table{
				width:100%;
				color:#2882ff;
            }
			.volumeView .summary .tabsContent table th{
				padding-bottom:1px;
			}
                .volumeView .summary .tabsContent table th span.short{
                    display:none;
                }
			.volumeView .summary .tabsContent table td{
				padding:4px 0 3px;
				text-align:center;
			}
			.volumeView .summary .tabsContent table tr.odd td{
				background:#fff;
			}
			.volumeView .summary .tabsContent table .fieldName{
				padding-left:9px;
				color:#333333;
				text-align:left;
				cursor:pointer;
				font-weight:bold;
			}

.volumeView .dateRange {
    margin: 0;
    padding: 0 0 0 9px;
}

.volumeView .viewChartWrapper {
    width: 100%;
    overflow: auto;
    height: auto;
    overflow-y:hidden;
}

#viewChart {
    position:static !important;
}
        .volumeView .filterLinkArea{
			border:none;
			margin:0;
			padding:0;
			width:auto;
			overflow:hidden;
		}
			.volumeView .filterLinkArea .fiterButton{
				margin:0 13px 0 0;
				padding:0 0 0 15px;
			}
			.volumeView .filterLinkArea .filterArea{
				padding-top:6px;
			}
                .volumeView .filterLinkArea .filterArea .filterProject .multiSelect,.volumeView .filterLinkArea .filterArea .filterProject .multiSelectOptions {
                    font-size:12px;
                }
				.volumeView .filterLinkArea .filterArea .filterProject{
					font-size:11px;
					/* width:67.8%;
					min-width:607px; */
					padding:10px 0 6px 11px;
				}
					.volumeView .filterLinkArea .filterArea select{ float:left; }
					.volumeView .filterLinkArea .filterArea .filterProject .customerName{
						width:191px;
						margin-right:40px;
					}
					.volumeView .filterLinkArea .filterArea .filterProject .contestResult{ width:147px; }
				.volumeView .filterLinkArea .filterArea .firstRow{ /* width:617px; */ }
					.volumeView .filterLinkArea .filterArea .firstRow .datePicker{
						/* width:30%;
						min-width:269px; */
						width:39%;
						min-width:300px;
						height:auto;
						margin:5px 5px 0 0;
						padding:16px 0 18px 11px;
					}
					.datePicker div.right{ margin:0; }
						.volumeView .filterLinkArea .filterArea .firstRow .datePicker input{
							position:relative;
							top:2px;
							border:1px solid #a9acae;
							width:74px;
							height:15px;
							line-height:15px;
						}
						.volumeView .filterLinkArea .filterArea .firstRow .datePicker span.label{
							padding:4px 0 0 0;
							width:30px;
							font-size:11px;
						}
					.volumeView .filterLinkArea .filterArea .firstRow .timeDimension{
						/* width:30%;
						min-width:219px; */
						width:180px;
						min-width:90px;
						margin:5px 0 0 0;
						padding:8px 0 11px 14px;
					}
						.volumeView .filterLinkArea .filterArea .firstRow .timeDimension strong{
							display:block;
							font-size:11px;
							margin-bottom:4px;
						}
						.volumeView .filterLinkArea .filterArea .firstRow .timeDimension select{
							border:1px solid #a9acae;
                            width: 176px;
						}
				.volumeView .filterLinkArea .filterArea .secondRow{
					width:100%;
					margin-top:6px;
				}
					.volumeView .filterLinkArea .filterArea .secondRow .filterContest{
						padding:0;
						height:auto;
					}
						.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns{
							width:auto;
							height:48px;
							padding:9px 12px 0 12px;
						}
						.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns.contestType{
							width:19.7%;
							min-width:156px;
							margin-right:5px;
						}
						.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns.billing{
							width:20.1%;
							min-width:161px;
							margin-right:5px;
						}
						.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns.project{
							width:20%;
							min-width:150px;
							margin-right:0;
						}
							.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns strong{
								display:block;
								font-size:11px;
								margin-bottom:3px;
							}
							.volumeView .filterLinkArea .filterArea .secondRow .filterContest .columns select{ width:100%; }
							.volumeView .filterLinkArea .filterArea .multiSelect{
								margin:0;
								padding:0;
							}
							.volumeView .filterLinkArea .contestType .multiSelect{ width:100%; }
						.volumeView .filterLinkArea .filterArea .secondRow .filterContest .applyButton{
							margin-top:21px;
						}

/* .comparisonView */
.comparisonView{
	border:1px solid #aaacae;
	border-top:none;
	/* padding:10px 8px 16px; */
	padding:0 0 16px;
}
	.comparisonView .summary{
		margin-bottom:13px;
		position:relative;
	}
		.comparisonView .summary .date{
			position:absolute;
			top:5px;
			right:40%;
			color:#000000;
			font-size:12px;
		}
		.comparisonView .summary .tabs{
			float:left;
			width:100%;
			background:url(../../images/bg-tabs-customer.png) left bottom repeat-x;
			list-style:none;
			margin:0;
			padding:0;
		}
			.comparisonView .summary .tabs li{
				float:left;
			}
				.comparisonView .summary .tabs li a,
				.comparisonView .summary .tabs li a:visited{
					display:block;
					border:1px solid #cad9e5;
					border-left:none;
					background:#e1f2ff;
					color:#2882ff;
					border-bottom:none;
					padding:5px 10px;
					font-size:11px;
					font-weight:bold;
					text-decoration:none;
				}
		.comparisonView .summary .tabsContent{
			clear:left;
			font-size:12px;
			border-bottom:1px solid #cad9e5;
			background:#e1f2ff;
			padding:9px 0 0px;
            overflow:auto;
        }
			.comparisonView .summary .tabsContent table{
				width:100%;
				color:#2882ff;
			}
			.comparisonView .summary .tabsContent table th{
				padding-bottom:1px;
			}
                .comparisonView .summary .tabsContent table th span.short{
                    display:none;
                }
			.comparisonView .summary .tabsContent table td{
				padding:4px 0 3px;
				text-align:center;
			}
			.comparisonView .summary .tabsContent table tr.odd td{
				background:#fff;
			}
			.comparisonView .summary .tabsContent table .fieldName{
				padding-left:9px;
				color:#333333;
				text-align:left;
				cursor:pointer;
			}
		.comparisonView .dateRange{ margin:0; padding:0 0 0 9px; }
		.comparisonView .viewChartWrapper{ width:100%; overflow:auto;height:auto;}
        #comparisonViewChart{

        }
        .comparisonView .filterProject{
             padding-right:0;
            min-width:612px;
        }
        .comparisonView .filterLinkArea{
			border:none;
			margin:0;
			padding:0;
			width:auto;
			overflow:hidden;
            padding-top:6px;
        }
			.comparisonView .filterLinkArea .fiterButton{
				margin:0 13px 0 0;
				padding:0 0 0 15px;
			}
			.comparisonView .filterLinkArea .filterArea{
				padding-top:6px;
			}
                .comparisonView .filterLinkArea .filterArea .filterProject .multiSelect,.comparisonView .filterLinkArea .filterArea .filterProject .multiSelectOptions {
                    font-size:12px;
                }
				.comparisonView .filterLinkArea .filterArea .filterProject{
					font-size:11px;
					/* width:67.8%;
					min-width:607px; */
					padding:10px 0 6px 11px;
                    overflow:hidden;
                }
					.comparisonView .filterLinkArea .filterArea select{ float:left; }
					.comparisonView .filterLinkArea .filterArea .multiSelect{ float:left; margin-right:16px;}
					.comparisonView .filterLinkArea .filterArea .filterProject .customerName{
						width:191px;
						margin-right:40px;
					}
					.comparisonView .filterLinkArea .filterArea .filterProject .comparisonType{ width:147px; }
				.comparisonView .filterLinkArea .filterArea .firstRow{ /* width:617px; */ }
					.comparisonView .filterLinkArea .filterArea .firstRow .datePicker{
						/* width:30%;
						min-width:269px; */
						width:34%;
						min-width:300px;
						height:auto;
						margin:5px 5px 0 0;
						padding:16px 0 18px 11px;
					}
					.datePicker div.right{ margin:0; }
						.comparisonView .filterLinkArea .filterArea .firstRow .datePicker input{
							position:relative;
							top:2px;
							border:1px solid #a9acae;
							width:74px;
							height:15px;
							line-height:15px;
						}
						.comparisonView .filterLinkArea .filterArea .firstRow .datePicker span.label{
							padding:4px 0 0 0;
							width:30px;
							font-size:11px;
						}
					.comparisonView .filterLinkArea .filterArea .firstRow .timeDimension{
						/* width:30%;
						min-width:219px; */
						width:11%;
						min-width:90px;
						margin:5px 0 0 0;
						padding:8px 0 11px 14px;
					}
						.comparisonView .filterLinkArea .filterArea .firstRow .timeDimension strong{
							display:block;
							font-size:11px;
							margin-bottom:4px;
						}
						.comparisonView .filterLinkArea .filterArea .firstRow .timeDimension select{
							border:1px solid #a9acae;
                            width:80px;
                        }
						.comparisonView .filterLinkArea .filterArea .firstRow .contestType{
							width:20%;
							min-width:175px;
							margin: 5px 5px 0 0;
                            float:left;
                             height: 45px;
                            padding: 9px 12px 0;
                            background-color:#F5F5F5;
                            font-size:12px;
                        }
                            .comparisonView .filterLinkArea .filterArea .firstRow .contestType select{
                                border:1px solid #a9acae;
                                width:165px;
                            }
                            .comparisonView .filterLinkArea .filterArea .firstRow .contestType strong{
                                display: block;
                                font-size: 11px;
                                margin-bottom: 3px;
                            }
                            .comparisonView .filterLinkArea .filterArea .firstRow .contestType  .multiSelect{
                                margin: 0;
                                padding: 0;
                            }

                        .comparisonView .filterLinkArea .filterArea .firstRow  .applyButton{
							margin-top:21px;
                            margin-right:20px;
                            float:right;
                        }
        .comparisonView .green{
            color:#68a71d;
        }
/*
.newTooltips{
    margin-bottom:2px;
    display:inline-block;
}*/

.volumeView .filterProject select {
    border: 1px solid #A9ACAE;
    font-size: 12px;
    margin-right: 20px;
    width: 200px;
}

.tooltipBox2 {
	position:absolute;
	width:180px;
	/*left:50%;
	bottom:19px;
	margin-left:-90px;*/
	z-index: 999;
	display: none;
	color: #000;
	background-color: transparent;
	text-align:left;
}

.tooltipBox2 .tooltipContent {
    background-color: #FFFFFD;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    color: #333333;
    font-size: 12px;
    padding: 0 7px;
}

.tooltipBox2 SPAN.arrow {
    background: url("../../images/popup_new_arrow.png") no-repeat scroll 0 0 transparent;
    bottom: -4px;
    display: block;
    height: 5px;
    left: 70px;
    margin-left: -3px;
    position: absolute;
    top: auto;
    width: 7px;
}

.enterpriseDashboardBeta {
    float: right;
    color: #E10000;
    font-size: 11px;
    line-height: 25px;
    text-decoration: underline;
    background: url("../../images/beta-icon.gif") no-repeat scroll center right transparent;
    padding-right:45px;
    display: inline-block;
}

.newEnterpriseDashboardIcon {
    display: inline-block;
    float: right;
    width: auto;
    padding: 5px 6px 0px 0px;
}
/* end */
