*{padding: 0; margin: 0;}
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> modal settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position:absolute;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	display:none;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background:#000000;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
}

#TB_window {
	width:830px;
	height:424px !important;
	position:absolute;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	top:0;
	left:0;
	border: 1px solid #000;
	text-align:left;
	overflow:hidden;
}

* html #TB_window { /* ie6 hack */
position: absolute;
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	height:395px;
	clear:both;
	padding:2px 15px 0 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
}

/* OVERRIDE! */
#TB_window_custom {
	position:absolute;
	z-index: 102;
	color:#000000;
	display:none;
	top:0;
	left:0;
	overflow:hidden;
}

* html #TB_window_custom { /* ie6 hack */
position: absolute;
}
	.specrev-window {
		width:360px !important;
		height:211px !important;
		border: none !important;
		background: transparent url(../../images/specplan_window.gif) no-repeat top left !important;
		text-align:center !important;
		position:absolute;
		overflow:hidden;
	}
	.specrev-window a {
		display: block;
		margin: auto;
		width: 191px;
		height: 25px;
	}
	.specrev-window a.review-now { background: url(../../images/specplan_btn_now.gif) no-repeat top left; }
	.specrev-window a.review-later { background: url(../../images/specplan_btn_l8r.gif) no-repeat top left; }
	.specrev-window a:hover {
		background-position: 0 -25px;
	}
	.specrev-window h1 {
		font-size: 19px !important;
		margin: 25px 0 20px 0;
	}
	.specrev-window p {
		font-size: 12px;
		color: #747474;
	}
	.specrev-window p.or {
		margin: 10px 0;
	}
	.specrev-window p.note {
		margin: 5px 0 0 0;
	}

#modal-background {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

* html #modal-background {
    /* ie6 hack */
    position: absolute;
}

#new-modal-window {
    position: absolute;
    top: 0;
    left: 50%;
    z-index:11111;
}

#new-modal-window .outLay {
    position: relative;
    display: none;
}

#new-modal-window .large{
    width: 450px;
}

#new-modal-window .large2 {
    width: 530px;
}

#new-modal-window .outLay .modalHeader .closeModal {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: url(../../images/modal-close.png) left top no-repeat;
    width: 30px;
    height: 30px;
    text-indent: -999px;
    overflow: hidden;
    z-index: 2;
}

#new-modal-window .outLay .modalHeader .closeModal:hover {
    background-position: left -30px;
}

#new-modal-window .outLay .modalHeader {
    background: url(../../images/modal-header.png) left top no-repeat;
    padding-left: 8px;
}

#new-modal-window .outLay .modalHeader .modalHeaderRight {
    background: url(../../images/modal-header.png) right -80px no-repeat;
    padding-right: 8px;
}

#new-modal-window .outLay .modalHeader .modalHeaderCenter {
    background: url(../../images/modal-header.png) left -40px repeat-x;
    padding: 10px 0 10px 22px;
    color: #000001;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#new-modal-window .outLay .modalHeader .modalHeaderCenter h2 {
    font-size: 16px;
}

#new-modal-window .outLay .modalHeader.confirmation .modalHeaderCenter h2 {
    font-size: 14px;
}

#new-modal-window .outLay .modalFooter {
    background: url(../../images/preloader-corner.png) left -24px no-repeat;
    padding-left: 8px;
}

#new-modal-window .outLay .modalFooter .modalFooterRight {
    background: url(../../images/preloader-corner.png) right -40px no-repeat;
    padding-right: 8px;
}

#new-modal-window .outLay .modalFooter .modalFooterCenter {
    background: url(../../images/preloader-corner.png) left -32px repeat-x;
    padding-top: 8px;
}

#new-modal-window .outLay .modalBody {
    border: 4px solid #000000;
    border-top-width: 0;
    border-bottom-width: 0;
    background: #e6e6e6 url(../../images/modal-body-normal.png) left top repeat-x;
    min-width: 352px;
    min-height: 10px;
    padding: 33px 0 0 0;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
}

#new-modal-window .outLay .modalBody.confirmation {
    padding-top: 29px;
}

#new-modal-window .outLay .modalBody .modalContent {
    background: url(../../images/modal-notice.png) left center no-repeat;
    width: 241px;
    margin: 0 0 24px 19px;
    padding: 0 25px 11px 66px;
    min-height: 40px;
    list-style: none;
}

#new-modal-window .outLay .modalBody .modalContent.multiple {
    padding-top: 3px;
}

#new-modal-window .outLay .modalBody.confirmation .modalContent {
    background-image: url(../../images/modal-confirmation.png);
    width: auto;
}

#new-modal-window .outLay .modalBody.operationSuccess .modalContent {
    background-image: url(../../images/modal-success.png);
}

#new-modal-window .outLay .modalBody.serverError .modalContent {
    background-image: url(../../images/modal-error.png);
}

#new-modal-window .mailTo {
    background: url("/images/icon-email.png") no-repeat scroll left 4px transparent;
    padding-left: 18px;
    padding-top: 2px;
}

#new-modal-window .outLay .modalBody.warning .modalContent {
    background-image: url(../../images/modal-warning.png);
}

#new-modal-window .outLay .modalBody .modalContent li {
    margin-bottom: 2px;
}

#new-modal-window .outLay .modalBody .modalContent li.single {
    padding-top: 10px;
}

#new-modal-window .outLay .modalBody .modalContent.multiple li {
    background: url(../../images/modal-arrow.png) left 4px no-repeat;
    padding-left: 15px;
}

#new-modal-window .outLay .modalBody .modalCommandBox {
    border-top: 1px solid #ccc;
    padding: 16px 0 12px;
    text-align: center;
    height:25px;
}

#new-modal-window .outLay .modalBody.confirmation .modalCommandBox,
#new-modal-window .outLay .modalBody.warning .modalCommandBox {
    text-align: right;
}

#new-modal-window .outLay .modalBody .modalCommandBox .noBtn {
    display: none;
}

#new-modal-window .outLay .modalBody.confirmation .modalCommandBox .noBtn,
#new-modal-window .outLay .modalBody.warning .modalCommandBox .noBtn {
    display: inline-block;
    margin: 0 24px 0 2px;
}

#new-modal-window .outLay .modalBody.comingSoon{
	min-width: 512px;
	min-height: 10px;
}
#new-modal-window .outLay .modalBody.comingSoon .modalContent {
		background-image: url(/images/modal_coming_soon.png);
		width: 360px;
		min-height:86px;
		margin-left:29px;
		padding-left:127px;
	}
#new-modal-window .outLay .modalBody.comingSoon .modalContent span{
		color:#ff0000;
	}

