.projectInforDiv {
    overflow: hidden;
    background: url(/images/dashboard-table-bg.png) repeat-x left top;
    margin-bottom: 20px;
    position: relative;
}

.projectInforDiv .projectInforTitle {
    height: 34px;
    margin: 0;
    padding: 0;
    line-height: 34px;
    padding-left: 8px;
    position: relative;
}

.projectInforDiv .projectInforTitle a.expand {
    background: url(/images/icon-expand.png) no-repeat left center;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding-left: 30px;
    display: inline-block;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
}

.projectInforDiv .projectInforTitle a.collapse {
    background: url(/images/icon-collapse.png) no-repeat left center;
}

.projectInforDiv .exportProject {
    position: absolute;
    right: 10px;
    top: 7px;
}
.projectInforDiv .exportProject a {
    background: url("/images/export-icon.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    line-height: 22px;
    padding-left: 25px;
}
.projectInforDiv .exportProject a:hover {
    text-decoration: none;
}

.projectInforDiv .editProject {
    position: absolute;
    right: 80px;
    top: 7px;
}

.projectInforDiv .editProject a:hover {
    text-decoration: none;
}

.projectInforDiv .editProject a {
    background: url("../images/edit-project-icon.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    line-height: 22px;
    padding-left: 25px;
}

.projectInformation {
    background: #fffffe;
    border-left: 1px solid #a9acae;
    border-right: 1px solid #a9acae;
    border-bottom: 1px solid #a9acae;
}

.projectInformation h3 {
    font-size: 12px;
    line-height: 18px;
}

.projectDetails {
    width: 100%;
    min-height: 150px;
    padding: 12px 0 15px 0;
}

/* first column */
.columeFirst {
    width: 263px;
    width: auto;
    float: left;
    display: inline;
    margin-left: 10px;
}

.columeFirst .projectDescription .projectDescDetails {
    overflow: hidden;
    position: relative;
}

.columeFirst .projectDescription p {
    width: 263px;
    font-size: 11px;
    color: #666666;
    line-height: 14px;
}

.columeFirst .projectDescription a {
    font-size: 11px;
    color: #666666;
}

.columeFirst .projectDescription a:hover {
    text-decoration: none;
}

/* second column */
.columeSecond {
    min-width: 240px;
    width: auto;
    float: left;
    display: inline;
}

/* projectType */
.columeSecond .projectType {
    padding-bottom: 15px;
}

.columeSecond .projectType p {
    font-size: 11px;
    line-height: 18px;
    color: #666666;
}

/* projectStatus */
.columeSecond .projectStatus {
    padding-bottom: 20px;
}

.columeSecond .projectStatus h3 {
    width: 96px;
    float: left;
    display: inline;
    line-height: 20px;
}

.columeSecond .projectStatus p {
    width: 99px;
    height: 20px;
    float: left;
    display: inline;
    padding-left: 28px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}

#completed .columeSecond .projectStatus p.completedStatus {
    background-image: url(/images/status_completed_icon.png);
}

#deleted .columeSecond .projectStatus p.completedStatus {
    background-image: url(/images/status_delete_icon.png);
}

#archived .columeSecond .projectStatus p.completedStatus {
    background-image: url(/images/status_archived_icon.png);
}

#active .columeSecond .projectStatus p.completedStatus {
    background-image: url(/images/status_active_icon.png);
}

#draft .columeSecond .projectStatus p.completedStatus {
    background-image: url(/images/status_draft_icon.png);
}

/* projectTechnology */
.columeSecond .projectTechnology {
    padding-bottom: 18px;
}

.columeSecond .projectTechnology p {
    font-size: 11px;
    line-height: 18px;
    color: #666666;
}

/* smallProjectLinks */

.smallProjectLinks {
    min-height: 60px;
}

.smallProjectLinks .linkBox, .bigProjectLinks .linkBox {
    min-height: 18px;
    /*padding-bottom:15px;*/
}

.smallProjectLinks .linkBox a, .bigProjectLinks .linkBox a {
    width: auto;
    float: left;
    display: inline;
    padding-left: 20px;
    font-size: 11px;
    color: #666666;
    line-height: 18px;
    background-position: left center;
    background-repeat: no-repeat;
}

.smallProjectLinks .linkBox a:hover, .bigProjectLinks .linkBox a:hover {
    text-decoration: none;
}

.smallProjectLinks .linkBox a.projectSVN, .bigProjectLinks .linkBox a.projectSVN {
    margin-right: 17px;
    background-image: url(/images/projectSVN_icon.png);
}

.smallProjectLinks .linkBox a.projectBug, .bigProjectLinks .linkBox a.projectBug {
    background-image: url(/images/projectBug_icon.png);
}

/* third column */
.columeThird {
    min-width: 200px;
    width: auto;
    float: left;
    display: inline;
}

/* projectBudget */
.columeThird .projectBudget {
    padding-bottom: 20px;
}

#deleted .columeThird .projectBudget {
    display: none;
}

.columeThird .projectBudget h3 {
    margin-bottom: 6px;
    padding-top: 2px;
    padding-left: 22px;
    line-height: 16px;
    background: url(/images/projectBudget_title_icon.png) no-repeat left center;
}

.columeThird .projectBudget .totalBudget, .columeForth .projectDuration .plannedDuration {
    width: 195px;
    height: 13px;
    padding: 2px;
    background: url(/images/total_bg.png) no-repeat left center;
    position:relative;
}

.columeThird .projectBudget .actualCost, .columeForth .projectDuration .actualDuration {
    width: auto;
    height: 13px;
    float: left;
    display: inline;
    overflow: hidden;
    position: absolute;
    left: 2px;
    top: 2px;
}

.columeThird .projectBudget .actualCost .leftActual, .columeForth .projectDuration .actualDuration .leftActual {
    width: auto;
    float: left;
    display: inline;
    padding-left: 4px;
    background-position: left 0;
    background-repeat: no-repeat;
}

.columeThird .projectBudget .actualCost .rightActual, .columeForth .projectDuration .actualDuration .rightActual {
    width: auto;
    float: left;
    display: inline;
    padding-right: 4px;
    background-position: right -26px;
    background-repeat: no-repeat;
}

.columeThird .projectBudget .actualCost .midActual, .columeForth .projectDuration .actualDuration .midActual {
    width: 10px;
    float: left;
    display: inline;
    height: 13px;
    background-position: left -13px;
    background-repeat: repeat-x;
}

.columeThird .green .actualCost .leftActual, .columeThird .green .actualCost .rightActual, .columeThird .green .actualCost .midActual,
.columeForth .green .actualDuration .leftActual, .columeForth .green .actualDuration .rightActual, .columeForth .green .actualDuration .midActual {
    background-image: url(/images/actual_green.png);
}

.columeThird .red .actualCost .leftActual, .columeThird .red .actualCost .rightActual, .columeThird .red .actualCost .midActual,
.columeForth .red .actualDuration .leftActual, .columeForth .red .actualDuration .rightActual, .columeForth .red .actualDuration .midActual {
    background-image: url(/images/actual_red.png);
}

.columeThird .yellow .actualCost .leftActual, .columeThird .yellow .actualCost .rightActual, .columeThird .yellow .actualCost .midActual,
.columeForth .yellow .actualDuration .leftActual, .columeForth .yellow .actualDuration .rightActual, .columeForth .yellow .actualDuration .midActual {
    background-image: url(/images/actual_yellow.png);
}

#completed .columeThird .actualCost .leftActual, #completed .columeThird .actualCost .rightActual, #completed .columeThird .actualCost .midActual,
#completed .columeForth .actualDuration .leftActual, #completed .columeForth .actualDuration .rightActual, #completed .columeForth .actualDuration .midActual {
    background-image: url(/images/actual_grey.png) !important;
}

.columeThird .projectBudget dl, .columeForth .totalBudgetInfor dl {
    width: 200px;
    padding-top: 5px;
}

.columeThird .projectBudget dt, .columeForth .totalBudgetInfor dt {
    width: auto;
    height: auto;
    float: left;
    display: inline;
    font-size: 11px;
    line-height: 22px;
    margin-left: 1px;
    padding-left: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(/images/total_icon.png);
}

.columeThird .projectBudget dd, .columeForth .totalBudgetInfor dd {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: right;
}

.columeThird .projectBudget .green dt.actual, .columeForth .projectDuration .green dt.actual {
    background-image: url(/images/actual_green_icon.png);
}

.columeThird .projectBudget .red dt.actual, .columeForth .projectDuration .red dt.actual {
    background-image: url(/images/actual_red_icon.png);
}

.columeThird .projectBudget .yellow dt.actual, .columeForth .projectDuration .yellow dt.actual {
    background-image: url(/images/actual_yellow_icon.png);
}

#completed .columeThird .projectBudget dt.actual, #completed .columeForth .projectDuration dt.actual {
    background-image: url(/images/actual_grey_icon.png) !important;
}

.columeThird .projectBudget .red dd.actualNum, .columeForth .projectDuration .red dd.actualNum {
    color: #FF0000;
}

/* forth column */
.columeForth {
    min-width: 200px;
    width: auto;
    float: left;
    display: inline;
}

/* projectBudget */
#deleted .columeForth .projectDuration, #archived .columeForth .projectDuration {
    display: none;
}

.columeForth .projectDuration h3 {
    margin-bottom: 6px;
    padding-top: 2px;
    padding-left: 22px;
    line-height: 16px;
    background: url(/images/projectDuration_title_icon.png) no-repeat left center;
}

/* managersBox */
.managersBox {
    width: 100%;
    padding: 8px 0 6px 0;
    border-top: #d0d0d1 solid 1px;
    background: #f5f5f5;
}

/* clientManagers */
.managersBox .clientManagers {
    padding-bottom:7px;
}

.managersBox .clientManagers h3 {
    margin:2px 0 4px;
}

.managersBox .clientManagers ul {
    width: auto;
    padding-bottom: 6px;
    overflow:hidden;
}

.managersBox .clientManagers ul li {
    width: auto;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-right: 12px;
    padding-left: 18px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    background: url(/images/clientManagers_icon.png) no-repeat left top;
}

.managersBox .clientManagers ul li a {
    color: #ff9900;
    text-decoration: none;
}

.managersBox .clientManagers ul li a:hover {
    text-decoration: underline;
}

/* projectManagers */


.managersBox .projectManagers h3 {
    margin: 2px 0 4px;
}

.managersBox .projectManagers ul {
    width: auto;
    padding-bottom: 6px;
    overflow: hidden;
}

.managersBox .projectManagers ul li {
    width: auto;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-right: 12px;
    padding-left: 18px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    background: url(/images/projectManagers_icon.png) no-repeat left top;
}

.managersBox .projectManagers ul li a {
    text-decoration: none;
}

.managersBox .projectManagers ul li a:hover {
    text-decoration: underline;
}

/* table */
table.project th.activitiesTitle {
    font-size: 14px;
}

table.project td.contestActivities {
    padding: 0 !important;
}

table.project td .ajaxTableLoader {
    margin: 14px 0 10px 0;
    text-align: center;
}

td.contestActivities .completed {
    padding: 7px 15px 10px 15px;
    background: url(/images/posted.png) no-repeat left top;
}

td.contestActivities .review {
    padding: 7px 15px 10px 15px;
    background: url(/images/completed.png) no-repeat left top;
}


td.contestActivities .review .leftLaunch p {
    background-image: url(/images/completed_icon.png);
}


td.contestActivities .review .rightLaunch p a {
    color: #ddcc00;
}

td.contestActivities .leftLaunch {
    width: 76%;
    float: left;
    display: inline;
}

td.contestActivities .leftLaunch h3 {
    font-size: 12px;
    line-height: 18px;
}

td.contestActivities .leftLaunch p {
    width: auto;
    float: left;
    display: inline;
    padding-left: 24px;
    margin-right: 20px;
    font-size: 11px;
    color: #ff0000;
    line-height: 18px;
    background-position: left center;
    background-repeat: no-repeat;
}

td.contestActivities .completed .leftLaunch p {
    background-image: url(/images/posted_icon.png);
}

td.contestActivities .leftLaunch a {
    width: auto;
    float: left;
    display: inline;
    padding-left: 16px;
    font-size: 11px;
    color: #666666;
    line-height: 18px;
    background: url(/images/view_icon.png) no-repeat left center;
}

td.contestActivities .leftLaunch a:hover {
    text-decoration: none;
}

td.contestActivities .rightLaunch {
    width: auto;
    float: right;
    display: inline;
    padding-top: 3px;
}

td.contestActivities .rightLaunch p {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}

td.contestActivities .rightLaunch p a {
    font-weight: bold;
    text-decoration: none;
}

td.contestActivities .rightLaunch p a:hover {
    text-decoration: underline;
}

td.contestActivities .completed .rightLaunch p a {
    color: #00a900;
}

/* modal */
#projectDescModal {
    width: 856px;
}

#new-modal #projectDescModal .modalHeader {
    background: url(/images/modal-header-new.png) left 0 no-repeat;
}

#new-modal #projectDescModal .modalHeader .modalHeaderRight {
    background: url(/images/modal-header-new.png) right -80px no-repeat;
}

#new-modal #projectDescModal .modalHeader .modalHeaderCenter {
    background: url(/images/modal-header-new.png) left -40px repeat-x;
}

#new-modal #projectDescModal .modalHeader .modalHeaderCenter {
    padding-left: 12px;
}

#projectDescModal .description {
    width: 811px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 4px;
}

#projectDescModal .description p {
    margin-bottom: 18px;
    font-size: 12px;
    color: #000000;
    line-height: 18px;
}

.notSetMessage {
    font-size: 11px !important;
    color:red !important;
}

.notSetMessage a {
    color: red !important;
    font-size: 11px !important;
    text-decoration:underline !important;
    float: none !important;
    padding-left: 0px !important;
}

.notSetMessage a:hover {
    text-decoration:none !important;
}

.notSet {
    color: red;
    font-style: italic;
}

.notSet a {
    color: red;
    text-decoration:none !important;
}

.notSet a:hover {
    text-decoration:underline !important;
}

.columeThird .projectBudget dt.projected, .columeForth .projectDuration dt.projected {
    background-image: url("/images/projected-icon.gif");
}

.columeThird .projectBudget dt.projected.red, .columeForth .projectDuration dt.projected.red {
    background-image: url("/images/actual_red_icon.png");
}

.columeThird .projectBudget dd.projectedNum.red, .columeForth .projectDuration dd.projectedNum.red {
    color: #ff0000;
}

.ratingView {
    overflow: hidden;
}

.ratingView span {
    background: url(/images/rating2.png) no-repeat 0 0;
    height: 13px;
    width: 14px;
    float: left;
    margin-right: 2px;
}

.ratingView span.active {
    background-position: 0 -13px;
}

.managersBox .pRatings {
    font-size: 11px;
    padding-left: 10px;
    width: 263px;
    float: left;
    min-height: 148px;
}

.managersBox .pRatings dt {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0 10px;
}

.noData .managersBox .pRatings dt {
    padding-bottom: 2px;
}

.managersBox .pRatings dd {
    overflow: hidden;
    padding: 0 0 10px;
}

.managersBox .pRatings dd label {
    float: left;
    width: 134px;
}

.managersBox .pRatings dd .ratingView {
    float: left;
}

.noData .managersBox .clientManagers h3, .noData .managersBox .projectManagers h3 {
    margin-bottom: 0;
}

.managersBox .managersMask {
    float: left;
    min-width: 200px;
    padding-left: 0;
    padding-bottom: 11px;
}

.managersBox  .additionalInfo {
    float: left;
    padding: 4px 2px 6px 0;
    font-size: 11px;
    min-width: 200px;
}

.noData .managersBox  .additionalInfo, .noData .managersBox .managersMask {
    min-width: 260px;
}

.managersBox  .additionalInfo dt {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
}

.noData .managersBox  .additionalInfo dt {
    padding-bottom: 0;
}

.managersBox  .additionalInfo dd {
    overflow: hidden;
    padding-bottom: 2px;
}

.managersBox  .additionalInfo dd label {
    width: 125px;
    float: left;
}

.managersBox  .additionalInfo dd span {
    padding-left: 125px;
    display: block;
    color: #666;
}

.columeThird .projectBudget .projectedCost, .columeForth .projectDuration .projectDuration {
    display: inline;
    float: left;
    height: 13px;
    left: 2px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: auto;
}

.columeThird .projectBudget .projectedCost .leftProjected, .columeForth .projectDuration .projectedDuration .leftProjected {
    width: auto;
    float: left;
    display: inline;
    padding-left: 4px;
    background-position: left 0;
    background-repeat: no-repeat;
}

.columeThird .projectBudget .projectedCost .rightProjected, .columeForth .projectDuration .projectedDuration .rightProjected {
    width: auto;
    float: left;
    display: inline;
    padding-right: 4px;
    background-position: right -26px;
    background-repeat: no-repeat;
}

.columeThird .projectBudget .projectedCost .midProjected, .columeForth .projectDuration .projectedDuration .midProjected {
    width: 10px;
    float: left;
    display: inline;
    height: 13px;
    background-position: left -13px;
    background-repeat: repeat-x;
}

.columeThird .projectedCost .leftProjected, .columeThird .projectedCost .rightProjected, .columeThird .projectedCost .midProjected,
.columeForth .projectedDuration .leftProjected, .columeForth .projectedDuration .rightProjected, .columeForth .projectDuration .midProjected {
    background-image: url(/images/black-bar.png);
}

.columeThird .projectedCost.red .leftProjected, .columeThird .projectedCost.red .rightProjected, .columeThird .projectedCost.red .midProjected,
.columeForth .projectedDuration.red .leftProjected, .columeForth .projectedDuration.red .rightProjected, .columeForth .projectedDuration.red .midProjected {
    background-image: url(../images/actual_red.png);
}

.columeThird .projectBudget dt.noData , .columeForth .totalBudgetInfor dt.noData {
    background: none !important;
    padding-left: 0;
}

.projectEditLink {
    background: url(/images/edit-icon.png) no-repeat 0 2px;
    display: inline-block;
    line-height: 14px;
    color: #ea0107 !important;
    padding-left: 20px;
    margin-top: 4px;
    font-size: 11px;
}

.projectEditLink:hover {
    text-decoration: none;
}

table.project th.activitiesTitle {
    font-size: 14px;
}
table.project td.contestActivities {
    padding: 0 !important;
}
table.project td .ajaxTableLoader {
    margin: 14px 0 10px;
    text-align: center;
}
td.contestActivities .contestLaunch {
    background: url("/images/posted.png") no-repeat scroll left top transparent;
    padding: 7px 15px 10px;
}
td.contestActivities .review {
    background: url("/images/completed.png") no-repeat scroll left top transparent;
    padding: 7px 15px 10px;
}
td.contestActivities .review .leftLaunch p {
    background-image: url("/images/completed_icon.png");
}
td.contestActivities .review .rightLaunch p a {
    color: #DDCC00;
}

td.contestActivities .reviewPending {
    background: url("/images/completed.png") no-repeat scroll left top transparent;
    padding: 7px 15px 10px;
}
td.contestActivities .reviewPending .leftLaunch p {
    background-image: url("/images/completed_icon.png");
}
td.contestActivities .reviewPending .rightLaunch p a {
    color: #DDCC00;
}

td.contestActivities .reviewComplete {
    background: url("/images/completed.png") no-repeat scroll left top transparent;
    padding: 7px 15px 10px;
}
td.contestActivities .reviewComplete .leftLaunch p {
    background-image: url("/images/completed_icon.png");
}
td.contestActivities .reviewComplete .rightLaunch p a {
    color: #DDCC00;
}

td.contestActivities .leftLaunch {
    display: inline;
    float: left;
    width: 76%;
}
td.contestActivities .leftLaunch h3 {
    font-size: 12px;
    line-height: 18px;
}
td.contestActivities .leftLaunch p {
    background-position: left center;
    background-repeat: no-repeat;
    color: #FF0000;
    display: inline;
    float: left;
    font-size: 11px;
    line-height: 18px;
    margin-right: 20px;
    padding-left: 24px;
    width: auto;
}
td.contestActivities .contestLaunch .leftLaunch p {
    background-image: url("/images/posted_icon.png");
}

td.contestActivities .leftLaunch a {
    background: url("/images/view_icon.png") no-repeat scroll left center transparent;
    color: #666666;
    display: inline;
    float: left;
    font-size: 11px;
    line-height: 18px;
    padding-left: 16px;
    width: auto;
}
td.contestActivities .leftLaunch a:hover {
    text-decoration: none;
}
td.contestActivities .rightLaunch {
    display: inline;
    float: right;
    padding-top: 3px;
    width: auto;
}
td.contestActivities .rightLaunch p {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}
td.contestActivities .rightLaunch p a {
    font-weight: bold;
    text-decoration: none;
}
td.contestActivities .rightLaunch p a:hover {
    text-decoration: underline;
}
td.contestActivities .completed .rightLaunch p a {
    color: #00A900;
}


#projectActivities tbody td{
    border-top: 0px !important;
    border-bottom: 1px !important;
    border-left: 1px !important;
    border-right: 1px !important;
    border-style: solid !important;
    border-color: #BDBDBD !important;
}

#projectStatistics {
    min-height: 300px;
}

#projectStatistics td .ajaxTableLoader {
    margin: 150px 0 150px 0;
    text-align: center;
}

