/**
 * The CSS File contains CSS styles used specifically used for rendering IE7.
 *
 * Release Assembly - TC Cockpit Sidebar Header and Footer Update changes:
 * 1) Added new styles for help center widget.
 
 * Version 1.1 (Release Assembly - TopCoder Security Groups - Release 2) change notes: added styles for Group 
 * Permissions area
 * 
 * Version 1.2 (Release Assembly - TopCoder Cockpit Direct UI Text and Layout Bugs Termination 1.0)
 * Fix bugs.
 */
.add_comment_cancel_text{
	margin-right: 22px;
}

.spec_review_odd_question{
	margin-top:10px;
	padding-bottom: 10px;
	background-color:#F5F5F5;
}

.no_details .add_your_comment {
	padding: 0px;
	padding-bottom: 10px;
	width: 100%;
}

.no_details .add_your_comment .textarea1{
	height:90px;
	margin-left: 25px;
	margin-right: 70px;
}

.dashboardPage .tabContent {
    position: relative;
    top: -1px;
}

.homePage .tabContent {
    position: relative;
    top: -13px;
}

.tabContent ul li {
    padding-bottom: 5px;
    background: url(../../images/grayArrow.gif) no-repeat 0 7px;
}

.tabMore {
    position: relative;
    left: -9px;
}

.homePage #helpCenterWidget .contactUs {
    margin-top: 0px;
}

#helpCenterWidget .contactUs {
    margin-top: 13px;
}

.customUploadWrap {
	width:525px;
}

.postFrame {
	width:431px;
}

.stepNav {
		padding:25px 0 0;
}

.homePageRSS {
    background: url("../../images/feed-icon.gif") no-repeat scroll center center transparent;
    display: block;
    padding-left: 13px;
    padding-top: 18px;
    width: 26px;
    padding-right: 0px;
    padding-bottom: 0px;
}

/* Add css code for https://apps.topcoder.com/bugs/browse/BUGR-6104 */
.newSidebar .contestList .tableBody table{
   width:235px;
}
.newSidebar .contestList .tableBody col.last{
   width:45px;
}

#projectsResult TABLE.resultTable   TD SPAN {
    margin-left: 25px;
}

.get-a-copilot .stepFirst.stepContainer .geryContent .rowItem p .tips {
    position: relative;
}

#settingModal input,
.permissionsNotifications input, .groupPermissions input {
    position:static;
    top:0;
}

.specailCol{
    width:166px !important;
}
#activeContests_length{
	width:133px;
	float:right;
	display:table-cell;
	vertical-align:middle;
}
.perpage{
	position:absolute;
	margin-top:8px;
}
.showPerPage{
	margin-top:7%;
}
.bottom1{
	display:table;
}
.newSidebar .contestList .dropdownWidget .dropList .even{
}
.newSidebar .contestList .dropdownWidget .dropList .even a{
	width:190px;
}
.newSidebar .contestList .filter .dropdownWidget .dropList {
	overflow-x:hidden;
}
#dataTableLength{
	margin-top:3%;

}
#tabs1{
	z-index:-1;
}
#tabs0 UL > li .subNav {

}
.filterPanel .filterHead .inner .searchContainer input {
	line-height:20px;
	
}
.filterPanel .filterHead .inner .searchContainer .filterSearch {
	padding-top:1px;
	height:19px;
}
#tabs0 UL > li .subNav a {
	width:110px;
}

#tabs0 UL > li:first-child .subNav a {
	width:155px;
}
body{
	overflow:hidden;
}