lib/tcs/auto_screening_management.jar
lib/tcs/client_invoice_entities_dao.jar
lib/tcs/cockpit_facade_util.jar
lib/tcs/configuration_manager.jar
lib/tcs/copilot_pool_and_profiles_services.jar
lib/tcs/deliverable_management.jar
lib/tcs/ejb/admin_service_facade.jar
lib/tcs/ejb/catalog_services.jar
lib/tcs/ejb/client_project_entities_dao.jar
lib/tcs/ejb/cloud_vm_service.jar
lib/tcs/ejb/contest_eligibility_persistence.jar
lib/tcs/ejb/contest_eligibility_validation.jar
lib/tcs/ejb/contest_service_facade.jar
lib/tcs/ejb/game_plan_service.jar
lib/tcs/ejb/permission_service_facade.jar
lib/tcs/ejb/pipeline_service.jar
lib/tcs/ejb/pipeline_service_facade.jar
lib/tcs/ejb/project_service.jar
lib/tcs/ejb/project_service_facade.jar
lib/tcs/ejb/project_services.jar
lib/tcs/ejb/specification_review_comment_service.jar
lib/tcs/ejb/specification_review_service.jar
lib/tcs/ejb/user_service.jar
lib/tcs/ejb/user_service_facade.jar
lib/tcs/online_review_upload_services.jar
lib/tcs/phase_management.jar
lib/tcs/project_management.jar
lib/tcs/project_phases.jar
lib/tcs/resource_management.jar
lib/tcs/review_application_management.jar
lib/tcs/review_management.jar
lib/tcs/scorecard_management.jar
lib/tcs/team_management.jar
lib/tcs/topcoder_cockpit_asset_services.jar
lib/tcs/topcoder_cockpit_project_metadata_services.jar
lib/tcs/topcoder_cockpit_project_milestone_services.jar
lib/tcs/topcoder_cockpit_task_management_services.jar
lib/tcs/workdays.jar
lib/tcs/project_payment_management.jar
build/
direct.ear
direct.jar
target/
token.properties
topcoder_global.properties
stacktrace.log
/bin/
.DS_Store
*/.DS_Store
*.iml
*.rej
*.diff
.idea

/removeVmFeatures.patch
