<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.informix.jdbc.IfxDriver" />
		<property name="url"
			value="jdbc:informix-sqli://localhost:2021/test:informixserver=informixoltp_tcp" />
		<property name="username" value="informix" />
		<property name="password" value="1nf0rm1x" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>mapping/ResponsiblePerson.hbm.xml</value>
				<value>mapping/Milestone.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.InformixDialect</prop>
				<!-- prop key="hibernate.show_sql">true</prop -->
			</props>
		</property>
	</bean>

	<bean id="logger" class="com.topcoder.util.log.LogManager"
		factory-method="getLog">
		<constructor-arg value="myLogger" />
	</bean>

	<bean id="directProjectMetadataService"
		class="com.topcoder.direct.services.project.metadata.MockDirectProjectMetadataService">
	</bean>

	<bean id="milestoneService"
		class="com.topcoder.direct.services.project.milestone.hibernate.HibernateMilestoneService">
		<property name="logger" ref="logger" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="responsiblePersonService"
		class="com.topcoder.direct.services.project.milestone.hibernate.HibernateResponsiblePersonService">
		<property name="logger" ref="logger" />
		<property name="directProjectMetadataService" ref="directProjectMetadataService" />
	</bean>


	<!-- the transactional advice (what 'happens'; see the <aop:advisor/> bean
		below) -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<!-- the transactional semantics... -->
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" />
			<!-- other methods use the default transaction settings -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>