/*------------------
	Get A Copilot
-------------------*/
ol, ul {
    list-style: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 16px;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a.button6, a.button7 {
    font-weight: bold;
}

a.button4 {
    font-weight: bold;
}

a.draft, a.preview { height: 21px;
    line-height: 21px;
    background: #ff8a00;
    border-bottom: 3px solid #ff6700;
    border-radius: 4px;
    behavior: url(./css/PIE.htc);
    color: #ffffff;

    background: #ff8a00;
    border-bottom: 3px solid #ff6700;
}

a.draft:hover, a.preview:hover {
    border-bottom: 3px solid #ff8a00;
}

a.draft span.left, a.preview span.left {
    background: none;
    width: auto;
    float: left;
    display: inline;
}

a.draft:hover span.left, a.preview:hover span.left {
}

.tabHead a.draft span.right, .tabHead a.preview span.right {
    background: none;
    padding: 0 15px 0 15px;
    text-align: center;
}

a.draft span.right, a.preview span.right {
    width: auto;
    float: left;
    background: none;
    display: inline;
    padding: 0 19px 0 15px;
    text-align: center;
}

a.draft:hover span.right, a.preview:hover span.right {

}

a.smallRed span.right {
    padding: 4px 19px 0 15px;
}

/*-------------
	HEADER
---------------*/

#header {
    height: 120px;
    background: url(/images/header_dash_bg.png) repeat-x;
    position: relative;
}

#header .logo {
    position: absolute;
    top: 44px;
    left: 21px;
    font-family: "Source Sans Pro", Geneva, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

#header .logo img.copilotTitle {
    vertical-align: bottom;
    margin-right: 10px;
}

#header .logo span {
    font-weight: bold;
    line-height: 39px;
}

#header .projectLogo {
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 3px;
    background: url(/images/project_logo.png) no-repeat left;
}

#header .helloUser {
    /* this area will contain the logout, help links*/
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 12px;
}

#header .helloUser UL {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .helloUser LI {
    float: left;
    color: #444;
}

#header .helloUser LI strong {
    color: #fffffd;
}

/*#header .helloUser A{
    color: #fffffe;
    padding: 0 5px;
    text-decoration: none;
}
*/
#header .helloUser A:hover {
    color: #908986;
}

#header .helloUser A.user {
    color: #ec1c23 !important;
    font-weight: bold;
    padding-left: 0;
}

#header .helloUser A.help {
    background: url(/images/help_ico6.png) no-repeat right 0;
    padding-right: 20px;
    padding-top: 2px;
    font-weight: bold;
}

#header .helloUser A.help:hover {
    background: url(/images/help_ico6.png) no-repeat right -17px;
}

.dashBoardLookCP {
    position: absolute;
    top: 60px;
    right: 11px;
}

.lookCP {
    background: url(/images/redArrow.gif) no-repeat 0 center;
    padding-left: 13px;
    font-size: 11px;
    color: #333;
    margin-top: 10px;
    padding-right: 13px;
    float: right;
}

.lookCP a,
.lookCP a:visited {
    font-weight: bold;
    text-decoration: underline;
    color: #333;
}

.lookCP a:hover {
    text-decoration: underline;
}

/*-------------
	MAIN
---------------*/
.stepTitle h3.infoIcon {
    background: url(/images/i_icon.png) 0 0 no-repeat;
    padding-left: 36px;
}

.stepTitle h3.tickIcon {
    background: url(/images/tick-icon.png) 0 0 no-repeat;
    padding-left: 36px;
}

.get-a-copilot h3 span.small {
    background: url(/images/small-round.png) 0 0 no-repeat;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    width: 26px;
    height: 26px;
    font-size: 18px;
}

.get-a-copilot #area1 .currentPage {
    padding-top: 20px;
}

/* step bar */
.get-a-copilot .stepBar {
    height: 43px;
    margin-right: 0;
}

.get-a-copilot .stepTitle h3 {
    width: auto;
    float: left;
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    height: 26px;
    font-family: "Source Sans Pro", Tahoma, Arial, Helvetica, sans-serif;
}

.stepNav {
    padding: 22px 0;
}

.stepNav a.button4, .stepNav a.button4:visited {
    text-align: center;
    float: left;
}

.stepNav a.draft, .stepNav a.draft:visited {
    float: right;
}

/* form */
.get-a-copilot .stepContainer .geryContent .form {
    padding: 0;
    padding: 20px 28px 32px;
    min-height: 425px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
}

.get-a-copilot .stepContainer .geryContent .noteContainer {
    padding: 18px 25px 22px;
    margin: 0;
    margin-bottom: 13px;
    /*min-height:30px;*/

}

.get-a-copilot .stepContainer .geryContent .noteContainer p {
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    padding: 0;
    line-height: 1.2;
}

/* row */
.get-a-copilot .stepContainer .geryContent .row {
    clear: both;
    margin: 0;
    padding: 0;
}

.get-a-copilot .stepContainer .geryContent .row .intro {
    float: left;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    width: auto;
    font-family: "Source Sans Pro", Tahoma, "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666;
    line-height: 25px;
}

.geryContent .row span.red {
    color: red;
}

.get-a-copilot .attention {
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    margin-left: 213px;
    display: block;
    margin-top: 13px;
}

/*--- title ----*/
.title {
    /* title caption */
    background: #f1f1f1;
    height: 100%;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    color: #666666;
}

.titleLeft {
    /* left corner of the title caption */
    background: #f1f1f1;
}

.titleRight {
    /* right corner of the title caption */
    background: #f1f1f1;
    height: 35px;
}

.title H2 {
    /* title */
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-top: 9px;
    padding-left: 10px;
    font-weight: normal;
    color: #1a1a1a;
    text-transform: uppercase;
}

.title a.edit, .title a.edit:visited {
    background: url(/images/edit-white.png) 0 0 no-repeat;
    width: 52px;
    height: 25px;
    display: inline-block;
    float: right;
    margin: 5px 10px 0 0;
}

.title a.edit:hover {
    background-position: 0 -25px;
}
.title a.edit:active{
    background-position: 0 -50px;
}

.get-a-copilot .stepContainer .geryContent .rowItem {
    padding: 20px 10px;
}

.get-a-copilot .stepContainer .geryContent .rowItemFirst {
    margin-bottom: 20px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem {
    margin-bottom: 15px;
}

.get-a-copilot .stepContainer .geryContent .rowItem p {
    margin: 0;
    padding: 0;
    padding-bottom: 28px;
    position: relative;
}

.get-a-copilot .stepFirst.stepContainer .geryContent .rowItem p {
    margin-bottom: 20px;
    padding-bottom: 35px;
}

.get-a-copilot .stepContainer .geryContent .rowItem label {
    width: 170px;
    padding-right: 30px;
    font-size: 12px;
    /*float:left;*/
}

.get-a-copilot .stepContainer .geryContent .rowItem .cke {
    float: left;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem label {
    width: 390px;
    font-size: 12px;
    padding: 0;
    line-height: 25px;
}

#projectName, #projects {
    width: 410px;
}

#projects {
    float: left;
    margin-top: 2px;
}

#addNewProject {
    float: left;
    margin-left: 25px;
}
#addNewProject span{
    background: none;
}

.get-a-copilot .stepContainer .geryContent .row .text {
    width: 400px;
}

.stepContainer .geryContent .row .text {
    height: 19px;
    float: left;
    display: inline;
    padding: 0px 5px;
    border-radius: 4px;
    background: white;
    border: #e7e7e7 solid 1px;
    font-family: "Source Sans Pro", Tahoma, "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6C6C6C;
    width: 60px;
}

.get-a-copilot .stepContainer .geryContent .rowItem p .tips {
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    margin-left: 200px;
    display: block;
    position: absolute;
    bottom: 14px;
}

.get-a-copilot .stepFirst.stepContainer .geryContent .rowItem p .tips {
    bottom: 3px;
}

.projectNameTips {
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    margin-left: 210px;
    margin-bottom: 10px;
}

label.other {
    display: block;
    float: none;
    margin-bottom: 12px;
}

.get-a-copilot .customUploadWrap {
    float: left;
    position: relative;
    display: block;

}

.get-a-copilot .customUpload {
    position: absolute;
    top: 0;
    right: 0;
    height: 26px;
    z-index: 999;
    cursor: pointer;
    width: 100%;
}

.get-a-copilot .text.uploadInput {
    float: left;
    width: 413px;
    margin-right: 20px;
}

.get-a-copilot .uploadBtn {
    position: relative;
    top: -6px;
}

.get-a-copilot .uploadBtnRed {
    float: left;
    margin-left: 20px;

    height: 21px;
    line-height: 21px;
    background: #81bc01;
    border-bottom: 3px solid #5ba801;
    border-radius: 4px;
    behavior: url(./css/PIE.htc);
    color: #ffffff;
}

.get-a-copilot .uploadBtnRed span.right {
    padding: 0 19px 0 15px;
    background: none;
}
.get-a-copilot .uploadBtnRed span.left{
    background: none;
}

/** add button **/
.uploadContent .addButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-left: 20px;
    background: url(/images/addButton.gif) no-repeat;
}

.uploadContent .addButton:hover {
    background: url(/images/addButton_hover.gif) no-repeat;
}

/** remove button **/
.uploadContent .removeButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-left: 20px;
    background: url(/images/removeButton.gif) no-repeat;
}

.uploadContent .removeButton:hover {
    background: url(/images/removeButton_hover.gif) no-repeat;
}

.uploadContent .removeButton.hide {
    display: none;
}

.checkType {
    float: left;

}

.checkType span {
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    color: #666666;
    display: block;
    margin-bottom: 15px;
}

.checkType ul {
    width: auto;
    float: left;
}

.checkType ul li {
    width: 261px;
    margin-bottom: 13px;
}

.checkType ul li input {
    margin-right: 5px;
}

.get-a-copilot .geryContent .rowItem .checkType ul li label {
    width: auto;
    padding: 0;
    position: relative;
    top: -1px;
    float: none;
}

.get-a-copilot .budget .geryContent .form {
    padding: 0;
    padding: 20px 28px 32px;
    min-height: 260px;
}

.budget .rowItem ul {
    float: left;
}

.budget .rowItem ul li {
    margin-bottom: 30px;
}

.budget .rowItem ul li label {
    float: none;

}

.get-a-copilot .budget .geryContent .rowItem ul li .text {
    float: none;
    width: 168px;
}

.budget .rowItem ul li input.radio {
    margin-right: 5px;
}

.get-a-copilot .stepForth .geryContent .form {
    padding: 0;
    padding: 20px 28px 32px;
    min-height: 335px;
}

.get-a-copilot .stepForth .uploadBtnRed {
    margin: 0;
}

.stepContainer .rowItem .red-button-big .middle {
    width: 109px;
    text-align: center;
    padding: 0;
}

.red-button-big {
    display: inline-block;
    background: url(/images/red-button-big.png) left top no-repeat;
    height: 25px;
    padding-left: 4px;
    color: #fffffc;
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    overflow: hidden;
}

.red-button-big .right {
    display: inline-block;
    background: url(/images/red-button-big.png) right -50px no-repeat;
    padding-right: 4px;
    cursor: pointer;
}

.red-button-big .right .middle {
    display: inline-block;
    background: url(/images/red-button-big.png) left -25px repeat-x;
    padding: 0 16px;
    cursor: pointer;
}

.red-button-big:hover {
    background-position: left -75px;
}

.red-button-big:hover .right {
    background-position: right -125px;
}

.red-button-big:hover .right .middle {
    background-position: left -100px;
}

.disabled-button,
.disabled-button:hover {
    display: inline-block;
    background: url(/images/disabled-button.png) left top no-repeat;
    height: 25px;
    padding-left: 4px;
    color: #b8b8b8;
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    overflow: hidden;
}

.disabled-button .right,
.disabled-button:hover .right {
    display: inline-block;
    background: url(/images/disabled-button.png) right -50px no-repeat;
    padding-right: 4px;
    cursor: pointer;
}

.disabled-button .right .middle,
.disabled-button:hover .right .middle {
    display: inline-block;
    background: url(/images/disabled-button.png) left -25px repeat-x;
    padding: 0 16px;
    cursor: pointer;
}

.stepContainer .rowItem .red-button-big .middle {
    width: 109px;
    text-align: center;
    padding: 0;
}

.postFrame {
    background: #f4f4f4;
    border: 1px solid #bdbdbd;
    float: left;
    position: relative;
    padding: 15px;
    font-size: 12px;
    color: #333333;
}

span.grayArrow {
    background: url(/images/grayArrow.png) 0 0 no-repeat;
    width: 11px;
    height: 7px;
    display: block;
    position: absolute;
    left: 7px;
    top: -7px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .postFrame p {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 15px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label {
    width: auto;
    float: none;
    margin-right: 10px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label.first {
    margin-left: 12px;
    float: left;
    display: inline;
    font-weight: bold;
    line-height: 22px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label.second {
    margin-left: 25px;
    float: left;
    display: inline;
    font-weight: bold;
    line-height: 22px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .dw {
    float: left;
    display: inline;
    font-weight: normal;
    line-height: 22px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .prizeInfo {
    float: left;
    display: inline;
    font-weight: normal;
    line-height: 22px;
    margin-left: 4px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .useAmountLabel {
    float: left;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .useAmountRadio {
    float: left;
    margin-top: 4px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .amountText {
    float: left;
    width: 50px;
    margin-top: 2px;
    margin-left: 4px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .amountText2 {
    float: none;
    width: 50px;
    margin-top: 2px;
    margin-left: 4px;
}

.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .radio2 {
    margin-right: 7px;
}

.get-a-copilot .stepContainer .geryContent .row .postFrame .text {
    width: 120px;
    float: none;
}

.get-a-copilot .stepFifth .geryContent .form {
    padding: 0;
    padding: 20px 28px 32px;
    min-height: 200px;
}

#selectAccount, #billingProjects {
    width: 410px
}



.get-a-copilot .stepSix .geryContent .form {
    padding: 0;
    padding: 30px 28px 32px;
}

.get-a-copilot .stepSix .geryContent .form .rowItem {
    padding: 20px 10px 25px;
}

.get-a-copilot .stepSix .geryContent .form .rowItem td label {

}

.get-a-copilot .stepSix .geryContent .form .rowItem td span {
    color: #333333;
    padding: 0;
    font-size: 12px;

}

.get-a-copilot .stepSix .geryContent .form .rowItem td #contestNameSummary {
    line-height: 20px;
}

.get-a-copilot .stepSix .geryContent .form .rowItem td #reviewStyleSummary {
    line-height: 23px;
}

.get-a-copilot .buttonBottom {
    margin-top: 15px;
}

.get-a-copilot .buttonBottom li {
    float: left;
    margin-right: 12px;
}

.uploadDoc {
    font-size: 12px;
    color: #0000ff;
    text-decoration: none;
}

.uploadDoc:hover {
    text-decoration: underline;
}

.get-a-copilot li a.viewContest,
.get-a-copilot li a.viewContest:visited {
    color: #666;
    background: url(/images/view_contest.png) 0 0 no-repeat;
    font-size: 11px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 19px;
    height: 19px;
    padding-left: 24px;
    display: inline-block;
}
.get-a-copilot li a.viewContest:hover{
    text-decoration: underline;
    color: #f90;

}
.get-a-copilot li a.viewContest span {
    border-right: 1px solid #d6d6d6;
    display: inline-block;
    padding-right: 9px;
    cursor: pointer;
}

.get-a-copilot li a.viewContest span.noBorderRight {
    border-right: 0px;
}

.get-a-copilot li a.viewContest:hover span, .get-a-copilot li a.forumIcon:hover span, .get-a-copilot li a.viewProjectOverview:hover span {
    text-decoration: underline;
}

.get-a-copilot li a.viewProjectOverview, .get-a-copilot li a.viewProjectOverview:visited {
    background: url(/images/project_overview_icon.png) 0 0 no-repeat;
    font-size: 11px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 19px;
    height: 19px;
    padding-left: 24px;
    display: inline-block;
}

.get-a-copilot li a.viewProjectOverview span {
    border-right: 1px solid #d6d6d6;
    display: inline-block;
    padding-right: 9px;
    cursor: pointer;
}

.get-a-copilot li a.forumIcon,
.get-a-copilot li a.forumIcon:visited {
    background: url(/images/forum_ico.png) 0 0 no-repeat;
    font-size: 11px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 19px;
    height: 19px;
    padding-left: 21px;
    display: inline-block;
}

.get-a-copilot .stepSix li a.forumIcon span {
    display: inline-block;
    cursor: pointer;
}

.get-a-copilot .stepSeven .geryContent .form {
    padding: 0;
    padding: 20px 28px 20px;
    min-height: 170px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
}

.get-a-copilot .stepSeven .geryContent .noteContainer {
    padding: 18px 25px 22px;
    margin: 0;
    margin-bottom: 13px;
    min-height: 0;
}

.get-a-copilot .stepSeven .form .noteContainer p {
    font-size: 14px;
    color: #333333;
    line-height: normal;
    background: url(/images/ico_true.png) left center no-repeat;
    padding-left: 25px;
}

.get-a-copilot .stepSeven .form .textArea {
    font-size: 12px;
}

.get-a-copilot .copilotPool .geryContent .form {
    padding: 0;
    padding: 30px 28px 20px;
}

.get-a-copilot .copilotPool .titleRight {
    padding: 0 13px;

}

.get-a-copilot .copilotPool .titleRight #layout {
    overflow: hidden;
    float: left;
    margin-top: 6px;
}

.get-a-copilot .copilotPool .titleRight #layout li {
    float: left;
    margin-right: 45px;
}

.get-a-copilot .copilotPool .titleRight li a.grid,
.get-a-copilot .copilotPool .titleRight li a.grid:visited {
    background: url(/images/grid_icon.png) left center no-repeat;
    padding-left: 13px;
    display: inline-block;
    color: #333333;
    font-size: 11px;
    text-decoration: none;
}

.get-a-copilot .copilotPool .titleRight li a.list,
.get-a-copilot .copilotPool .titleRight li a.list:visited {
    background: url(/images/list_icon.png) left center no-repeat;
    padding-left: 13px;
    display: inline-block;
    color: #333333;
    font-size: 11px;
    text-decoration: none;
}

.get-a-copilot .copilotPool .titleRight #display {
    overflow: hidden;
    float: right;
    margin-top: 6px;
}

.get-a-copilot .copilotPool .titleRight #display li {
    float: right;
    margin-left: 9px;
}

.get-a-copilot .copilotPool .titleRight #display li label {
    font-size: 11px;
    width: auto;
    padding-right: 7px;
    line-height: 20px;
}

/* projectItem */
.projectList {
    overflow: hidden;
}

.copilotPool .projectItem {
    width: 293px;
    float: left;
    display: inline;
    margin-top: 18px;
    cursor: pointer;
    overflow: hidden;
}

.copilotPool .projectItem .projectContainer .top {
    width: 293px;
    padding-top: 10px;
    background: url(/images/selectCopilot_top.png) no-repeat left top;
}

.copilotPool .projectItem .projectContainer .bottom {
    width: 100%;
    padding-bottom: 10px;
    background: url(/images/selectCopilot_bottom.png) no-repeat left bottom;
}

.copilotPool .projectItem .projectContainer .bg {
    width: 100%;
    height: 181px;
    padding-top: 7px;
    background: url(/images/selectCopilot_bg.png) repeat-y left top;
}

.copilotPool .projectItem .hover .top {
    width: 293px;
    padding-top: 10px;
    background: url(/images/selectCopilot_top_hover.png) no-repeat left top;
}

.copilotPool .projectItem .hover .bottom {
    width: 100%;
    padding-bottom: 10px;
    background: url(/images/selectCopilot_bottom_hover.png) no-repeat left bottom;
}

.copilotPool .projectItem .hover .bg {
    width: 100%;
    height: 181px;
    padding-top: 7px;
    background: url(/images/selectCopilot_bg_hover.png) repeat-y left top;
}

.copilotInfo {
    padding: 3px 19px 5px;
    font-size: 11px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    height: 142px;
}

.copioltPic {
    float: left;
    margin-right: 8px;
    width: 96px;
    overflow: hidden;
}

.blackButton {
    width: 96px;
    height: 21px;
    display: inline-block;
    font-size: 12px;
    color: #fffffc;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    background: url(/images/blackButton2.png) no-repeat left top;
    margin-top: 10px;
}

.blackButton:hover {
    background: url(/images/blackButton2.png) no-repeat left -21px;
    text-decoration: none;
}

.copioltPic .blackButton {
    margin-top: 10px;
}

.infoArea {
    width: 150px;
    float: left;
}

.copilotInfo table {
    width: 100%;
    margin-left: 3px;
}

.copilotInfo .firstLine {
    border-bottom: 1px solid #c3c3c3;
    padding: 0 3px 8px;
    line-height: 0.8;

}

.copilotInfo .firstTd {
    text-align: left;
    padding-left: 3px;
}

.copilotInfo .lastTd {
    text-align: right;
    padding-right: 5px;
}

.padding {
    padding-top: 4px;
}

.redText {
    color: #FF9900;
}

a.redText, a.redText:visited {
    text-decoration: none;
}

a.redText:hover {
    text-decoration: underline;
}

.greenText {
    color: #17c000;
}

.yellowText {
    color: #FFD700;
}

.copilotInfo p {
    padding-left: 3px;
    margin: 0;
    margin: 3px 0;

}

.copilotInfo ul {
    background: #ffffcc;
    border: 1px solid #c3c3c3;
    border-left: none;
    border-right: none;
    padding: 5px 4px;
    margin-bottom: 3px;
}

.copilotInfo ul li span {
    display: inline-block;
    width: 120px;
}

a.blue, a.blue:visited {
    padding-left: 9px;
    text-decoration: none;
    color: #FF9900;
    font-weight: bold;
}

a.blue:hover {
    text-decoration: underline;
}

.stepContainer .geryContent .corner.white {
    width: 4px;
    height: 4px;
    background: url(/images/white_corner.png) 0 0 no-repeat !important;
}

.stepContainer .geryContent .corner.white.tr {
    background-position: -4px 0 !important;
}

.pagination {
    float: right;
    margin: 13px 13px 0 0;
}

.pagination ul li {
    display: inline;
    margin: 0;
    list-style-type: none;
    float: left;
}

.pagination ul li a {
    float: left;
    color: #000002;
    text-decoration: none;
    padding: 0 4px;
    font-size: 12px;
    height: 9px;
    line-height: 10px;
}

.pagination ul li a:hover {
    text-decoration: underline;
}

.pagination ul li.current a, .pagination ul li.current a:hover {
    font-weight: bold !important;
    text-decoration: none;
}

.pagination ul li.next a {
    padding: 0 10px 0 4px;
    background: url(/images/arrow-pagination-next.png) right top no-repeat;
}

.pagination ul li.next a:hover {
    background-position: right bottom;
}

.pagination ul li.prev a {
    padding: 0 4px 0 10px;
    background: url(/images/arrow-pagination-prev.png) left top no-repeat;
}

.pagination ul li.prev a:hover {
    background-position: left bottom;
}

/* errortModal */
#copilotPopUp {
    width: 362px;
    display: none;
}

#copilotPopUp h2 {
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0 12px;
}

#copilotPopUp .modal-content {

}

#copilotPopUp .copilotInfo {
    background: #fff;
    border: 1px solid #c3c3c3;
    padding: 14px 13px 11px;
    width: 257px;
    margin: 0 auto;
    height: auto;
}

#copilotPopUp .copioltPic {
    text-align: center;
}

#copilotPopUp .inner {
    margin: 0 7px;
    background: url(/images/modalBg.png) repeat-x left bottom #e8e8e8;
}

#copilotPopUp .modalTop {
    padding: 10px 0 0;
    background: url(/images/small_modal_top2.png) no-repeat left top;
}

#copilotPopUp .modalBottom {
    padding: 0 0 10px;
    background: url(/images/small_modal_bottom2.png) no-repeat left bottom;
}

#copilotPopUp .modalBg {
    background: url(/images/small_modal_bg2.png) left top repeat-y;
    position: relative;
    left: -1px;
}

#copilotPopUp img {
    margin-bottom: 10px
}

#copilotPopUp p {
    margin: 10px 0;
}

#copilotPopUp .buttonArea {
    border: none;
    padding-left: 82px;
}

#copilotPopUp .buttonArea .button6 {
    width: 88px;
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    float: left;
    margin-right: 12px;
}
#errortModal .buttonBlue{
    margin: 0 auto;
    width: 30px;
    float: none;
margin-top: 16px;
    display: block;
}

.get-a-copilot .copilotList .geryContent .form {
    padding: 0;
    padding: 30px 28px 27px;
    min-height: 0;
}

.copilotListTable table {
    width: 100%;
    font-size: 11px;
}

.copilotListTable table th {
    font-weight: normal;
    background: url(/images/copilot_th_bg.png) 0 0 repeat-x;
    height: 34px;
    vertical-align: middle;
    border: 1px solid #bdbdbd;
    cursor: pointer;
}

.copilotListTable table th.hover {
    background: url(/images/copilot_th_hover_bg.png) 0 0 repeat-x;
}

.copilotListTable table th.first {
    border-left: none;
}

.copilotListTable table th.last {
    border-right: none;
}

.copilotListTable table td {
    text-align: center;
    height: 84px;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #bdbdbd;
}

.copilotListTable table tr.even {
    background: #f2f2f2;
}

.copilotListTable table td.custom {
    background: #ffffcc;
    border-left: 1px solid #bdbdbd;
}

.copilotListTable table td.last {
    border-left: 1px solid #bdbdbd;
}

.copilotListTable table td a.redText, .copilotListTable table td a.redText:visited {
    text-decoration: none;
    display: block;
}

.copilotListTable table td a:hover {
    text-decoration: underline;
}

.copilotListTable table td .blackButton:hover {
    text-decoration: none;
}

.copilotListTable .blue {
    display: block;
    width: 75px;
    margin: 14px auto 0;
}

.get-a-copilot .mainContent {
    padding-top: 30px;
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
}

.get-a-copilot .leftColumn {
    /*margin-right:355px;*/
    float: left;
    overflow: hidden;

}

.get-a-copilot .leftColumn .item {
    padding-bottom: 25px;
}

.get-a-copilot .leftColumn .item p {
    font-size: 12px;
    line-height: 1.5;
    padding: 13px 10px 0;
}

.get-a-copilot .leftColumn .item .buttonArea {
    text-align: center;
    margin-top: 30px;
}

.get-a-copilot .leftColumn .item .buttonArea a {
    display: inline-block;
    float: none;
}

.get-a-copilot .leftColumn .item .buttonArea .or {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin: 0 33px;
    font-size: 12px;
}

.get-a-copilot .rightColumn {
    float: right;
    width: 330px;
    margin-right: 7px;
}

.grayTextArea {
    padding: 13px 11px;
    background: #f2f2f2;
    font-size: 12px;
    position: relative;
    line-height: 1.5;
}

.grayTextArea .corner {
    background: url(/images/gray-corners.png) 0 0 no-repeat;
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
}

.grayTextArea .tl {
    background-position: 0 0;
    top: 0;
    left: 0;
}

.grayTextArea .tr {
    background-position: -3px 0;
    top: 0;
    right: 0;
}

.grayTextArea .bl {
    background-position: 0 -3px;
    bottom: 0;
    left: 0;
}

.grayTextArea .br {
    background-position: -3px -3px;
    bottom: 0;
    right: 0;
}

.get-a-copilot .mainContent .redText {
    font-size: 11px;
    text-decoration: none;
    margin: 10px 0 25px;
    display: inline-block;
}

.get-a-copilot .mainContent .redText:hover {
    text-decoration: underline;
}

.get-a-copilot .mainContent .firstLine .redText {
    margin: 0;
    display: inline;
}

.grayTextAreaCustom {
    background: #f2f2f2;
    font-size: 12px;
    position: relative;
    border: 1px solid #E7E7E7;
    line-height: 1.5;
}

.grayTextAreaCustom p {
    padding: 16px 11px;
}

.grayTextAreaCustom .corner {
    background: url(/images/gray-corners-custom.png) 0 0 no-repeat;
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
}

.grayTextAreaCustom .tl {
    background-position: 0 0;
    top: -1px;
    left: -1px;
}

.grayTextAreaCustom .tr {
    background-position: -3px 0;
    top: -1px;
    right: -1px;
}

.grayTextAreaCustom .bl {
    background-position: 0 -3px;
    bottom: -1px;
    left: -1px;
}

.grayTextAreaCustom .br {
    background-position: -3px -3px;
    bottom: -1px;
    right: -1px;
}

.grayTextAreaCustom h3 {
    text-transform: uppercase;
    color: #1a1a1a;
    font-size: 14px;
    background: url(/images/line.gif) left bottom repeat-x;
    padding: 7px 10px 8px;
    font-weight: normal;
}

.grayTextAreaCustom .red {
    color: red;
}

.grayTextAreaCustom .copilotInfo {
    padding: 17px 20px 10px;
}

.grayTextAreaCustom .infoArea {
    width: 170px;
}

.grayTextAreaCustom .copioltPic {
    margin-right: 19px;
    text-align: center;
}

.grayTextAreaCustom .copilotInfo p {
    padding: 0;
    padding-left: 3px;
}

/*------------ Carousel ---*/

.black-button {
    display: inline-block;
    background: url(/images/black-button.png) left top no-repeat;
    height: 21px;
    padding-left: 2px;
    color: #fffffc;
    font-size: 12px;
    line-height: 21px;
    text-decoration: none;
    overflow: hidden;
}

.black-button .right {
    display: inline-block;
    background: url(/images/black-button.png) right -42px no-repeat;
    padding-right: 2px;
    cursor: pointer;
}

.black-button .right .middle {
    display: inline-block;
    background: url(/images/black-button.png) left -21px repeat-x;
    padding: 0 25px;
    cursor: pointer;
}

.black-button:hover {
    background-position: left -63px;
}

.black-button:hover .right {
    background-position: right -105px;
}

.black-button:hover .right .middle {
    background-position: left -84px;
}

.copilot-carousel {
    position: relative;
}

.copilot-carousel .corner {
    position: absolute;
    background-image: url(/images/copilot-carousel-corner.png);
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    overflow: hidden;
}

.copilot-carousel .corner.tl {
    left: 0;
    top: 0;
    background-position: left top;
}

.copilot-carousel .corner.tr {
    right: 0;
    top: 0;
    background-position: right top;
}

.copilot-carousel .carousel-content {
    background: black url(/images/copilot-carousel.png) left top repeat-x;
    overflow: hidden;
    height: 277px;
}

.copilot-carousel .carousel-content .copilot-details {
    width: 588px;
    margin: 0px auto;
    overflow: hidden;
    padding: 23px 0 21px 0;
    height: 138px;
}

.copilot-carousel.wider .carousel-content .copilot-details {
    width: 854px;
}

.copilot-carousel .copilot-details img {
    float: left;
    height: 138px;
    width: 115px;
}

.copilot-carousel .main-content {
    float: left;
    margin-left: 20px;
    width: 453px;
}

.copilot-carousel.wider .main-content {
    width: 719px;
}

.copilot-carousel .copilot-details .colLeft {
    float: left;
    width: 195px;
}

.copilot-carousel.wider .copilot-details .colLeft {
    width: 284px;
}

.copilot-carousel .copilot-details h2 {
    color: #fffffe;
    line-height: 20px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 14px;
}

.copilot-carousel .copilot-details .row {
    font-size: 12px;
    color: #c9c9c9;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    line-height: 20px;
    background: url(/images/carousel-row-dashed.png) left bottom repeat-x;
    height: 20px;
}

.copilot-carousel .copilot-details .colRight .row {
    background: #5d5d58 url(/images/carousel-row-dashed.png) left bottom repeat-x;
}

.copilot-carousel .copilot-details .row.first {
    height: 1px;
}

.copilot-carousel .copilot-details .row label {
    float: left;
    padding-left: 4px;
}

.copilot-carousel .copilot-details .row span {
    float: right;
    padding-right: 10px;
    font-weight: bold;
}

.copilot-carousel .copilot-details .row a.link {
    color: #C9C9C9;
}

.copilot-carousel .copilot-details .colRight {
    float: right;
    width: 195px;
}

.copilot-carousel.wider .copilot-details .colRight {
    width: 284px;
}

.copilot-carousel .copilot-details .buttonArea {
    margin-top: 22px;
    text-align: center;
}

.copilot-carousel .foot-bar {
    background: url('/images/carousel_stats_bg.png') repeat-x left top;
    margin-bottom: 2px;
    line-height: 25px;
    height: 25px;
    color: #9e9b9a;
    font-size: 11px;
    text-align: center;
    position: relative;
}

.copilot-carousel .foot-bar a {
    display: inline-block;
    background-image: url(/images/arrow-foot-bar.png);
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;
    text-indent: -999px;
    overflow: hidden;
    text-decoration: none;
}

.copilot-carousel .foot-bar a:hover {
    background: url(/images/arrow-foot-bar-hover.png) 0 0 no-repeat;
}

.copilot-carousel .foot-bar a.prev, .copilot-carousel .foot-bar a.prev:hover {
    float: left;
    background-position: left top;
}

.copilot-carousel .foot-bar a.next, .copilot-carousel .foot-bar a.next:hover {
    float: right;
    background-position: left -12px;
}

.foot-bar .footCorner {
    background: white;
    position: absolute;
    width: 1px;
    height: 1px;
}

.foot-bar .bl {
    bottom: 0px;
    left: 0px;
}

.foot-bar .br {
    bottom: 0px;
    right: 0px;
}

/* carousel Navigation */
.carouselNav {
    height: 94px;
    border: 1px solid #bbbbbb;
    border-top: none;
}

.carouselNav .carouselNavContent {
    width: 686px;
    margin: 0 auto;
    position: relative;
}

.wider .carouselNav .carouselNavContent {
    width: 950px;
}

.carouselNav .navBack {
    background: url(/images/caro-nav-back.png) right top no-repeat;
    height: 93px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.carouselNav .navForward {
    background: url(/images/caro-nav-forward.png) left top no-repeat;
    height: 93px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.carouselNav .navBack:hover {
    background-position: right bottom;
    cursor: pointer;
}

.carouselNav .navForward:hover {
    background-position: left bottom;
    cursor: pointer;
}

.carouselNav .navThumb {
    margin: 0px 35px 0px 35px;
    overflow: hidden;
    width: 616px;
}

.wider .carouselNav .navThumb {
    width: 880px;
}

.carouselNav .navThumb ul {
    height: 93px;
}

.carouselNav .navThumb ul li {
    float: left;
    margin: 0 13px;
    height: 93px;
}

.carouselNav .navThumb ul li.first {
    margin-left: 0px;
}

.carouselNav .navThumb ul li a {
    display: inline-block;
    padding: 10px 0 6px 0;
    outline: none;
}

.carouselNav .navThumb img {
    width: 60px;
    height: 72px;
    border: 1px solid #cfcfcf;
    outline: none;
}

.carouselNav .navThumb img:focus {
    outline: none;
}

.carouselNav ul.loading a {
    background: url(/images/preloader-loading.gif) no-repeat center;
}

.carouselNav ul.loading img {
    visibility: hidden;
}

.carouselNav li.current img {
    visibility: visible;
}

.carouselNav ul li.current a {
    background: url(/images/caro-nav-current.png) center top no-repeat;
}

/* copilot-wrapper */
.copilot-wrapper {
    border: 1px solid #c3c3c3;
    background: #fffffe;
    padding: 15px 13px 12px 12px;
}

.copilot-wrapper .photo {
    float: left;
    width: 96px;
    text-align: center;
}

.copilot-wrapper .photo img {
    margin-bottom: 2px;
}

.copilot-wrapper .photo .view-profile {
    display: inline-block;
    background: url(/images/arrow-view-profile.png) left 3px no-repeat;
    padding-left: 9px;
    color: #0025e4;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.copilot-wrapper .photo .view-profile:hover {
    text-decoration: underline;
}

.copilot-wrapper .info {
    float: left;
    width: 147px;
    margin-left: 11px;
    color: #333332;
    font-family: "Source Sans Pro", Tahoma;
    font-size: 11px;
}

.copilot-wrapper .info p {
    padding: 0 5px 0 4px;
}

.copilot-wrapper .info p span {
    float: right;
    font-weight: bold;
}

.copilot-wrapper .info p a.link {
    float: right;
    color: #17c000;
    font-weight: bold;
    text-decoration: none;
}

.copilot-wrapper .info p a.link:hover {
    text-decoration: underline;
}

.copilot-wrapper .info p.handle {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 5px;
    padding-bottom: 6px;
}

.copilot-wrapper .info p.handle a {
    font-weight: bold;
    text-decoration: none;
}

.copilot-wrapper .info p.handle a:hover {
    text-decoration: underline;
}

.copilot-wrapper .info p.current {
    margin: 8px 0 10px;
}

.copilot-wrapper .info div.current {
    background: #ffffcc;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 3px 0 4px;
}

.coderTextRed, .coderTextYellow, .coderTextBlue, .coderTextGreen, .coderTextGray, .coderTextOrange {
    font-weight: bold;
    background-color: transparent;
}

.coderTextRed:link, .coderTextYellow:link, .coderTextBlue:link, .coderTextGreen:link, .coderTextGray:link, .coderTextOrange:link, .coderTextWhite:link, .coderTextBlack:link {
    text-decoration: none;
}

.coderTextRed:visited, .coderTextYellow:visited, .coderTextBlue:visited, .coderTextGreen:visited, .coderTextGray:visited, .coderTextOrange:visited, .coderTextWhite:visited, .coderTextBlack:visited {
    text-decoration: none;
}

.coderTextRed:hover, .coderTextYellow:hover, .coderTextBlue:hover, .coderTextGreen:hover, .coderTextGray:hover, .coderTextOrange:hover, .coderTextWhite:hover, .coderTextBlack:hover {
    text-decoration: underline;
}

.coderTextRed:active, .coderTextYellow:active, .coderTextBlue:active, .coderTextGreen:active, .coderTextGray:active, .coderTextOrange:active, .coderTextWhite:active, .coderTextBlack:active {
    text-decoration: underline;
}

/* Orange */
.coderTextOrange, .coderTextOrange:link, .coderTextOrange:visited, .coderTextOrange:hover, .coderTextOrange:active {
    color: #FF9900;
}

/* Red */
.coderTextRed, .coderTextRed:link, .coderTextRed:visited, .coderTextRed:hover, .coderTextRed:active {
    color: #EE0000;
}

/* Yellow */
.coderTextYellow, .coderTextYellow:link, .coderTextYellow:visited, .coderTextYellow:hover, .coderTextYellow:active {
    color: #DDCC00;
}

/* Blue */
.coderTextBlue, .coderTextBlue:link, .coderTextBlue:visited, .coderTextBlue:hover, .coderTextBlue:active {
    color: #6666FF;
}

/* Green */
.coderTextGreen, .coderTextGreen:link, .coderTextGreen:visited, .coderTextGreen:hover, .coderTextGreen:active {
    color: #00A900;
}

/* Gray */
.coderTextGray, .coderTextGray:link, .coderTextGray:visited, .coderTextGray:hover, .coderTextGray:active {
    color: #999999;
}

/* White */
.coderTextWhite, .coderTextWhite:link, .coderTextWhite:visited, .coderTextWhite:hover, .coderTextWhite:active {
    color: #FFFFFF;
}

/* Black */
.coderTextBlack, .coderTextBlack:link, .coderTextBlack:visited, .coderTextBlack:hover, .coderTextBlack:active {
    color: #000000;
}

.videoWrap {
    width: 327px;
    height: 208px;
    margin: 10px 0;
}

.foot-bar .next {
    padding-right: 0px;
}

#allDescription_parent {
    float: left;
    min-width: 722px;
}

#privateDescription_parent {
    float: left;
    min-width: 722px;
}

.pageArea {
    float: right;
    margin: 13px 13px 0 0;
}

.pageArea .pagination, .pageArea .dataTables_paginate {
    display: inline;
    margin: 0;
    list-style-type: none;
    float: left;
    width: auto;
}

.pageArea .pagination a, .pageArea .pagination span, .pageArea .dataTables_paginate span {
    float: left;
    color: #000002;
    text-decoration: none;
    padding: 0 4px;
    font-size: 12px;
    height: 9px;
    line-height: 10px;
}

.pageArea .pagination a:hover {
    text-decoration: underline;
}

.pageArea .pagination span.current, .pagination span.current:hover {
    font-weight: bold !important;
}

.pagination span.current {
    font-weight: bold !important;
}

.pagination span.current:hover {
    text-decoration: none;
    font-weight: bold !important;
    cursor: pointer;
}

.pageArea .pagination span.prev.current, .pageArea .pagination span.next.current {
    font-weight: normal !important;
}

.pageArea .pagination span.prev.current:hover, .pageArea .pagination span.next.current:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pageArea .pagination a.next {
    padding: 0 10px 0 4px;
    background: url(/images/arrow-pagination-next.png) right top no-repeat;
}

.pageArea .pagination a.next:hover {
    background-position: right bottom;
}

.pageArea .pagination a.prev {
    padding: 0 4px 0 10px;
    background: url(/images/arrow-pagination-prev.png) left top no-repeat;
}

.pageArea .pagination a.prev:hover {
    background-position: left bottom;
}

.pageArea .pagination span.next {
    padding: 0 10px 0 4px;
    background: url(/images/arrow-pagination-next.png) right top no-repeat;
}

.pageArea .pagination span.next:hover {
    background-position: right bottom;
}

.pageArea .pagination span.prev {
    padding: 0 4px 0 10px;
    background: url(/images/arrow-pagination-prev.png) left top no-repeat;
}

.pageArea .pagination span.prev:hover {
    background-position: left bottom;
}

.copilotListTable .userLinkTD a {
    display: block;
}

.copilotList .dataTables_paginate .first, .copilotList .dataTables_paginate .last {
    display: none;
}

.copilotList .dataTables_paginate span.paginate_button:hover {
    text-decoration: underline;
}

.copilotList .dataTables_paginate span.paginate_active, .pagination span.paginate_active:hover {
    font-weight: bold !important;
    text-decoration: none;
}

.copilotList .dataTables_paginate span.next {
    padding: 0 10px 0 4px;
    background: url(/images/arrow-pagination-next.png) right top no-repeat;
}

.copilotList .dataTables_paginate span.next:hover {
    background-position: right bottom;
}

.copilotList .dataTables_paginate span.previous {
    padding: 0 4px 0 10px;
    background: url(/images/arrow-pagination-prev.png) left top no-repeat;
}

.copilotList .dataTables_paginate span.previous:hover {
    background-position: left bottom;
}

.get-a-copilot .leftColumn .rowItem label {
    font-size: 12px;
    line-height: 1.5;
}

.get-a-copilot .leftColumn .projectSelection {
    margin-bottom: 5px;
}

.get-a-copilot .leftColumn .selectProject {
    margin-top: 35px;
    margin-left: 10px;
}

.get-a-copilot .leftColumn .selectProject .projectName {
    margin-left: 30px;
}

.get-a-copilot .leftColumn .red-button-big {
    margin-left: 20px;
}

.get-a-copilot .leftColumn .createNewBtn .middle {

}

#stepContainerSelect .copilotInfo td.firstLine {
    padding: 0 3px 8px !important;
}

#stepContainerSelect .copilotInfo td.firstTd {
    padding: 0 0 0 3px !important;
}

#stepContainerSelect .copilotInfo td.lastTd {
    padding: 0 5px 0 0 !important;
}

#stepContainerSelect .selectProject {
    margin-bottom: 0px;
    margin-left: 0px;
    width: auto;
}

#stepContainerSelect .selectProject {
    font-family: "Source Sans Pro", Tahoma, Geneva, sans-serif;
}

.copilotInfo .firstLine a, .copilotListTable .userLinkTD a {
    font-weight: bold;
}

.copilotPool .copilotInfo .firstLine a, .copilotPool .copilotListTable .userLinkTD a, #copilotPopUp .copilotInfo .firstLine a {
    text-decoration: underline;
}

.greenText, .statusActive {
    color: #17c000;
}

.redColorText, .statusPSuspend {
    color: #FC240A;
}

.yellowColorText, .statusTSuspend {
    color: #fc3;
}

/* button Red */
.btnRed {
    background: url(/images/btn_red.png) left top no-repeat;
    display: inline-block;
    padding-left: 3px;
    height: 30px;
    width: auto;
    overflow: hidden;
    text-decoration: none;
}

.btnRed .right {
    background: url(/images/btn_red.png) right bottom no-repeat;
    display: inline-block;
    height: 30px;
    padding-right: 3px;
    width: auto;
    cursor: pointer;
}

.btnRed .right .middle {
    background: url(/images/btn_red.png) 0 -30px repeat-x;
    display: inline-block;
    height: 30px;
    width: auto;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fffffe;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
}

.btnRed:hover {
    background: url(/images/btn_red_hover.png) left top no-repeat;
}

.btnRed:hover .right {
    background: url(/images/btn_red_hover.png) right bottom no-repeat;
}

.btnRed:hover .right .middle {
    background: url(/images/btn_red_hover.png) 0 -30px repeat-x;
}
