/**
 * The CSS File contains CSS styles used specifically used for rendering IE9.
 *
 * Release Assembly - TC Cockpit Sidebar Header and Footer Update changes:
 * 1) Added new styles for help center widget.
 */
.tabContent {
    position: relative;
    top: -4px;
}

.dashboardPage .tabContent {
    top: -5px;
}

#helpCenterWidget ul.tabList a#moreTab,
#helpCenterWidget ul.tabList a#lessTab {
    padding: 0 16px;
}

.dashboardPage #helpCenterWidget ul.tabList a#moreTab,
.dashboardPage #helpCenterWidget ul.tabList a#lessTab {
    padding: 0 14px;
}