version: 2
defaults: &defaults
    docker:
      - image: openjdk:7 

install_dependency: &install_dependency
    name: Installation of build dependencies.
    command: |
      sed -i '/jessie-updates/d' /etc/apt/sources.list
      apt update
      apt install -y  openssl ant git zip jq 
      mkdir ~/awscli
      cd  ~/awscli
      curl "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip"
      unzip awscli-bundle.zip
      ./awscli-bundle/install -i /usr/local/aws -b /usr/local/bin/aws
      cd /usr/share/ant/lib
      wget https://repo1.maven.org/maven2/org/codehaus/groovy/groovy-all/1.7.8/groovy-all-1.7.8.jar
      wget https://repo1.maven.org/maven2/ant-contrib/ant-contrib/1.0b3/ant-contrib-1.0b3.jar
      cd ~
      wget http://downloads.sourceforge.net/project/jboss/JBoss/JBoss-4.2.3.GA/jboss-4.2.3.GA-jdk6.zip
      unzip jboss-4.2.3.GA-jdk6.zip
      cd project
install_deploysuite: &install_deploysuite
    name: Installation of install_deploysuite.
    command: |
      git clone --branch v1.3 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
      cp ./../buildscript/master_deploy.sh .
      cp ./../buildscript/buildenv.sh .
      cp ./../buildscript/awsconfiguration.sh .
build_steps: &build_steps
    # Initialization.
    - run: *install_dependency
    - checkout
    - run: *install_deploysuite
    - run:
        name: "AWS Configuration"
        command: |
          ./awsconfiguration.sh $BUILD_ENV
          source awsenvconf
    - run:
        name: Installation of build dependencies.
        command: |
          source awsenvconf
          ./buildproperties.sh -e $BUILD_ENV -k directapp
          ant package-direct package-static-direct
    - store_artifacts:
        path: ./direct.jar
        destination: direct.jar
    - store_artifacts:
        path: ./direct-static-all.jar
        destination: direct-static-all.jar
    - run:
        name: Build Pacakge
        command: ./build-package.sh $BUILD_ENV       
    - run:
        name: "Deployment direct app and direct web"
        command: |
          #cp ./../buildscript/master_deploy.sh .
          source awsenvconf
          cp -f buildvar-app.conf buildvar.conf
          ./deploy.sh $BUILD_ENV $VER
          echo "Deployment direct web"
          cp -f buildvar-web.conf buildvar.conf
          ./deploy.sh $BUILD_ENV $VER
          #cp ./../buildscript/master_deploy.sh .
jobs:
  # Build & Deploy against development backend
  "build-dev":
    <<: *defaults
    environment:
      BUILD_ENV: "DEV"
    steps: *build_steps
  "build-qa":
    <<: *defaults
    environment:
      BUILD_ENV: "QA"
    steps: *build_steps    
  "build-prod":
    <<: *defaults
    environment:
      BUILD_ENV: "PROD"
    steps: *build_steps      

workflows:
  version: 2
  build:
    jobs:
      - build-dev:
          context : org-global      
          filters:
            branches:
              only: [dev, dev-sts, 'feature/bad_request_group_api_issue']
      - build-qa:
          context : org-global      
          filters:
            branches:
              only: qa
      - build-prod:
          context : org-global      
          filters:
            branches:
              only: master
