<?xml version="1.0"?>
<CMConfig>
    <!-- Configuration for UserSyncServiceBean -->
    <Config name="com.topcoder.project.service.usersync.UserSyncServiceBean">
        <Property name="objectFactoryNamespace">
            <Value>com.topcoder.util.objectfactory</Value>
        </Property>
        <Property name="jiraUserServiceKey">
            <Value>jiraUserServiceKey</Value>
        </Property>
        <Property name="confluenceUserServiceKey">
            <Value>confluenceUserServiceKey</Value>
        </Property>
        <Property name="jiraServiceEndPoint">
            <Value>http://ec2-174-129-155-4.compute-1.amazonaws.com:8080/jira/rpc/soap/jirasoapservice-v2</Value>
        </Property>
        <Property name="jiraServiceAdminUserName">
            <Value>admin</Value>
        </Property>
        <Property name="jiraServiceAdminUserPassword">
            <Value>password</Value>
        </Property>
        <Property name="confluenceServiceEndPoint">
            <Value>http://ec2-174-129-155-4.compute-1.amazonaws.com:8180/wiki/rpc/soap-axis/confluenceservice-v1</Value>
        </Property>
        <Property name="confluenceServiceAdminUserName">
            <Value>admin</Value>
        </Property>
        <Property name="confluenceServiceAdminUserPassword">
            <Value>password</Value>
        </Property>
        <Property name="normalUserConfluenceGroups">
            <Value>confluence-users</Value>
        </Property>
        <Property name="adminUserConfluenceGroups">
            <Value>topcoder-staff,confluence-users</Value>
        </Property>
    </Config>
    
    <!-- Configuration for ObjectFactory -->
    <Config name="com.topcoder.util.objectfactory">
        <Property name="jiraUserServiceKey">
            <Property name="type">
                <Value>com.topcoder.jira.client.impl.JiraUserServiceImpl</Value>
            </Property>
        </Property>
        <Property name="confluenceUserServiceKey">
            <Property name="type">
                <Value>com.topcoder.confluence.client.impl.ConfluenceUserServiceImpl</Value>
            </Property>
        </Property>
    </Config>
</CMConfig>