@charset "utf-8";

#launchContestOut h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 36px;
    padding-top: 18px;
}

#launchContestOut .intro {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
}

#launchContestOut .lcc {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-right: 5px;
    vertical-align: baseline;
}

#launchContestOut .lcc_chk {
    display: inline;
    float: left;
    height: 28px;
    padding-left: 24px;
    padding-top: 5px;
    width: 120px;
}

#launchContestOut .hide {
    display: none;
}

#launchContestOut .tabOut {
    padding-top: 10px;
    text-align: left;
}

#launchContestOut .tabOut ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: auto;
}

#launchContestOut .tabOut li {
    cursor: pointer;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

#launchContestOut .tabOut li a {
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
}

#launchContestOut .tabOut li.top {
    height: 34px;
}

#launchContestOut .tabOut li.bottom {
    height: 33px;
}

#launchContestOut .tabOut li.top a {
    background: url("../../../images/tabTop.gif") no-repeat scroll 0% 0% transparent;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    width: 106px;
}

#launchContestOut .tabOut li.bottom a {
    background: url("../../../images/tabBottom.gif") no-repeat scroll 0% 0% transparent;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-decoration: none;
    width: 106px;
}

#launchContestOut .tabOut li.top a.current {
    background: url("../../../images/tabTop_current.gif") no-repeat scroll 0% 0% transparent;
    color: #FFFFFE;
    font-size: 14px;
    width: 111px;
}

#launchContestOut .tabOut li.bottom a.current {
    background: url("../../../images/tabBottom_current.gif") no-repeat scroll 0% 0% transparent;
    color: #FFFFFE;
    font-size: 14px;
    width: 111px;
}

#launchContestOut .tabContest {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BDBDBD #BDBDBD #BDBDBD -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0px;
    height: 65px;
    position: relative;
}

#launchContestOut .tabContest1 {
    border: medium none;
    height: 35px;
}

#launchContestOut .selectX {
    height: 28px;
    padding-top: 10px;
}

#launchContestOut .tabContest .tr {
    background: url("../../../images/launchContest_corcen_tr.gif") no-repeat scroll 0% 0% transparent;
    height: 4px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 4px;
}

#launchContestOut .tabContest .br {
    background: url("../../../images/launchContest_corcen_br.gif") no-repeat scroll 0% 0% transparent;
    bottom: -1px;
    height: 4px;
    position: absolute;
    right: -1px;
    width: 4px;
}

#launchContestOut .selectDesign, #launchContestOut .selectSoftware {
    background: url("../../../images/launchContest_tabOut_tab.gif") no-repeat scroll 0px 0px transparent;
    height: 100%;
    margin-top: -1px;
    overflow: visible;
    padding-left: 29px;
    padding-top: 9px;
    position: absolute;
    width: 100%;
}

#launchContestOut .selectDesign1 {
    background: none repeat scroll 0% 0% transparent;
    padding-left: 0px;
}

#launchContestOut .selectDesign .selectOut, #launchContestOut .selectSoftware .selectOut {
    display: inline;
    float: left;
    margin-right: 10px;
    width: auto;
}

#launchContestOut .selectDesign .help, #launchContestOut .selectSoftware .help {
    background: url("../../../images/iconI.png") no-repeat scroll left center transparent;
    float: right;
    font-size: 11px;
    height: 28px;
    padding-left: 34px;
    padding-right: 10px;
    width: 108px;
}

#launchContestOut .selectDesign .new_style {
    font-weight: bold;
}

#launchContestOut .selectDesign .moreLink, #launchContestOut .selectSoftware .moreLink {
    background: url("../../../images/moreLink_icon.gif") no-repeat scroll left center transparent;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    text-decoration: none;
}

#launchContestOut .selectDesign .moreLink:hover, #launchContestOut .selectSoftware .moreLink:hover {
    text-decoration: underline;
}

#launchContestOut .addNewContest {
    border: 1px solid #BDBDBD;
    height: 154px;
    margin-top: 34px;
}

#launchContestOut .addNewContest .row {
    height: 28px;
    margin-top: 17px;
}

#launchContestOut .addNewContest label {
    display: inline;
    float: left;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 14px;
    width: 118px;
}

#launchContestOut .addNewContest .projectSelect {
    height: 28px;
}

#launchContestOut .addNewContest .text {
    background: url("../../../images/addNew_input.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    width: 494px;
}

#launchContestOut .addNewContest .projectSelect .text {
    background: url("../../../images/tabContest_input.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    width: 362px;
}

#launchContestOut .addNewContest .projectSelect, #launchContestOut .addNewContest .billingSelect {
    display: inline;
    float: left;
    margin-right: 26px;
    width: auto;
}

#launchContestOut .addNewContest .button6 {
    display: inline;
    float: left;
    margin-top: 1px;
    width: auto;
}

#launchContestOut .addNewContest .button6 span.left {
    display: inline;
    float: left;
    width: auto;
}

#launchContestOut .addNewContest .button6 span.right {
    display: inline;
    float: left;
    padding: 4px 21px 0px 24px;
    width: auto;
}

#area1 .paymentMethod {

}

#area1 .paymentMethod .paymentColumn {
    float: left;
    width: 480px;
}

#area1 .paymentMethod .paymentColumn h3 {
    margin-top: 20px;
}

#area1 .paymentMethod .paypalColumn {
    background: url("../../../images/horizontal_solution_PPeCheck_tc.png") no-repeat scroll left top transparent;
    float: right;
    height: 60px;
    width: 200px;
}

#area1 .paymentMethod .message {
    clear: left;
}

#launchContestOut.paymentMethod .buttonBox {
    clear: left;
    float: right;
    margin: 0px 20px 24px 50px;
}

#launchContestOut.paymentMethod .buttonBox .contiune, #launchContestOut.paymentMethod .buttonBox .draft, .paymentMethod .buttonBox .preview {
    margin-left: 10px;
    margin-right: 3px;
}

#launchContestOut.paymentMethod .supRow {
    bottom: 10px;
    display: inline;
    float: right;
    font: 13px normal;
    height: 1px;
    position: relative;
    right: 15px;
    z-index: 400;
}

#launchContestOut.paymentMethod .row {
    border: 1px solid transparent;
}

#launchContestOut.paymentMethod label {
    float: left;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 0px;
    margin-top: 3px;
    width: 140px;
}

#launchContestOut.paymentMethod .text {
    background: url("../../../images/paymentMethod_input.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
    padding: 0px 0px 0px 5px;
    width: 324px;
}

#launchContestOut.paymentMethod .text.medium {
    background: url("../../../images/paymentMethod_input_medium.gif") no-repeat scroll 0% 0% transparent;
    width: 160px;
}

#launchContestOut.paymentMethod .text.small {
    background: url("../../../images/paymentMethod_input_small.gif") no-repeat scroll 0% 0% transparent;
    width: 65px;
}

#launchContestOut.paymentMethod .redTip {
    color: red;
    font: 14px bold;
    text-decoration: none;
}

#launchContestOut.paymentMethod .row {
    clear: left;
}

span.starNotice {
    display: block;
    float: left;
    height: 28px;
    width: 1px;
}

.cardSelect {
    float: left;
    width: 335px;
}

.selectMonth {
    float: left;
    width: 65px;
}

.selectYear {
    float: left;
    margin-left: 5px;
    width: 250px;
}

.cardSelect .newListSelected, .selectMonth .newListSelected, .selectYear .newListSelected {
    border: 0px none;
    color: #333333;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px;
}

.cardSelect .newListSelected {
    background: url("../../../images/cardSelect_select.gif") no-repeat scroll 0% 0% transparent;
    width: 324px;
}

.selectMonth .newListSelected {
    background: url("../../../images/selectMonth_select.gif") no-repeat scroll 0% 0% transparent;
    width: 48px;
}

.selectYear .newListSelected {
    background: url("../../../images/selectYear_select.gif") no-repeat scroll 0% 0% transparent;
    width: 70px;
}

.cardSelect .selectedTxt {
    width: 321px;
}

.selectMonth .selectedTxt {
    width: 48px;
}

.selectYear .selectedTxt {
    width: 70px;
}

.cardSelect .newList, .selectMonth .newList, .selectYear .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -3px ! important;
    position: absolute ! important;
    z-index: 600;
}

.cardSelect .newList {
    width: 324px ! important;
}

.selectMonth .newList {
    width: 48px ! important;
}

.selectYear .newList {
    width: 70px ! important;
}

#launchContestOut.paymentMethod .rowElem {
    display: inline;
    float: left;
    font-size: 20px;
    height: 25px;
    margin: 3px 5px 0px 0px;
    text-align: center;
    width: 1px;
}

#launchContestOut h2.sectionHead {
    font-size: 20px;
}

#launchContestOut .orderReview .overviewBox {
    border: 0px none;
}

#launchContestOut .orderReview .overviewData th {
    text-align: left;
    width: 160px;
}

#launchContestOut .orderReview .overviewData td {
    font-weight: bold;
}

#launchContestOut.orderReview .buttonBox {
    clear: left;
    float: right;
    margin: 0px 20px 24px 50px;
}

#launchContestOut.orderReview .buttonBox .contiune, #launchContestOut.orderReview .buttonBox .draft, .paymentMethod .buttonBox .preview {
    margin-left: 10px;
    margin-right: 3px;
}

#launchContestOut.orderReview .message {
    clear: right;
}

#launchContestOut .contestDetails .sectionHead {
    padding: 10px 0px 0px;
}

#launchContestOut .contestDetails h3 {
    margin-top: 15px;
}

.prizesTable {
    border-spacing: 0px;
    border: 1px solid #C1C1C1;
    width: 100%;
}

.prizesTable tbody {
    margin: 0px;
    padding: 0px;
}

.prizesTable td {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: auto;
}

.prizesTable td.large {
    padding-left: 20px;
    text-align: left;
    width: auto;
}

.prizesTable td.last {
    background: url("../../../images/table_last_cell_background.gif") repeat-x scroll 0% 0% transparent;
    font-size: 20px;
    height: 57px;
    margin: 0px;
    padding: 0px;
    width: 90px;
}

hr.dualDivider {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color;
    border-image: none;
    border-left: 0px none;
    border-right: 0px none;
    border-style: solid none;
    border-width: 1px 0px;
    height: 3px;
    margin: 15px 5px;
}

table.total {
    border: 0px none;
    margin: 10px 0px 0px;
    width: 100%;
}

table.total td {
    font-size: 20px;
    font-weight: bold;
}

table.total td.toLeft {
    text-align: left;
}

table.total td.toRight {
    padding-right: 10px;
    text-align: right;
}

.paymentNumBox {
    float: right;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 27px;
}

.redAlert {
    color: red;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    padding-top: 5px;
}

.message .rbContainer {

}

.message .rbContainer .redButton {
    float: right;
    margin: 5px 10px 15px 25px;
}

#launchContestOut h3 {
    font-size: 14px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 34px;
}

#launchContestOut h3 span.icon {
    display: inline;
    float: left;
    width: auto;
}

#launchContestOut .schedule {
    border: 1px solid #BDBDBD;
    height: 165px;
}

#launchContestOut .schedule1 {
    border: medium none;
}

#launchContestOut .schedule .row {
    height: 22px;
    margin-top: 16px;
}

#launchContestOut .schedule .selectrow {
    height: 28px;
    margin-top: 12px;
}

#launchContestOut .schedule label {
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 14px;
    width: 118px;
}

#launchContestOut .schedule .name_label {
    color: #3B3B3B;
    display: inline;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 14px;
    width: 118px;
}

#launchContestOut .schedule .startSelect, #launchContestOut .schedule .milestoneSelect, #launchContestOut .schedule .endSelect {
    display: inline;
    float: left;
    margin-right: 7px;
    width: auto;
}

#launchContestOut .schedule .text {
    background: url("../../../images/date_input.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    display: inline;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0px 5px;
    width: 80px;
}

#launchContestOut .schedule .startEtSelect, #launchContestOut .schedule .checkpointEtSelect, #launchContestOut .schedule .endEtSelect {
    display: inline;
    float: left;
    margin-right: 4px;
    width: auto;
}

#launchContestOut .schedule span {
    color: #6C6C6C;
    font-size: 12px;
}

#launchContestOut .bottomButton {
    height: 24px;
    margin-top: 18px;
}

#launchContestOut .bottomButton .conditions {
    color: #FF0000;
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 28px;
    width: auto;
}

.upload {
    padding: 10px 0px;
}

.upload .uploadInner {
    height: 25px;
}

.upload .uploadInput {
    border: 1px solid #A8ABAD;
    color: #C4C4C4;
    display: inline;
    float: left;
    height: 17px;
    padding: 3px 5px;
    width: 230px;
}

.upload .uploadInner .fileIn {
    height: 25px;
    position: absolute;
    width: 72px;
}

.upload .button6 {
    background: url("../../../images/grey_button_bg.gif") repeat-x scroll center top transparent;
    display: inline;
    float: left;
    margin-right: 14px;
    width: auto;
}

.upload a.button6 span.left {
    background: url("../../../images/grey_button_left.gif") no-repeat scroll left top transparent;
    display: inline;
    float: left;
    padding: 0px;
    width: auto;
}

.upload a.button6:hover span.left {
    background: url("../../../images/grey_button_left.gif") no-repeat scroll left bottom transparent;
}

.upload a.button6 span.right {
    background: url("../../../images/grey_button_right.gif") no-repeat scroll right top transparent;
    display: inline;
    float: left;
    height: 20px;
    padding: 4px 13px 0px 10px;
    width: auto;
}

.upload a.button6:hover span.right {
    background: url("../../../images/grey_button_right.gif") no-repeat scroll right bottom transparent;
}

.upload .fileInput {
    border: 1px solid #A8ABAD;
    color: #C4C4C4;
    display: inline;
    float: left;
    height: 17px;
    padding: 3px 5px;
    width: 272px;
}

.upload .removeButton {
    background: url("../../../images/removeButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 7px;
    margin-top: 2px;
    width: 22px;
}

.upload .removeButton:hover {
    background: url("../../../images/removeButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

.upload .addButton {
    background: url("../../../images/addButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 7px;
    margin-top: 2px;
    width: 22px;
}

.upload .addButton:hover {
    background: url("../../../images/addButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

.removeButton {
    background: url("../../../images/removeButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 15px;
    margin-top: 10px;
    width: 22px;
}

.removeButton:hover {
    background: url("../../../images/removeButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

.addButton {
    background: url("../../../images/addButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 10px;
    margin-top: 10px;
    width: 22px;
}

.addButton:hover {
    background: url("../../../images/addButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

#button_tech {
    float: left;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 40px;
    width: 45px;
}

#add {
    cursor: pointer;
}

#remove {
    cursor: pointer;
}

#add_categories {
    cursor: pointer;
}

#remove_categories {
    cursor: pointer;
}

.head_font {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.head_font_space {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 260px;
}

.head_font_space_categories {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 275px;
}

#select1, #select1_categories {
    float: left;
    height: 150px;
    overflow: scroll;
    width: 285px;
}

#select2, #select2_categories {
    float: left;
    height: 150px;
    overflow: scroll;
    width: 285px;
}

.prizesInner {
    border: 1px solid #C1C1C1;
    height: 28px;
    padding: 5px 0px;
}

.prizesInner1 {
    border: medium none;
    padding: 0px;
}

.prizesInner_software {
    height: 180px;
    padding: 5px;
}

.prizesInner_tech {
    height: 180px;
    padding: 5px;
}

.mid_info {
    margin-left: 7px;
}

.last_info {
    float: right;
    padding-top: 3px;
}

.head {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.radio_font {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.place {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.details {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 25px;
}

IMG.new_cur {
    cursor: pointer;
}

.place_info {
    padding-left: 200px;
}

.place_par {
    margin-top: 10px;
}

.prizesInner_software .placeInput {
    border: 1px solid #A8ABAD;
    color: #C4C4C4;
    display: inline;
    height: 17px;
    margin-left: 5px;
    padding: 3px 5px;
    text-align: right;
    width: 150px;
}

.space_radio {
    margin-left: 20px;
}

.extra_info {
    background-color: #DDDDDD;
    height: 120px;
    margin-top: 10px;
}

.prizesInner label {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 4px;
    width: auto;
}

.prizesInner label.first {
    margin-left: 12px;
}

.prizesInner label.second, .prizesInner label.third {
    margin-left: 60px;
}

.prizesInner .numberDor {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 4px;
    width: auto;
}

.prizesInner .dw {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 22px;
    margin-left: 18px;
    margin-right: 4px;
    margin-top: 4px;
    width: auto;
}

.prizesInner .prizesInput {
    background: url("../../../images/prizesInput.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    display: inline;
    float: left;
    font-weight: bold;
    height: 16px;
    margin-top: 4px;
    padding: 3px 9px;
    text-align: right;
    width: 46px;
}

.prizesInner .addButton {
    background: url("../../../images/addButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 77px;
    width: 22px;
}

.prizesInner .addButton:hover {
    background: url("../../../images/addButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

.prizesInner .removeButton {
    background: url("../../../images/removeButton.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 77px;
    width: 22px;
}

.prizesInner .removeButton:hover {
    background: url("../../../images/removeButton_hover.gif") no-repeat scroll 0% 0% transparent;
}

.mPrizesInner {
    border: 1px solid #C1C1C1;
    height: 28px;
    padding: 5px 0px;
}

.mPrizesInner label {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    width: auto;
}

.mPrizesInner .numberDor {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    width: auto;
}

.mPrizesInner label.first {
    margin-left: 22px;
}

.mPrizesInner .dw {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 28px;
    margin-left: 18px;
    margin-right: 12px;
    width: auto;
}

.mPrizesInner .prizesInput {
    background: url("../../../images/prizesInput.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    display: inline;
    float: left;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    padding: 3px 9px;
    text-align: right;
    width: 46px;
}

.mPrizesInner strong {
    color: #6C6C6C;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 28px;
    margin-left: 13px;
    margin-right: 16px;
    width: auto;
}

A.link {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.deliverablesInner {
    border: 1px solid #C1C1C1;
    padding: 5px 0px;
}

.deliverablesInner1 {
    border: medium none;
}

.deliverablesInner .checkInput {
    display: inline;
    float: left;
    margin-top: 4px;
    width: auto;
}

.deliverablesInner label {
    color: #6C6C6C;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 50px;
}

.deliverablesInner .text {
    background: url("../../../images/prizesInput.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    font-weight: bold;
    height: 16px;
    margin-right: 30px;
    padding: 3px 9px;
    width: 46px;
}

.deliverablesInner .fileType {
    background: url("../../../images/addButton.gif") no-repeat scroll left center transparent;
    color: #AB0000;
    display: inline;
    float: left;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin-top: 4px;
    padding-left: 28px;
    text-decoration: underline;
    width: auto;
}

.deliverablesInner .fileType:hover {
    background: url("../../../images/addButton_hover.gif") no-repeat scroll left center transparent;
    text-decoration: none;
}

.buttonBox {
    padding-top: 24px;
}

a.contiune {
    margin-left: 10px;
    margin-right: 0px;
}

a.contiune span.left {
    display: inline;
    float: left;
    width: auto;
}

a.contiune span.right {
    display: inline;
    float: left;
    padding: 4px 22px 0px 18px;
    width: auto;
}

a.draft, a.preview {
    background: url("../../../images/grey_button_bg.gif") repeat-x scroll left top transparent;
    margin-right: 24px;
}

.tabHead a.draft, .tabHead a.draft {
    margin-right: 12px;
    margin-top: 6px;
}

a.draft:hover, a.preview:hover {
    background: url("../../../images/grey_button_bg.gif") repeat-x scroll left bottom transparent;
}

a.draft span.left, a.preview span.left {
    background: url("../../../images/grey_button_left.gif") no-repeat scroll left top transparent;
    display: inline;
    float: left;
    width: auto;
}

a.draft:hover span.left, a.preview:hover span.left {
    background: url("../../../images/grey_button_left.gif") no-repeat scroll left bottom transparent;
}

.tabHead a.draft span.right, .tabHead a.preview span.right {
    padding: 4px 15px 0px;
}

a.draft span.right, a.preview span.right {
    background: url("../../../images/grey_button_right.gif") no-repeat scroll right top transparent;
    display: inline;
    float: left;
    padding: 4px 19px 0px 15px;
    width: auto;
}

a.draft:hover span.right, a.preview:hover span.right {
    background: url("../../../images/grey_button_right.gif") no-repeat scroll right bottom transparent;
}

#launchContestOut .contestDetail h3 {
    margin-top: 18px;
}

#launchContestOut .helpIcon {
    background: url("../../../images/help_ico4.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 15px;
    margin-left: 6px;
    width: 16px;
}

#launchContestOut .helpIcon:hover {
    background: url("../../../images/help_ico4.gif") no-repeat scroll left bottom transparent;
}

#launchContestOut .contestDetail .prizes .catalogSelect {
    display: block;
    float: left;
    margin: 10px 0px;
    width: 100%;
}

#launchContestOut .contestDetail .prizes .catalogSelect label {
    display: block;
    float: left;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin-left: 3px;
}

#launchContestOut .contestDetail .prizes .catalogSelect .newListSelected {
    display: block;
    float: left;
    height: 28px;
    margin-left: 10px;
}

#launchContestOut .contestDetail .textarea {
    border: 1px solid #C4C4C4;
    height: 250px;
    padding-left: 10px;
}

#launchContestOut .contestDetail .textarea1 {
    border: 1px solid #C4C4C4;
    height: 150px;
    padding-left: 10px;
}

#launchContestOut .editor {
    background-color: #DDDDDD;
    border: 1px solid #666666;
    color: #333333;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 3px 10px;
}

#launchContestOut .editor A {
    padding-left: 5px;
}

#launchContestOut .contestDetail .textarea textarea {
    border: 0px none;
    color: #333333;
    font-size: 14px;
    height: 239px;
    padding: 5px 0px;
    width: 100%;
}

#launchContestOut .contestDetail .textarea1 textarea {
    border: 0px none;
    color: #333333;
    font-size: 14px;
    height: 130px;
    padding: 5px 0px;
    width: 100%;
}

#launchContestOut .contestDetail .bottomTextarea {
    background: url("../../../images/textarea_bottom_bg.gif") repeat-x scroll 0% 0% transparent;
    border: 1px solid #DDDDDD;
    height: 22px;
    position: relative;
}

#launchContestOut .contestDetail .bottomTextarea p {
    color: #494949;
    font-size: 13px;
    line-height: 22px;
    margin-left: 10px;
}

#launchContestOut .contestDetail .bottomTextarea .icon {
    background: url("../../../images/textarea_bottom.gif") no-repeat scroll 0% 0% transparent;
    bottom: 1px;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    width: 11px;
}

.tabHead {
    height: 34px;
    margin-top: 25px;
    position: relative;
}

.tabHead.head {
    background-color: #F5F5F5;
    height: 36px;
    margin-top: 10px;
}

.tabHead ul {
    margin-left: 0px;
}

.tabHead li {
    color: #333333;
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: 400;
    height: 34px;
    line-height: 34px;
    list-style-type: none;
    padding-left: 30px;
    width: 250px;
}

.tabHead li.current {
    background: url("../../../images/tabTop_current.gif") no-repeat scroll 0px 0px transparent;
    color: #FFFFFE;
    font-size: 14px;
    font-weight: 700;
    width: 111px;
}

.tabHead .tr {
    background: url("../../../images/tabHead-tr.gif") no-repeat scroll 0% 0% transparent;
    height: 34px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 4px;
}

.tabHead .tl {
    background: url("../../../images/tabHead-tl.gif") no-repeat scroll 0% 0% transparent;
    height: 34px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.tabHead .tr2 {
    height: 36px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 4px;
}

.tabHead .tl2 {
    height: 36px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.tabHead a.button6 span.right {
    padding-left: 15px;
    padding-right: 15px;
}

.tabHead a {
    margin-right: 5px;
    margin-top: 6px;
}

.tabHead.head .group {
    float: left;
    font-weight: bold;
    height: 16px;
    margin-left: 5px;
    margin-top: 9px;
    padding-left: 22px;
    text-decoration: none;
}

.tabHead.head .expand {
    background: url("../../../images/notification_expand_ico.png") no-repeat scroll left center transparent;
    text-decoration: none;
}

.tabHead.head .collapse {
    background: url("../../../images/minimize.png") no-repeat scroll 0% 0% transparent;
}

.tabHead .editButton {
    background: url("../../../images/editButton.gif") no-repeat scroll 0px 0px transparent;
    color: #FFFFFE;
    float: right;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin: 5px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    width: 57px;
}

.tabHead .editButton:hover {
    background: url("../../../images/editButton.gif") no-repeat scroll 0px -24px transparent;
}

.overviewBox {
    border: 1px solid #CCCCCC;
    padding: 10px 0px;
}

.overviewData {
    font-size: 14px;
    line-height: 35px;
    text-align: left;
}

.overviewData th {
    font-weight: 400;
    text-align: right;
    width: 110px;
}

.overviewData td {
    color: #333333;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-left: 15px;
}

.overviewData td img {
    vertical-align: middle;
}

.contentList {
    margin: 10px 0px;
}

.contentList dt {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

.contentList dd {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contentList dd img {
    vertical-align: middle;
}

.cbox {
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding: 12px 17px 12px 12px;
}

#cboxFiles {
    height: 48px;
    padding-right: 0px;
}

#cboxFiles .tipLink, .deliverablesInner .tipLink, .mPrizesInner .tipLink, .prizesInner .tipLink {
    display: inline;
    float: right;
    margin-right: 12px;
    margin-top: 18px;
    width: auto;
}

.deliverablesInner .tipLink, .mPrizesInner .tipLink, .prizesInner .tipLink {
    margin-top: 6px;
}

#cboxFiles dl {
    display: inline;
    float: left;
    width: 90%;
}

#cboxFiles dt, #cboxFiles dd {
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    text-align: left;
    width: 45%;
}

.buttonBox .launchContest {
    float: right;
    width: 150px;
}

.saveButton a {
    background: url("../../../images/saveButton.gif") no-repeat scroll 0px 0px transparent;
    color: #FFFFFE;
    float: right;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    width: 116px;
}

.saveButton a:hover {
    background: url("../../../images/saveButton.gif") no-repeat scroll 0px -24px transparent;
}

.tipLink {
    margin-left: 8px;
}

.roundelect {
    display: inline;
    float: left;
    width: auto;
}

.tabContest .visibility {
    visibility: hidden;
}

.tabContest .newListSelected, .projectSelect .newListSelected {
    background: url("../../../images/tabContest_select.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #333333;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px;
    width: 362px;
}

.tabContest .selectedTxt, .projectSelect .selectedTxt {
    width: 359px;
}

.tabContest .newList, .projectSelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    position: absolute ! important;
    width: 370px ! important;
    z-index: 999 ! important;
}

div.newListSelected ul.newList a {
    text-decoration: none;
}

.billingSelect .newListSelected, .roundelect .newListSelected {
    background: url("../../../images/billing_select.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #333333;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px;
    width: 283px;
}

.roundelect .newListSelected {
    color: #6C6C6C;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

.billingSelect .selectedTxt, .roundelect .selectedTxt {
    width: 281px;
}

.billingSelect .newList, .roundelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    position: absolute;
    width: 290px;
    z-index: 999 ! important;
}

.roundelect .newList {
    overflow: hidden;
}

.startSelect .newListSelected, .milestoneSelect .newListSelected, .endSelect .newListSelected {
    background: url("../../../images/startSelect.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0px 5px;
    width: 196px;
}

.startSelect .selectedTxt, .milestoneSelect .selectedTxt, .endSelect .selectedTxt {
    width: 196px;
}

.startSelect .newList, .milestoneSelect .newList, .endSelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -3px;
    position: absolute;
    width: 203px;
}

.startEtSelect .newListSelected, .checkpointEtSelect .newListSelected, .endEtSelect .newListSelected {
    background: url("../../../images/timeSelect.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #6C6C6C;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0px 5px;
    position: relative;
    width: 49px;
    z-index: 100 ! important;
}

.startEtSelect .selectedTxt, .checkpointEtSelect .selectedTxt, .endEtSelect .selectedTxt {
    width: 49px;
}

.startEtSelect .newList, .checkpointEtSelect .newList, .endEtSelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -3px;
    position: absolute;
    width: 56px;
}

.numSelect {
    display: inline;
    float: left;
    width: auto;
}

.numSelect .newListSelected {
    background: url("../../../images/numSelect.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #545B66;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 22px;
    padding: 0px 5px;
    width: 52px;
}

.numSelect .selectedTxt {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-weight: bold;
    line-height: 28px;
    text-indent: 19px;
    width: 52px;
}

.numSelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #6C6C6C;
    list-style: none outside none;
    margin-top: -3px;
    position: absolute;
    width: 59px;
}

.numSelect .newList li {
    color: #6C6C6C;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-indent: 19px;
}

.catalogSelect .newListSelected {
    background: url("../../../images/tabCatalog_select.gif") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    color: #333333;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px;
    width: 300px;
}

.catalogSelect .selectedTxt {
    width: 298px;
}

.catalogSelect .newList {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -3px ! important;
    position: absolute ! important;
    width: 298px ! important;
}

.newList li {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: left;
    text-indent: 5px;
    width: 100%;
}

.newList li.current {
    background: none repeat scroll 0% 0% #EEEEEE;
}

.newListHover {
    background: none repeat scroll 0% 0% #CCCCCC;
}

a.dp-choose-date {
    background: url("../../../images/date_icon.gif") no-repeat scroll 0% 0% transparent;
    display: inline;
    float: left;
    height: 19px;
    margin-left: 6px;
    margin-right: 22px;
    margin-top: 1px;
    overflow: hidden;
    text-indent: -2000px;
    width: 21px;
}

.dp-choose-date {
    display: none;
}

table.jCalendar {
    background: none repeat scroll 0% 0% #EDEDED;
}

table.jCalendar th {
    color: #2F3338;
    font-family: "Arial Rounded MT Bold";
    padding: 8px 3px;
}

table.jCalendar td {
    background: none repeat scroll 0% 0% #DFE1E3;
    border: 1px solid #BDC2C5;
    color: #333333;
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    padding: 6px;
    text-align: center;
}

table.jCalendar tr td.other-month {
    background: none repeat scroll 0% 0% #DFE1E3;
    color: #BDC2C5;
}

table.jCalendar td.today {
    background: none repeat scroll 0% 0% #4C92D8;
    color: #FFFFFF;
    font-weight: bold;
}

table.jCalendar td.selected {
    background: none repeat scroll 0% 0% #FF6666;
    color: #FFFFFF;
}

table.jCalendar td.selected.dp-hover {
    background: none repeat scroll 0% 0% #CCCCCC;
    color: #000000;
}

table.jCalendar td.dp-hover, table.jCalendar tr.activeWeekHover td {
    background: none repeat scroll 0% 0% #CCCCCC;
    color: #FFFFFF;
}

table.jCalendar tr.selectedWeek td {
    background: none repeat scroll 0% 0% #FF6666;
    color: #FFFFFF;
}

table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
    background: none repeat scroll 0% 0% #DFE1E3;
    color: #888888;
}

table.jCalendar td.unselectable, table.jCalendar td.unselectable:hover, table.jCalendar td.unselectable.dp-hover {
    background: none repeat scroll 0% 0% #CCCCCC;
    color: #000000;
}

div.dp-popup {
    background: none repeat scroll 0% 0% #EDEDED;
    border: 1px solid #333333;
    font-family: arial,sans-serif;
    font-size: 10px;
    line-height: 1.2em;
    padding: 1px;
    position: relative;
}

div#dp-popup {
    position: absolute;
    z-index: 199;
}

div.dp-popup h2 {
    font-size: 12px;
    margin: 4px 0px;
    padding: 0px;
    text-align: center;
}

a#dp-close {
    display: block;
    font-size: 11px;
    padding: 4px 0px;
    text-align: center;
}

a#dp-close:hover {
    text-decoration: underline;
}

div.dp-popup a {
    color: #000000;
    padding: 3px 2px 0px;
    text-decoration: none;
}

div.dp-popup div.dp-nav-prev {
    left: 4px;
    position: absolute;
    top: 2px;
    width: 100px;
}

div.dp-popup div.dp-nav-prev a {
    display: inline;
    float: left;
    width: auto;
}

div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
    cursor: pointer;
}

div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
    cursor: default;
}

div.dp-popup div.dp-nav-next {
    position: absolute;
    right: 4px;
    top: 2px;
    width: 100px;
}

div.dp-popup div.dp-nav-next a {
    display: inline;
    float: right;
    width: auto;
}

div.dp-popup a.disabled {
    color: #AAAAAA;
    cursor: default;
}

div.dp-popup td {
    cursor: pointer;
}

div.dp-popup td.disabled {
    cursor: default;
}

.dp-nav-prev-year, .dp-nav-next-year {
    display: none;
}

.date .text {
    display: inline;
    float: left;
    width: auto;
}

#placeHolder {
    font-size: 36px;
    font-weight: bold;
    line-height: 350px;
    text-align: center;
}

.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    width: 1px;
}

.selectDesign .newList {
    background: url("../../../images/list_vert_line.gif") no-repeat scroll 184px 0px white;
}

.selectDesign li.newListOptionTitle {
    display: block;
    float: left;
    font-weight: bold;
    width: 185px;
}

.selectDesign .newListOptionTitle li {
    font-weight: normal;
    width: 185px;
}

.selectDesign .moreLink {
    float: left;
}
