 
#winnerPanel{
height: 1%;
}
.winnerCol{ float:left; width: 49%; }

.containerNoPadding{ height: 1%;}

#bankSelectionFolder { width: 180px; }
#bankSelectionContent{ overflow:visible; height: 1%; } 

.submissionAction ul{ float:left; margin: 10px 0 0 15px;  } 
.submissionListAction .dialog-mini-wrapper{ margin: 0 0 0 -27px; }
#area2{ overflow:hidden;  } 
.project-box-mid{ margin: 0 0 -12px 0; } 

.additionalCol{ width: 140px; }   
.posAbsolute{ top:  55px; left: 0px; }
#dropdownWrapper .dd .ddTitle{
	margin-bottom:-3px;
}

	#addScorecard input.status,
	#addScorecard input.check,
	input.status,
	input.check{
		margin-top: 1px;
		margin-right: 5px;
		vertical-align: baseline;
	}

/* Expand All & Collapse All*/
.expandCollapse{
	width: 210px;
	vertical-align: middle;
}
	.editSaveScorecard {
		width: 300px !important;
	}	
	.expandCollapse span.borderPipe,
	.expandCollapse a.expandAll,
	.expandCollapse a.collapseAll{
		position: relative;
		top: 20px;
	}
	a.cancelChanges{
		margin-top: 20px;
	}
	a.saveChanges{
		margin-top: 20px;
	}
/* head table*/
table.project.scorecard thead tr,
table.project.scorecard thead th{
	position: relative;
}

	table.scorecard.view2 thead tr th a{ margin-top: -25px;}
	table.scorecard.view2 tr.section a{ margin-top: -25px;}
	input{vertical-align: middle; height: 16px;}
	table.scorecard.view2 tr input{ height: 16px;}

.pagination{
	height: 10px;
}
.pagination.top{ 
	margin-bottom: 15px;
}
.addWindow.ui-dialog-content.ui-widget-content{
	position: relative;
}
/*move group icon*/
table.scorecard.view2 .relative .move.group{
	top: 0px;
	padding: 0px;
	width: 18px;
	height: 19px;
	left: -28px;
}
table.scorecard.view2.hover .relative .move.group{
	top: -1px;
	left: -28px;
}
/* modal windows */
#addScorecard2.addWindow .foot .buttons,
#addManually.addWindow .foot .buttons{
	margin-top:-10px;
}

.checkMatch input{
	margin: 2px 0;
	cursor: pointer;
}
.ui-dialog .areaHeader .expandCollapse{
	margin-top: -20px;
	width: 240px;
}
.ui-dialog .areaHeader .leftAlign {
    float: none;
 
}
.ui-dialog .areaHeader .leftAlign a.button5.back{
	 margin: 0;
}
/* hover question */
table.scorecard.view2.edit tr.question.hover td{
	border-bottom:#e86200 2px solid;
	border-top:#e86200 2px solid;
}
table.scorecard.view2.edit tr.question.hover td.first{
	border-left:#e86200 2px solid;
}
table.scorecard.view2.edit tr.question.hover td.btn{
	border-right:#e86200 2px solid;
}

table.scorecard.view2.checks{
	table-layout: fixed;
	width: 100%;
}
table.scorecard.view2.checks tr.question.hover td{
	border-bottom:#007500 2px solid;
	border-top:#007500 2px solid;
}
table.scorecard.view2.checks tr.question.hover td.first{
	border-left:#007500 2px solid;
}
table.scorecard.view2.checks tr.question.hover td.btn{
	width: 24px;
}
table.scorecard.view2.checks tr.question.hover td.btn{
	border-right:#007500 2px solid;
}
