/* css for permissions.html */

.b{
	font-weight: bold;	
}	
.permissions{
	border-bottom: 1px solid #A8ABAD;	
}	 
#users{
	display: none;	
}                      
.permissions #tabs3 ul li{
	width:50%;
}
.permissions .container2Content{
	padding:20px 0px 40px 1px;	
}

.permissions table.notifications{
	border-left:0px solid #FFFFFF;
}	

.permissions  table tr.subTr td{
	border:0px solid #FFFFFF;
	padding:3px 0px 3px 10px;	
	font-size: 10px;
	background: transparent url(../images/dot.png) repeat-x scroll bottom center;
}
.permissions table th.permCol{
	width:30%;	
}	
.permissions table th.permCol2{
	width:8%;	
}
.permissions table td.permCol input{
	float:left;	
	margin-top:2px;
	margin-right:5px;
}
.permissions table td.permCol .group{
	float:left;	
}
.permissions table td.permCol{
	border-left: 0px solid #FFFFFF;
}

.permissions table tr.applyForAll a.button1{
	margin-right:10px;	
}	
.permissions table td a.addUser{
	background: transparent url(../images/user.png) no-repeat;
	display: block;
	height:23px;
	width:23px;
	margin-left:40%;
}
.permissions table td a.addUser:hover{
	background: transparent url(../images/user_active.png) no-repeat;
}

.permissions table td a.addProject{
	background: transparent url(../images/folder.png) no-repeat;
	display: block;
	height:23px;
	width:23px;
	margin-left:30%;
	float:left;
	margin-right:10px;
}
.permissions table td a.addProject:hover{
	background: transparent url(../images/folder_active.png) no-repeat;
}
.permissions table td a.removeProject{
	background: transparent url(../images/delete1.png) no-repeat;
	display: block;
	height:23px;
	width:23px; 
	float:left;
}

.permissions table td a.subgroup{
	 text-decoration: none;
}
.permissionsButtons{
	overflow: hidden;
	margin-top:20px; 	
}

.permissions table.notifications .collapse{
	background: transparent url(../images/minimize.png) no-repeat;
}	

/* customized dialog css */
.ui-dialog {
	padding:0px;	
}
.ui-widget-overlay{
	background: #000000 none repeat scroll 0 0;
	opacity:0.6;
    filter:alpha(opacity=60);
}	
.ui-dialog .ui-dialog-titlebar{
	display: none;	
}
.ui-dialog .header{
	height:27px;
	background-color:#E8E8E8; 
	overflow: hidden;	
}
.ui-dialog .header .title{
	float:left;
	font-size: 12px;
	font-weight: bold;
	margin-top:5px;
	margin-left:20px;
}
.ui-dialog .content{
	margin: 0 20px 0 20px;
}
.ui-dialog .areaHeader.topSpace{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.ui-dialog .areaHeader.bottomSpace{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.ui-dialog .areaHeader .leftAlign{
	float:left; 	
}
.ui-dialog .areaHeader .expandCollapse a.button6{
	font-weight: bold;
	color: #fff;
	background-color: inherit;
}
.ui-dialog .areaHeader .expandCollapse span.borderPipe{
	color: #333;
	font-size: 11px;
	font-weight: normal; 
}
	.ui-dialog .project.scorecard.view{
		margin-bottom: 10px;
	}
.ui-dialog .body{
	overflow: hidden;
}
.ui-dialog .body .left,.ui-dialog .body .middle,.ui-dialog .body .right{
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.ui-dialog .body .left,.ui-dialog .body .right{
	border:1px solid #CCCCCC;
	width:220px;
	height:300px;
}
.ui-dialog .body .middle{
	margin-top:150px;		
}	
.ui-dialog .body .middle a{
	display: block;	
	*margin-bottom: 10px;
}


.ui-dialog .body .list{
	overflow: auto;	
	height:220px;
	border-top:1px solid #CCCCCC;
}

.ui-dialog .body .list .listItem{
	padding: 3px 0px 3px 10px;
	margin:1px 0px ;
	font-size: 11px;
	background: transparent url(../images/dot.png) repeat-x scroll bottom center;
	cursor: pointer;
}

.ui-dialog .body .list .listItem.active{
	background-color: #CCCCCC;
}

.ui-dialog .body .subtitle{
	background: transparent url(../images/calendar_header.png) repeat-x scroll 0 0;
	height:33px;
	font-size: 11px;
}
.ui-dialog .body .subtitle a.leftTxt{
	display:block;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	float:left;
	margin-top:10px;
	margin-left:10px;
	background-color: inherit;
}
.ui-dialog .body .subtitle a.rightTxt{
	display:block;
	color:#CCCCCC;
	text-decoration: none;
	float:right;
	margin-top:10px;
	margin-right:5px;
	background-color: inherit;
}
.ui-dialog .body .searchBox {
	padding:10px 0px 10px 10px;	
	overflow: hidden;
}
.ui-dialog .body .searchBox a.button1{
	display: block;
}
.ui-dialog .body .searchBox .searchTxt{
	float:left;
	margin-right:10px;
}	
.ui-dialog .body .searchBox .searchTxt input{
	width: 110px;
	height:20px;
	font-size: 11px; 
}
.ui-dialog .foot .buttons{
	padding-left:150px;	
}
.ui-dialog .foot .buttons a.button6{
	color:#FFFFFF;
	text-align: center;
	background-color: inherit;
}	

.ui-dialog a.dialogClose{
	background: transparent url(../images/close_ico.png) no-repeat scroll 0 0;
	height:15px;
	width:15px;
	display: block;
	margin-top:5px;
	margin-right:10px;
	float:right;	  	
}
#addUserDialog,#manageUserDialog,#addProjectDialog{
	padding:0px;	
}	


.pagination-info{
	margin:0px 20px;	
}	
	
.display-perpage .selectedTxt{
	width:32px;
	padding-left:5px;
}
.display-perpage .newList{
	width:40px !important;
	border:#ccc solid 1px;
	background:#fff;
	position:absolute !important;
	z-index: 999 !important;
	text-align: center;
}

.display-perpage .newList a{ 
	text-decoration: none;	
}	
.display-perpage .newList{
	overflow: hidden scroll!important;
	overflow-y: scroll !important;
}
.display-perpage .newListSelected { 
	background:transparent url(../images/pagination-select.png) no-repeat scroll 0 0;
	border:0 none;
	color:#333333;
	cursor:pointer;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	height:17px;
	line-height:15px;
	padding:0 5px; 
	float:left;
}
.display-perpage .label{
	padding-top:2px;	
}

.separator{ 
	border-bottom:1px solid #CCCCCC;
	height:10px;
	margin-bottom:20px;
	margin-top:10px;
	width:100%; 
}
#notificationSetting .pagination{
	width:250px;	
}

