<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration
          PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>

        <property name="connection.url">jdbc:informix-sqli://192.168.18.101:9088/project:informixserver=tcs</property>
        <property name="connection.username">informix</property>
        <property name="connection.password">topcoder</property>
        <property name="connection.driver_class">com.informix.jdbc.IfxDriver</property>


        <property name="dialect">org.hibernate.dialect.InformixDialect</property>
        <!--
        <property name="hbm2ddl.auto">create-drop</property>
        -->

        <mapping resource="META-INF/mapping.xml"/>
    </session-factory>
</hibernate-configuration>