 
#winnerPanel{
height: 1%;
}
.winnerCol{ float:left; width: 49%; }

.containerNoPadding{ height: 1%;}

#bankSelectionFolder { width: 180px; }
#bankSelectionContent{ overflow:visible; height: 1%; } 

.submissionAction ul{ float:left; margin: 10px 0 0 15px;  } 
.submissionListAction .dialog-mini-wrapper{ margin: 0 0 0 -27px; }
#area2{ overflow:hidden;  } 
.project-box-mid{ margin: 0 0 -12px 0; } 

.additionalCol{ width: 140px; }   
.posAbsolute{ top:  55px; left: 0px; }
#dropdownWrapper .dd .ddTitle{
	margin-bottom:-3px;
}

/* new added for contest dashboard */
.appositeContainer .registrationModule{ margin-right:0.9%; z-index:1; position:relative; }
.appositeContainer.studio .forumModule{ margin-right:0.57%; }
.appositeContainer .registrationModule .statusP .helpBtn,
.appositeContainer .registrationModule .statusP .helpBtn:visited{ top:-2px; }
.appositeContainer .registrationModule .tooltipContainer{ top:-36px; }
/* end */