/* CSS Document */

#wrapper{
	width: 100%;
	min-width: 1000px;
}

#wrapperInner{
	margin-left: 1000px;;
	height: 1px;
}

#container{
	margin-left: -1000px;
	height: 1px;
	position: relative;
}

#content{
	height: 1px;
}

#area1 .area1Content{
	height: 100%;
	overflow: hidden;
}

#TB_window{
	position:absolute;
	}
	
#launchContestOut .tabContest .br{
	bottom:-15px;
	}
	
.tabHead .tr{
	right:-3px;
	}
#winnerPanel{
height: 1%;
}
.winnerCol{ float:left; width: 49%; }

.containerNoPadding{ height: 1%;}

#bankSelectionFolder { width: 180px; }
#bankSelectionContent{ overflow:visible; height: 1%; } 

.submissionAction ul{ float:left; margin: 10px 0 0 15px;  } 
.submissionListAction .dialog-mini-wrapper{ margin: -22px 0 0 -17px; }
#area2{ overflow:hidden;  } 
.project-box-mid{ margin: 0 0 -12px 0; } 

.additionalCol{ width: 140px; }   
.posAbsolute{ top:  55px; left: 0px; }
#dropdownWrapper .dd .ddTitle{ margin-bottom:-3px; }
.warning-box-mid, .warning-box-bottom{ margin: -13px 0 0 0; }
