/* css for dashboard view */

/* common css */
.spaceWhite{
    height:30px;
}
#area1 .padding20{
    padding-top:20px;
}
#area1 .padding2{
    padding-top:2px;
}

/* dashboardTable */
.dashboardTable{
    background: url(../images/dashboard-table-bg.png) repeat-x left top;
    margin-bottom:20px;
}
.dashboardTableHeader{
    padding-right:17px;   
}
.dashboardTableBody{
    overflow-y:scroll;
    height:140px;
}
.dashboardTable dt{
    height:34px;
    line-height:34px;
    padding-left:8px;
    position:relative;
}
.dashboardTable dt a.expand{
    background: url(../images/icon-expand.png) no-repeat left center;
    text-decoration:none;
    font-size:14px;
    color:#ffffff; 
    padding-left:30px;
    display:inline-block;
    font-weight:bold;
    height:32px;
}
.dashboardTable dt a.collapse{
    background: url(../images/icon-collapse.png) no-repeat left center; 
}
.dashboardTable dt span.viewall{
    display:inline-block;
    /*float:right;*/
    color:#ffffff;
    font-size:12px;
    margin-right:10px;
    position:absolute;
    top:0px;
    right:0px;
}
.dashboardTable dt span.viewall input{
    vertical-align:middle;
}
.dashboardTable dt span.viewall label{
    padding-left:5px;
    vertical-align:middle;
}
.dashboardTable dd{
    border-left:1px solid #a9acae;
    border-right:1px solid #a9acae;
    border-bottom:1px solid #a9acae;
}
.dashboardTable table{
    width:100%;
}
.dashboardTable  th{
    font-size:11px;
    font-weight:bold;
    color:#333333;
    border-left:1px solid #d0d0d1;
    height:28px;
}
.dashboardTable  td, .costHead th{
    font-size:11px; 
    color:#333333;
    border-left:1px solid #d0d0d1;
    border-top:1px solid #d0d0d1;
    padding:5px 0px;
    text-align:center;
    background-color:#fffffe;
	height:auto !important;
}
.dashboardTable tr.topRow td{
    border-top:0px;   
}
.dashboardTable tr.even td{
    background-color:#f5f5f5;
}

.dashboardTable  th.first,.dashboardTable  td.first{
   border-left:0px;
}
.dashboardTable  td.first{
    text-align:left;
    padding-left:16px;
    vertical-align:top;
}

.dashboardTable td  a.red,.dashboardTable td  label.red{
   display:inline-block;
   background: url(../images/red-icon.png) no-repeat left center;
   padding-left:18px;
   min-height:13px;
}
.dashboardTable td  a.orange,.dashboardTable td  label.orange{
   display:inline-block;
   background: url(../images/orange-icon.png) no-repeat left center;
   padding-left:18px;
   min-height:13px;
}
.dashboardTable.contestDashboard td{
    padding-top:7px;
    padding-bottom:7px;
}
.dashboardTable.contestDashboard{
    margin-bottom:15px;
}

.dashboardTable td  a.green,.dashboardTable td  label.green{
   display:inline-block;
   background: url(../images/green-icon.png) no-repeat left center;
   padding-left:18px;
   min-height:13px;
}


.dashboardTable td span.red{
    display:inline-block;
    background: url(../images/red-icon.png) no-repeat left center;
    height:12px;
    width:12px;
    margin-top:3px;
}

.dashboardTable td span.orange{
    display:inline-block;
    background: url(../images/orange-icon.png) no-repeat left center;
    height:12px;
    width:12px;
    margin-top:3px;
}

.dashboardTable td span.green{
    display:inline-block;
    background: url(../images/green-icon.png) no-repeat left center;
    height:12px;
    width:12px; 
}
.dashboardTable td div.info{
    overflow:hidden;
    padding:0px 10px 0px 20px;
}
.dashboardTable td div.info .leftPart{
    float:left;
}
.dashboardTable td div.info .rightPart{
    float:right;
}
.dashboardTable td a.triggerDetail{
    text-decoration:none;
    color:#ff0000;
}
.dashboardTable td div.detail{
    text-align:left;
    padding:0px 10px 0px 20px;
    display:none;
}
.dashboardTable td div.detail strong{
   display:inline-block;
    width:105px;
}
/* dashboardTable end */

/* visualization chart */
.chartCollapse{
    background: url(../images/dashboard-table-bg.png) repeat-x left top;
    height:34px;
    padding-left:8px;
}
.chartCollapse a.expand{
    background: url(../images/icon-expand.png) no-repeat left center;
    text-decoration:none;
    font-size:14px;
    color:#ffffff;
    padding-left:30px;
    display:inline-block;
    font-weight:bold;
    height:32px;
}
.chartCollapse a.collapse{
    background: url(../images/icon-collapse.png) no-repeat left center;
}
.visualization{
    border:1px solid #a9acae;
    border-top:0px;
    padding:15px 7px 20px 15px;
}
.visualization .top{
    position:relative;
    color:#333333;
    font-size:12px;
    
}
.visualization .top .projectNameSelect select{
    width:270px;
    font-size:11px;
    color:#000000;
    border:1px solid #a9acae; 
}

.visualization .top .displaying{
    position:absolute;
    right:0px;
    top:0px;
}
.visualization .top .displaying input{
    vertical-align:middle;
}
.visualization .top .displaying span{
    padding:0px 8px 0px 3px;
    vertical-align:middle;
}
.visualization .chart{
    overflow:auto;
}

/* bottom */
.visualization .bottom{
    position:relative;
    height:112px;
    margin-top:10px;
}
.visualization .bottom .leftPanel{
    width:220px;
    display:inline-block;
}
.visualization .bottom .text {
    background:url("../images/date_input.gif") no-repeat scroll 0 0 transparent;
    border:0 none;
    color:#6C6C6C;
    display:inline;
    float:left;
    height:22px;
    line-height:22px;
    padding:0 5px;
    width:80px;
} 
.visualization .bottom a.dp-choose-date {
    background:url("../images/date_icon.gif") no-repeat scroll 0 0 transparent;
    display:inline;
    float:left;
    height:19px;
    margin-left:6px;
    margin-right:22px;
    margin-top:1px;
    overflow:hidden;
    text-indent:-2000px;
    width:21px;
}
.visualization .bottom  label{
    display:inline;
    float:left; 
    font-size:12px;
    line-height:22px; 
    font-weight:bold;
    padding-right:5px;
    text-align:right;
    width:40px;
}
.visualization .bottom .leftPanel div{
    height:36px;
    width:200px;
}

.visualization .bottom .leftPanel select{
    width:163px;
    font-size:11px;
    color:#000000;
    border:1px solid #a9acae; 
}
.visualization .bottom  .rightPanel{
    display:inline-block;
    width:192px;
    position:absolute;
    top:0px;
    left:215px; 
}
.visualization .bottom .rightPanel select{
    width:190px;
    font-size:11px;
    color:#000000;
    border:1px solid #a9acae; 
}
.visualization .bottom .rightPanel select option{
    padding:1px 0px 1px 3px;
}
.visualization .bottom .rightPanel a{
    display:block;
    float:right;
    margin-top:6px;
    color:#000000;
    font-size:11px;
    margin-right:2px;
}

/* visualization chart end */

#header a.overviewLogo{
     background:url("../images/overview.png") no-repeat left center ;
    display:inline-block;
    height:32px;
    line-height:32px;
    padding-left:40px;
}

#validationErrors {
    color: red;
    font-size: 12px;
}

/* Edit 05/16/2011 pj=30017558 */
.dashboardTable td  a.longWordsBreak{
	background-position:left 1px;
}
.dashboardTable td  a.longWordsBreak:hover,
TABLE.project TBODY TD a.longWordsBreak:hover{
	text-decoration:none;
}

.dashboardTable td span.green{
	margin-top:3px;
}
.projectHealthBody td span.green,
.projectHealthBody td span.orange,
.projectHealthBody td span.red{
	cursor:pointer;
}

.projectHealthHeader th{
	height:28px;
	background: url(../images/dashboard-table-bg.png) repeat-x left -34px;
}
/*.projectHealthBody{*/
	/*min-height:10px;*/
/*}*/
/*.dashboardTable .projectHealthBody table{*/
	/*width:auto;*/
/*}*/
.projectHealthHeader table tbody,
.projectHealthBody table thead{
	display:none;
}
.projectHealthBody .unitContent{
	padding-left:6px;
	text-align:left;
}
.projectHealthBody  td.first{
    padding-left:8px;
}

##projectHealthTable {
    width: 100%;
}

.projectHealthBody #projectHealthTable tr.hover td{
	background-color:#FF9;
}
.dateTruncateFormat{
	display:none;
}
.alignTop{
	vertical-align:top;
}
.projectHealthHeader thead th div{
	overflow:hidden;
	min-width:10px;
}


/* new tooltips */
.tooltipBox{
	position: absolute;
	width: 182px;
	z-index: 999;
	display: none;
	color: #000;
	background-color: transparent;
}

	.tooltipBox SPAN.arrow{
		position: absolute;
		left: 87px;
		top:auto;
		bottom: -4px;
		display: block;
		width: 7px;
		height: 5px;
		background: url(../images/popup_new_arrow.png) no-repeat;
	}
	
	.tooltipHeader{
		height:26px;
		background:url(../images/tooltip_new_green.png) left top no-repeat;
		padding-left:3px;
		overflow:hidden;
	}
		.tooltipHeader .tooltipHeaderRight{
			height:26px;
			background:url(../images/tooltip_new_green.png) right -52px no-repeat;
			padding-right:3px;
		}
			.tooltipHeader .tooltipHeaderCenter{
				height:26px;
				background:url(../images/tooltip_new_green.png) left -26px repeat-x;
			}
			.tooltipHeader h2{
				font-size: 12px;
				color: #FFF;
				background-color: transparent;
				padding-top: 6px;
				padding-left: 7px;
				margin: 0;
			}
	.tooltipBox .tooltipContent{
		border-left:1px solid #bdbdbd;
		border-right:1px solid #bdbdbd;
		padding: 10px 9px 8px;
		font-size: 12px;
		color: #333;
		background-color:#fffffd;
		}
		.tooltipBox .tooltipContent H3{
			color: #333333;
			margin-bottom:3px;
		}
		.tooltipBox .tooltipContent P{
			padding:2px 0;
		}
			.tooltipBox .tooltipContent P a{
				color:#333333;
				text-decoration:underline;
			}
	.tooltipFooter{
		height:3px;
		background:url(../images/tooltip_new_cornner.png) left top no-repeat;
		padding-left:3px;
		overflow:hidden;
	}
		.tooltipFooter .tooltipFooterRight{
			height:3px;
			background:url(../images/tooltip_new_cornner.png) right -6px no-repeat;
			padding-right:3px;
		}
			.tooltipFooter .tooltipFooterCenter{
				height:3px;
				background:url(../images/tooltip_new_cornner.png) left -3px repeat-x;
			}
	.tooltipBox .tooltipContent a.viewDetailsLink{
		float:right;
		display:inline;
	}
	.tooltipBox .tooltipContent P a:hover,
	.tooltipBox .tooltipContent a.viewDetailsLink:hover{
		text-decoration:none;
	}
	
	/* Green Tooltip */
	.greenToolTipBox .tooltipHeader,
	.greenToolTipBox .tooltipHeaderRight,
	.greenToolTipBox .tooltipHeaderCenter{
		background-image: url(../images/tooltip_new_green.png);
	}
	
	/* Orange Tooltip */
	.orangeToolTipBox .tooltipHeader,
	.orangeToolTipBox .tooltipHeaderRight,
	.orangeToolTipBox .tooltipHeaderCenter{
		background-image: url(../images/tooltip_new_orange.png);
	}
	
	/* Red caption*/
	.redToolTipBox .tooltipHeader,
	.redToolTipBox .tooltipHeaderRight,
	.redToolTipBox .tooltipHeaderCenter{
		background-image: url(../images/tooltip_new_red.png);
	}

/* End Edit 05/16/2011 */
.dataTables_empty{ 
	border: none!important; 
	background: none!important;  
    font-size: 21px!important;
    height: 100% !important;
    padding: 50px 0!important;
    text-align: center;
	color: #d6d3d8!important;
}

#loaderProjectHealth{
    float: left;
    text-align: center;
    /*height: 156px;*/
    width: 100%;
    line-height: 144px;
}

/*#loaderProjectHealth img {*/
    /*margin-top: 58px;*/
/*}*/

#loaderProjectHealthWrapper td {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 156px;
}

.dataTables_scrollBody {
    overflow-x: hidden;
}

#projectHealthTableBody tr {
    height: 39px;
}
