.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.exportPanel {
    margin-bottom: 8px;
}

.exportPanel .exportHead {
    background: url(/images/filter-panel/panel-head-l.png) no-repeat left top;
    height: 32px;
    padding-left: 6px;
}

.exportPanel .exportHead .rightSide {
    background: url(/images/filter-panel/panel-head-r.png) no-repeat right top;
    height: 32px;
    padding-right: 7px;
}

.exportPanel .exportHead .inner {
    background: url(/images/filter-panel/panel-head-m.png) repeat-x left top;
    height: 32px;
}

.exportPanel .exportHead .exportText {
    width: 100px;
    float: left;
}

.exportPanel .exportHead .inner .title {
    line-height: 29px;
}

.exportPanel .exportHead .inner .expand, .exportPanel .exportHead .inner .collapse {
    margin: 6px 10px 0 3px;
    float: left;
}

.exportPanel .exportBottom {
    background: url(/images/filter-panel/panel-bottom-l.png) no-repeat left top;
    height: 6px;
    padding-left: 6px;
}

.exportPanel .exportBottom .rightSide {
    background: url(/images/filter-panel/panel-bottom-r.png) no-repeat right top;
    height: 6px;
    padding-right: 6px;
}

.exportPanel .exportBottom .inner {
    background: url(/images/filter-panel/panel-bottom-m.png) repeat-x left top;
    height: 6px;
}

.exportPanel .collapseBottom {
    background: url(/images/filter-panel/collapse-bottom-l.png) no-repeat left top;
    height: 5px;
    padding-left: 7px;
}

.exportPanel .collapseBottom .rightSide {
    background: url(/images/filter-panel/collapse-bottom-r.png) no-repeat right top;
    height: 5px;
    padding-right: 7px;
}

.exportPanel .collapseBottom .inner {
    background: url(/images/filter-panel/collapse-bottom-m.png) repeat-x left top;
    height: 5px;
}

.exportPanel .exportContent {
    background: url(/images/filter-panel/panel-cotent-l.png) repeat-y left top;
    height: 65px;
    padding-left: 6px;
}

.exportPanel .exportContent .rightSide {
    background: url(/images/filter-panel/panel-cotent-r.png) repeat-y right top;
    height: 65px;
    padding-right: 6px;
}

.exportPanel .exportContent .inner {
}

.exportPanel .exportContent .inner .column1 {
    float: left;
    width: 37.5%;
    height: 65px;
    margin-left: 25px;
    min-width: 380px;
}

.exportPanel .exportContent .inner .row {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.exportPanel .exportContent .inner .row .title {
    font-size: 11px;
    float: left;
    line-height: 20px;
}

.exportPanel .exportContent .inner .column1 .row .title {
    width: 90px;
}

.exportPanel .exportContent .inner .column1 .row .short {
    width: 65px;
}

.exportPanel .exportContent .inner .column2 {
    float: left;
    width: 23.5%;
    min-width: 240px;
    height: 65px;
    margin-left: -10px;
    margin-right: -15px;
}

.exportPanel .exportContent .inner .column2 select {
    width: 90px;

}

.exportPanel .exportContent .inner .column2 .title {
    width: 90px;
}

.exportPanel .exportContent .inner .column3 {
    float: left;
    width: 340px;
    height: 65px;
    margin-left: 25px;
}

.exportPanel .exportContent .inner .column3 .row {
    margin-top: 8px;
}

.exportPanel .exportContent .inner .column3 input {
    width: 70px;
    height: 18px;
    float: left;
    color: #6c6c6c;
    font-size: 12px;
}

.exportPanel .exportContent .inner .column3 .row .dateLabel {
    width: 60px;
}

.exportPanel .exportContent .inner .column3 .row .toLabel {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

#enterpriseCalendarExport {
    margin-bottom: 20px;
}

#enterpriseCalendarExport.exportPanel .exportContent .inner .column1,
#enterpriseCalendarExport.exportPanel .exportContent .inner .column2,
#enterpriseCalendarExport.exportPanel .exportContent .inner .column3 {
    width: auto;
    margin-left: 25px;
    margin-right: 0px;
    min-width: 0px;
    margin-top: 10px;
    height: 50px;
}

#enterpriseCalendarExport.exportPanel .exportContent,
#enterpriseCalendarExport.exportPanel .exportContent .rightSide {
    height: 50px;
}


#enterpriseCalendarExport.exportPanel .exportContent .inner .column1 .row .title {
    width: 70px;
}

#enterpriseCalendarExport.exportPanel .exportContent .inner .column1 .row select {
    width: 230px;
}

#enterpriseCalendarExport.exportPanel .exportContent .inner .column2 .row select {
    width: 200px;
}

#enterpriseCalendarExport.exportPanel .exportContent .inner .column3 .row .title {
    width: 130px;
}
