/*------------------
	Get A Copilot
-------------------*/
ol, ul {
	list-style: none;
}
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a.button6,a.button7 {
	font-family:'Myriad Pro';
	font-weight:bold;
}
a.button4 {
	font-weight:bold;
}

a.draft, a.preview{
	background:url(../images/grey_button_bg.gif) repeat-x left top;
	}
a.draft:hover, a.preview:hover{
	background:url(../images/grey_button_bg.gif) repeat-x left bottom;
	}
	
	a.draft span.left, a.preview span.left{
		width:auto;
		float:left;
		display:inline;
		background:url(../images/grey_button_left.gif) no-repeat left top;
		}
		
	a.draft:hover span.left, a.preview:hover span.left{
		background:url(../images/grey_button_left.gif) no-repeat left bottom;
		}
		
		.tabHead a.draft span.right, .tabHead a.preview span.right{
			padding:4px 15px 0 15px;
			font-family:'Myriad Pro';
			text-align:center;
			}
		
		a.draft span.right, a.preview span.right{
			width:auto;
			float:left;
			display:inline;
			padding:4px 19px 0 15px;
			background:url(../images/grey_button_right.gif) no-repeat right top;
			font-family:'Myriad Pro';
			text-align:center;
			}
			
		a.draft:hover span.right, a.preview:hover span.right{
			background:url(../images/grey_button_right.gif) no-repeat right bottom;
			
			}
			
a.smallRed span.right {
	padding:4px 19px 0 15px;
}
			

			
						
/*-------------
	HEADER
---------------*/

#header{
	height: 120px;
	background: url(../images/header_dash_bg.png) repeat-x;
	position: relative;
}

#header .logo{
	position: absolute;
	top: 44px;
	left: 21px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	text-decoration: none;
}
#header .logo img.copilotTitle{
    vertical-align:bottom;
	margin-right:10px;
}
#header .logo span{
    font-weight:bold;
    line-height:39px;
}

#header .projectLogo{
	padding-left: 40px;
	padding-top: 7px;
	padding-bottom: 3px;
	background: url(../images/project_logo.png) no-repeat left;
}

#header .helloUser{ /* this area will contain the logout, help links*/
	position: absolute;
	right: 30px;
	top: 8px;
	font-size: 12px;
}

	#header .helloUser UL{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#header .helloUser LI{
		float: left;
		color: #444;
	}
	
		#header .helloUser LI strong{
			color: #fffffd;
		}
	
	/*#header .helloUser A{
		color: #fffffe;
		padding: 0 5px;
		text-decoration: none;
	}
	*/
	#header .helloUser A:hover{
		color: #908986;
	}
	
	#header .helloUser A.user{
		color: #ec1c23 !important;
		font-weight: bold;
		padding-left: 0;
	}
		
	#header .helloUser A.help{
		background: url(../images/help_ico6.png) no-repeat right 0;
		padding-right: 20px;
		padding-top: 2px;
		font-weight: bold;
	}
	
	
	
	#header .helloUser A.help:hover{
		background: url(../images/help_ico6.png) no-repeat right -17px;
	}
	

.dashBoardLookCP{
	position:absolute;
	top:46px;
	right:23px;
	}
.lookCP{
	background:url(../images/redArrow.gif) no-repeat 0 center;
	padding-left:13px;
	font-size:11px;
	color:#333;
	margin-top:10px;
	padding-right:13px;
	float:right;
	}
	.lookCP a,
	.lookCP a:visited{
		font-weight:bold;
		text-decoration:none;
		color:#333;
		}
	.lookCP a:hover{
		text-decoration:underline;
		}
	

/*-------------
	MAIN
---------------*/	
.stepTitle h3.infoIcon {
	background:url(../images/i_icon.png) 0 0 no-repeat;
	padding-left:36px;
}

.stepTitle h3.tickIcon {
	background:url(../images/tick-icon.png) 0 0 no-repeat;
	padding-left:36px;
}

.get-a-copilot h3 span.small{
	background:url(../images/small-round.png) 0 0 no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	width:26px;
	height:26px;
	font-size:18px;
}

.get-a-copilot #area1 .currentPage {
	padding-top:20px;
}

	/* step bar */
	.get-a-copilot .stepBar{
		height:35px;
		margin-right:0;
	}
	.get-a-copilot .stepTitle h3 {
		width: auto;
		float: left;
		display: inline;
		font-size: 18px;
		font-weight: normal;
		line-height: 26px;
		height:26px;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
	}
	
	.stepNav {
		padding:22px 0;
	}
		.stepNav a.button4,.stepNav a.button4:visited {
			text-align:center;
			float:left;
		}
		.stepNav a.draft,.stepNav a.draft:visited {
			float:right;
		}
		
		/* form */
		.get-a-copilot .stepContainer .geryContent .form {
				padding: 0;
				padding: 20px 28px 32px;
				min-height:425px;
				font-family:Tahoma, Geneva, sans-serif;
		}
	
			.get-a-copilot .stepContainer .geryContent .noteContainer{
				padding:18px 25px 22px;
				margin:0;
				margin-bottom:13px;
				/*min-height:30px;*/
				
			}
				.get-a-copilot .stepContainer .geryContent .noteContainer p {
					font-size:11px;
					font-family:Tahoma, Geneva, sans-serif;
					padding:0;
					line-height:1.2;
				}
			
			/* row */
			.get-a-copilot .stepContainer .geryContent .row {
				clear: both;
				margin:0;
				padding:0;
			}
			
				.get-a-copilot .stepContainer .geryContent .row .intro {
					float:left;
					display:block;
					margin-left:10px;
					margin-bottom:10px;
					width: auto;
					font-family: Tahoma, Arial, Helvetica, sans-serif;
					font-size: 11px;
					color: #666;
					line-height: 25px;
				}
				
				.geryContent .row span.red {
					color: red;
					}
				.get-a-copilot .attention {
					font-size:11px;
					font-family:Tahoma, Geneva, sans-serif;
					margin-left:213px;
					display:block;
					margin-top:13px;
				}
				
				/*--- title ----*/
				.title{ /* title caption */
					background: url(../images/title_bg.png) repeat-x;
					height: 100%;
					overflow: hidden;
				}
				
				.titleLeft{ /* left corner of the title caption */
					background: url(../images/title_left.png) no-repeat left; 
				}
				
				.titleRight{  /* right corner of the title caption */
					background: url(../images/title_right.png) no-repeat right;
					height: 35px;
				}
				
				.title H2{ /* title */
					font-family:Tahoma, Geneva, sans-serif;
					font-size: 14px;
					margin: 0;
					padding-top: 9px;
					padding-left: 10px;
					font-weight: normal;
					color: #1a1a1a;
					text-transform:uppercase;
				}
					.title a.edit,.title a.edit:visited {
						background:url(../images/edit-white.png) 0 0 no-repeat;
						width:52px;
						height:25px;
						display:inline-block;
						float:right;
						margin:5px 10px 0 0 ;
					}
					.title a.edit:hover {
						background-position: 0 -25px;
					}
				
				.get-a-copilot .stepContainer .geryContent .rowItem {
					padding:20px 10px;
				}

				.get-a-copilot .stepContainer .geryContent .rowItemFirst {
					margin-bottom:20px;
				}
				.get-a-copilot .stepContainer .geryContent .rowItem .lineItem {
					margin-bottom:15px;
				}
					.get-a-copilot .stepContainer .geryContent .rowItem p {
						margin:0;
						padding:0;
						padding-bottom:28px;
						position:relative;
					}
				
					.get-a-copilot .stepContainer .geryContent .rowItem label {
						width:170px;
						padding-right:30px;
						font-size:12px;
						float:left;
					}
					
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem label {
						width:390px;
						font-size:12px;
						padding:0;
						line-height:25px;
					}
					#projectName, #projects { width:410px;}
					#projects {
						float:left;
						margin-top:2px;
					}
					#addNewProject {
						float:left;
						margin-left:25px;
					}		
					.get-a-copilot .stepContainer .geryContent .row .text  { width:400px;}
					.stepContainer .geryContent .row .text {
						height: 19px;
						float: left;
						display: inline;
						padding: 2px 7px;
						background: white;
						border: #A8ABAD solid 1px;
						font-family: Tahoma, Arial, Helvetica, sans-serif;
						font-size: 12px;
						color: #6C6C6C;
						}
			
					.get-a-copilot .stepContainer .geryContent .rowItem p .tips {
						font-size:11px;
						font-family:Tahoma, Geneva, sans-serif;
						margin-left:200px;
						display:block;
						position:absolute;
						bottom:14px;
					}
					label.other {
						display:block;
						float:none;
						margin-bottom:12px;
					}

					.get-a-copilot .customUploadWrap{
								float:left;
								position:relative;
								display:block;
								
							}
							.get-a-copilot .customUpload{
								position:absolute;
								top:0;
								right:0;
								height:26px;
								z-index:999;
								cursor:pointer;
								width:100%;
							}
							.get-a-copilot .text.uploadInput{
								float:left;
								width:413px;
								margin-right:20px;
							}
							.get-a-copilot .uploadBtn{
								position:relative;
								top:-6px;
							}
							
							.get-a-copilot .uploadBtnRed {
								float:left;
								margin-left:20px;
							}
							.get-a-copilot .uploadBtnRed span.right {
								padding:4px 19px 0 15px;
							}
							
							/** add button **/	
							.uploadContent .addButton{
								width:22px;
								height:21px;
								float:left;
								display:inline;
								margin-top:2px;
								margin-left:20px;
								background:url(../images/addButton.gif) no-repeat;
								}
								
							.uploadContent .addButton:hover{
								background:url(../images/addButton_hover.gif) no-repeat;
								}
                                
							/** remove button **/	
							.uploadContent .removeButton{
								width:22px;
								height:21px;
								float:left;
								display:inline;
								margin-top:2px;
								margin-left:20px;
								background:url(../images/removeButton.gif) no-repeat;
								}
								
							.uploadContent .removeButton:hover{
								background:url(../images/removeButton_hover.gif) no-repeat;
								}                                
							.uploadContent .removeButton.hide {
								display:none;
								}   			
			.checkType {
				float:left;
				
			}
				.checkType span {
					font-size:11px;
					font-family:Tahoma, Geneva, sans-serif;
					color:#666666;
					display:block;
					margin-bottom:15px;
				}
				.checkType ul {
					width:auto;
					float:left;
				}
					.checkType ul li {
						width:261px;
						margin-bottom:13px;
					}
						.checkType ul li input { 
							margin-right:5px;
						}
						.get-a-copilot .geryContent .rowItem .checkType ul li label {
							width:auto;
							padding:0;
							position:relative;
							top:-1px;
							float:none;
						}
				
				
			.get-a-copilot .budget .geryContent  .form {
				padding: 0;
				padding: 20px 28px 32px;
				min-height:260px;
			}			
			.budget .rowItem ul {
				float:left;
			}
				.budget .rowItem ul li { margin-bottom:30px;}
				.budget .rowItem ul li label {
					float:none;
					
				}
				.get-a-copilot .budget .geryContent .rowItem ul li .text {
					float:none;
					width:168px;
				}
				
				.budget .rowItem ul li input.radio {
					margin-right:5px;
				}
			
			
			.get-a-copilot .stepForth .geryContent  .form {
				padding: 0;
				padding: 20px 28px 32px;
				min-height:335px;
			}
			
			
			.get-a-copilot .stepForth .uploadBtnRed {
				margin:0;
			}
			
			.stepContainer .rowItem .red-button-big .middle {
				width: 109px;
				text-align: center;
				padding: 0;
				}
				.red-button-big {
					display: inline-block;
					background: url(../images/red-button-big.png) left top no-repeat;
					height: 25px;
					padding-left: 4px;
					color: #fffffc;
					font-size: 11px;
					font-weight: bold;
					line-height: 25px;
					text-decoration: none;
					overflow: hidden;
				}
					.red-button-big .right {
						display: inline-block;
						background: url(../images/red-button-big.png) right -50px no-repeat;
						padding-right: 4px;
						cursor: pointer;
					}
						.red-button-big .right .middle {
							display: inline-block;
							background: url(../images/red-button-big.png) left -25px repeat-x;
							padding: 0 16px;
							cursor: pointer;
						}
				.red-button-big:hover { background-position: left -75px;  }
					.red-button-big:hover .right { background-position: right -125px;  }
						.red-button-big:hover .right .middle { background-position: left -100px;  }

				.disabled-button,
				.disabled-button:hover {
					display: inline-block;
					background: url(../images/disabled-button.png) left top no-repeat;
					height: 25px;
					padding-left: 4px;
					color: #b8b8b8;
					font-size: 11px;
					font-weight: bold;
					line-height: 25px;
					text-decoration: none;
					overflow: hidden;
				}
					.disabled-button .right,
					.disabled-button:hover .right {
						display: inline-block;
						background: url(../images/disabled-button.png) right -50px no-repeat;
						padding-right: 4px;
						cursor: pointer;
					}
						.disabled-button .right .middle,
						.disabled-button:hover .right .middle {
							display: inline-block;
							background: url(../images/disabled-button.png) left -25px repeat-x;
							padding: 0 16px;
							cursor: pointer;
						}	
						
				.stepContainer .rowItem .red-button-big .middle {
					width: 109px;
					text-align: center;
					padding: 0;
				}		
						
				
				.postFrame {
					background:#f4f4f4;
					border:1px solid #bdbdbd;
					float:left;
					position:relative;
					padding:15px;
					font-size:12px;
					color:#333333;
				}
					span.grayArrow {
						background:url(../images/grayArrow.png) 0 0 no-repeat;
						width:11px;
						height:7px;
						display:block;
						position:absolute;
						left:7px;
						top:-7px;
					}
					
					.get-a-copilot .stepContainer .geryContent .rowItem .postFrame p {
						line-height:1.5;
						padding:0;
						padding-bottom:15px;
					}
					
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label  {
						width:auto;
						float:none;
						margin-right:10px;
					}
				
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label.first{
						margin-left:12px;
						float:left;
						display:inline;
						font-weight:bold;
						line-height:22px;
					}
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame label.second{
						margin-left:25px;
						float:left;
						display:inline;
						font-weight:bold;
						line-height:22px;
					}

					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .dw{
						float:left;
						display:inline;
						font-weight:normal;
						line-height:22px;
					}
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .prizeInfo {
						float:left;
						display:inline;
						font-weight:normal;
						line-height:22px;
						margin-left:4px;
					}

					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .useAmountLabel {
						float:left;
					}

					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .useAmountRadio {
						float:left;
						margin-top:4px;
					}

					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .amountText {
						float:left;
						width: 50px;
						margin-top: 2px;
						margin-left:4px;
					}
					
					.get-a-copilot .stepContainer .geryContent .rowItem .lineItem .postFrame .radio2 {
						margin-right:7px;
					}
					
					.get-a-copilot .stepContainer .geryContent .row .postFrame .text {
						width:120px;
						float:none;
					}
			
			.get-a-copilot .stepFifth .geryContent  .form {
				padding: 0;
				padding: 20px 28px 32px;
				min-height:200px;
			}
				#selectAccount, #billingProjects { width:410px}	
				
			
			.summary .geryContent  .corner {
				background:url(../images/white_corner.png) 0 0 no-repeat;
				width:4px;
				height:4px;
			}
				.summary .geryContent  .corner.tl {
					top: -1px;
					left: -1px;
					background-position: 0 0;
				}
				.summary .geryContent  .corner.tr {
					top: -1px;
					right: -1px;
					background-position: -4px 0;
				}
				.summary .geryContent  .corner.bl {
					bottom: -1px;
					left: -1px;
					background-position: 0 -4px;
				}
				.summary .geryContent  .corner.br{
					bottom: -1px;
					right: -1px;
					background-position: -4px -4px;
				}
			
			.get-a-copilot .stepSix .geryContent .form  {
				padding: 0;
				padding: 30px 28px 32px;
			}
			
				.get-a-copilot .stepSix .geryContent .form .rowItem {
					padding:20px 10px 25px;
				}
				
				
				.get-a-copilot .stepSix .geryContent .form .rowItem td label {
					
				}
				.get-a-copilot .stepSix .geryContent .form .rowItem td span {
					color:#333333;
					padding:0;
					font-size:12px;
					
				}
				
			.get-a-copilot .buttonBottom {
				margin-top:15px;
			}
				.get-a-copilot .buttonBottom li {
					float:left;
					margin-right:12px;
				}
					.uploadDoc {
						font-size:12px;
						color:#0000ff;
						text-decoration:none;
					}
					.uploadDoc:hover {
						text-decoration:underline;
					}
					.get-a-copilot li a.viewContest,
					.get-a-copilot li a.viewContest:visited {
						background:url(../images/view_contest.png) 0 0 no-repeat;
						font-size:11px;
						font-family:Arial, Helvetica, sans-serif;
						text-decoration:none;
						line-height:19px;
						height:19px;
						padding-left:24px;
						display:inline-block;
					}
					.get-a-copilot li a.viewContest span {
						border-right:1px solid #d6d6d6;
						display:inline-block;
						padding-right:9px;
						cursor:pointer;
					}
                    .get-a-copilot li a.viewContest span.noBorderRight {
                        border-right:0px;
                    }
					.get-a-copilot li a.viewContest:hover span, .get-a-copilot li a.forumIcon:hover span{ text-decoration:underline;}
					.get-a-copilot li a.forumIcon,
					.get-a-copilot li a.forumIcon:visited {
						background:url(../images/forum_ico.png) 0 0 no-repeat;
						font-size:11px;
						font-family:Arial, Helvetica, sans-serif;
						text-decoration:none;
						line-height:19px;
						height:19px;
						padding-left:21px;
						display:inline-block;
					}
					.get-a-copilot .stepSix li a.forumIcon span {
						display:inline-block;
						cursor:pointer;
					}
			
			.get-a-copilot .stepSeven .geryContent .form {
				padding: 0;
				padding: 20px 28px 20px;
				min-height: 170px;
				font-family: Tahoma, Geneva, sans-serif;
				}
			.get-a-copilot .stepSeven .geryContent .noteContainer {
				padding: 18px 25px 22px;
				margin: 0;
				margin-bottom: 13px;
				min-height: 0;
				}	
			.get-a-copilot .stepSeven .form .noteContainer p{
				font-size:14px;
				color:#333333;
				line-height:normal;
				background:url(../images/ico_true.png) left center no-repeat;
				padding-left:25px;
			}
				.get-a-copilot .stepSeven .form .textArea {
					font-size:12px;
				}
				
			
			
			.get-a-copilot .copilotPool .geryContent .form {
				padding: 0;
				padding: 30px 28px 20px;
			}
			
				.get-a-copilot .copilotPool .titleRight {
					padding:0 13px ;
				
				}
				.get-a-copilot .copilotPool .titleRight #layout {
					overflow:hidden;
					float:left;
					margin-top:6px;
				}
					.get-a-copilot .copilotPool .titleRight #layout li {
						float:left;
						margin-right:45px;
					}
					.get-a-copilot .copilotPool .titleRight li a.grid,
					.get-a-copilot .copilotPool .titleRight li a.grid:visited {
						background:url(../images/grid_icon.png) left center no-repeat;
						padding-left:13px;
						display:inline-block;
						color:#333333;
						font-size:11px;
						text-decoration:none;
					}
					.get-a-copilot .copilotPool .titleRight li a.list,
					.get-a-copilot .copilotPool .titleRight li a.list:visited {
						background:url(../images/list_icon.png) left center no-repeat;
						padding-left:13px;
						display:inline-block;
						color:#333333;
						font-size:11px;
						text-decoration:none;
					}
				
				.get-a-copilot .copilotPool .titleRight #display {
					overflow:hidden;
					float:right;
					margin-top:6px;
				}
					.get-a-copilot .copilotPool .titleRight #display li {
						float:right;
						margin-left:9px;
					}
						.get-a-copilot .copilotPool .titleRight #display li label {
							font-size:11px;	
							width:auto;
							padding-right:7px;
							line-height:20px;
						}
				
				
				/* projectItem */
				.projectList {
				    overflow:hidden;
				}
				.copilotPool .projectItem{
					width:293px;
					float:left;
					display:inline;
					margin-top:18px;
					cursor:pointer;
					overflow:hidden;
					}
					
				.copilotPool .projectItem .projectContainer .top{
					width:293px;
					padding-top:10px;
					background:url(../images/selectCopilot_top.png) no-repeat left top;
					}
					
				.copilotPool .projectItem .projectContainer .bottom{
					width:100%;
					padding-bottom:10px;
					background:url(../images/selectCopilot_bottom.png) no-repeat left bottom;
					}
					
				.copilotPool .projectItem .projectContainer .bg{
					width:100%;
					height:155px;
					padding-top:7px;
					background:url(../images/selectCopilot_bg.png) repeat-y left top;
					}
					
				.copilotPool .projectItem .hover .top{
					width:293px;
					padding-top:10px;
					background:url(../images/selectCopilot_top_hover.png) no-repeat left top;
					}
					
				.copilotPool .projectItem .hover .bottom{
					width:100%;
					padding-bottom:10px;
					background:url(../images/selectCopilot_bottom_hover.png) no-repeat left bottom;
					}
					
				.copilotPool .projectItem .hover .bg{
					width:100%;
					height:155px;
					padding-top:7px;
					background:url(../images/selectCopilot_bg_hover.png) repeat-y left top;
					}
					
					.copilotInfo {
						padding:3px 19px 5px;
						font-size:11px;
						font-family:Tahoma, Geneva, sans-serif;
						height:142px;
					}
						.copioltPic {
							float:left;
							margin-right:8px;
							width:96px;
							overflow:hidden;
						}
						
							.blackButton{
								width:96px;
								height:21px;
								display:inline-block;
								font-size:12px;
								color:#fffffc;
								line-height:21px;
								text-align:center;
								text-decoration:none;
								background:url(../images/blackButton2.png) no-repeat left top;
								margin-top:10px;
							}
						
							.blackButton:hover{
								background:url(../images/blackButton2.png) no-repeat left -21px;
								text-decoration:none;
								}
							.copioltPic .blackButton { margin-top:10px; }
						.infoArea {
							width:150px;
							float:left;
						}
						
						.copilotInfo table {
							width:100%;
							margin-left:3px;
						}
						
						.copilotInfo .firstLine {
							border-bottom:1px solid #c3c3c3;
							padding:0 3px 8px;
							line-height:0.8;
							
						}
						.copilotInfo .firstTd { text-align:left; padding-left:3px;}
						.copilotInfo .lastTd { text-align:right; padding-right:5px;}
						.padding {
							padding-top:4px;
						}
						.redText {
							color:#ff0000;
						}
						a.redText,a.redText:visited {
							text-decoration:none;
						}
						a.redText:hover { text-decoration:underline;}
						
						.greenText {
							color:#17c000;
						}
						
						.copilotInfo p {
							padding-left:3px;
							margin:0;
							margin:3px 0;
						
						}
						
						.copilotInfo ul {
							background:#ffffcc;
							border:1px solid #c3c3c3;
							border-left:none;
							border-right:none;
							padding:5px 4px;
							margin-bottom:3px;
						}
							.copilotInfo ul li span {
								display:inline-block;
								width:130px;
							}
							
						a.blue, a.blue:visited {
							background:url(../images/blue-bullet.png) left center no-repeat;
							padding-left:9px;
							text-decoration:none;
							color:#0025e4;
							font-weight:bold;
						}
						a.blue:hover { text-decoration:underline;}
						
						.stepContainer .geryContent .corner.white{
							width:4px;
							height:4px;
							background:url(../images/white_corner.png) 0 0 no-repeat;
						}
						.stepContainer .geryContent .corner.white.tr  {
							background-position: -4px 0;
						}
						
			.pagination { float: right; margin: 13px 13px 0 0; } 
			.pagination ul li { display: inline; margin: 0; list-style-type: none; float:left;}
			.pagination ul li a {
				float: left; 
				color:#000002;
				text-decoration: none; 
				padding: 0 4px;
				font-size: 12px;
				height: 9px;
				line-height: 10px; 
			}
			.pagination ul li a:hover {	text-decoration:underline;} 
			.pagination ul li.current a ,.pagination ul li.current a:hover { font-weight: bold!important; text-decoration:none; }
			.pagination ul li.next a{ padding: 0 10px 0 4px; background: url(../images/arrow-pagination-next.png) right top no-repeat; }
			.pagination ul li.next a:hover{ background-position: right bottom; } 
			.pagination ul li.prev a{ padding: 0 4px 0 10px; background: url(../images/arrow-pagination-prev.png) left top no-repeat; }
			.pagination ul li.prev a:hover{ background-position: left bottom; }	
						
			
		/* errortModal */
		#copilotPopUp{
			width:362px;
			display:none;
		}
			#copilotPopUp h2 {
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				color:#000;
				text-transform:uppercase;
				text-align:center;
				padding:8px 0 12px;
			}
		
		#copilotPopUp .modal-content{
			
			}
			
			#copilotPopUp .copilotInfo {
				background:#fff;
				border:1px solid #c3c3c3;
				padding:14px 13px 11px;
				width:257px;
				margin:0 auto;
				height:auto;
			}
		
			#copilotPopUp .copioltPic {
				text-align:center;
			}
			
			
			#copilotPopUp .inner{
				margin:0 7px;
				background:url(../images/modalBg.png) repeat-x left bottom #e8e8e8;
			}	
			#copilotPopUp .modalTop{
				padding:10px 0 0;
				background:url(../images/small_modal_top2.png) no-repeat left top;
			}
			
			#copilotPopUp .modalBottom{
				padding:0 0 10px;
				background:url(../images/small_modal_bottom2.png) no-repeat left bottom;
				}
				
			#copilotPopUp .modalBg{
				background:url(../images/small_modal_bg2.png) left top repeat-y;
				position:relative;
				left:-1px;
				}
				#copilotPopUp img { margin-bottom:10px}
				#copilotPopUp p { margin:10px 0;}
				
				#copilotPopUp .buttonArea {
					border:none;
					padding-left:82px;
				}
				#copilotPopUp .buttonArea .button6 {
					width: 88px;
					float: none;
					display: block;
					margin: 0 auto;
					margin-top: 16px;
					text-align:center;
					float:left;
					margin-right:12px;
				}
			
			.get-a-copilot .copilotList .geryContent .form {
				padding: 0;
				padding: 30px 28px 27px;
				min-height:0;
			}
			.copilotListTable table {
				width:100%;
				font-size:11px;
			}
				.copilotListTable table th {
					font-weight:normal;
					background:url(../images/copilot_th_bg.png) 0 0 repeat-x;
					height:34px;
					vertical-align:middle;
					border:1px solid #bdbdbd;
					cursor:pointer;
				}
				.copilotListTable table th.hover { background:url(../images/copilot_th_hover_bg.png) 0 0 repeat-x;}
				.copilotListTable table th.first { border-left:none;}
				.copilotListTable table th.last { border-right:none;}
								
				.copilotListTable table td {
					text-align:center;
					height:84px;
					vertical-align:middle;
					font-weight:bold;
					border-bottom:1px solid #bdbdbd;
				}
				.copilotListTable table tr.even {
					background:#f2f2f2;
				}
				.copilotListTable table td.custom {
					background:#ffffcc;
					border-left:1px solid #bdbdbd;
				}
				.copilotListTable table td.last { border-left:1px solid #bdbdbd;}
					.copilotListTable table td a.redText,.copilotListTable table td a.redText:visited {
						text-decoration:none;
						display:block;
					}
					.copilotListTable table td a:hover { text-decoration:underline;}
					.copilotListTable table td .blackButton:hover { text-decoration:none;}
					.copilotListTable .blue { display:block; width:75px; margin:14px auto 0;}
		
		
	.get-a-copilot .mainContent	 {
		padding-top:30px;
		font-family:Tahoma, Geneva, sans-serif;
	}
			
		.get-a-copilot .leftColumn	 {
			/*margin-right:355px;*/
			float:left;
			overflow:hidden;
			
		}
			.get-a-copilot .leftColumn .item {
				padding-bottom:25px;
			}
				.get-a-copilot .leftColumn .item p {
					font-size:12px;
					line-height:1.5;
					padding:13px 10px 0;
				}
				
				.get-a-copilot .leftColumn .item .buttonArea {
					text-align:center;
					margin-top:30px;
				}
					.get-a-copilot .leftColumn .item .buttonArea a { display:inline-block; float:none;}
					.get-a-copilot .leftColumn .item .buttonArea .or {
						display:inline-block;
						line-height:30px;
						height:30px;
						margin:0 33px;
						font-size:12px;
					}
		
		.get-a-copilot .rightColumn	 {
			float:right;
			width:330px;
			margin-right:7px;
		}
			.grayTextArea {
				padding:13px 11px;
				background:#f2f2f2;
				font-size:12px;
				position:relative;
				line-height:1.5;
			}
				.grayTextArea .corner {
					background:url(../images/gray-corners.png) 0 0 no-repeat;
					display:block;
					position:absolute;
					width:4px;
					height:4px;
				}
					.grayTextArea .tl {
						background-position: 0 0;
						top:0;
						left:0;
					}
					.grayTextArea .tr {
						background-position: -3px 0 ;
						top:0;
						right:0;
					}
					.grayTextArea .bl {
						background-position: 0 -3px;
						bottom:0;
						left:0;
					}
					.grayTextArea .br {
						background-position: -3px -3px;
						bottom:0;
						right:0;
					}
					
			.get-a-copilot .mainContent .redText {
				font-size:11px;
				text-decoration:none;
				margin:10px 0 25px;
				display:inline-block;
			}
				.get-a-copilot .mainContent .redText:hover { text-decoration:underline;}
				
				.get-a-copilot .mainContent .firstLine .redText {
					margin:0;
					display:inline;
				}

			.grayTextAreaCustom {
				background:#f2f2f2;
				font-size:12px;
				position:relative;
				border:1px solid #c1c1c1;
				line-height:1.5;
			}	
			.grayTextAreaCustom p {
				padding:16px 11px;
			}
			
				.grayTextAreaCustom .corner {
					background:url(../images/gray-corners-custom.png) 0 0 no-repeat;
					display:block;
					position:absolute;
					width:4px;
					height:4px;
				}
					.grayTextAreaCustom .tl {
						background-position: 0 0;
						top:-1px;
						left:-1px;
					}
					.grayTextAreaCustom .tr {
						background-position: -3px 0 ;
						top:-1px;
						right:-1px;
					}
					.grayTextAreaCustom .bl {
						background-position: 0 -3px;
						bottom:-1px;
						left:-1px;
					}
					.grayTextAreaCustom .br {
						background-position: -3px -3px;
						bottom:-1px;
						right:-1px;
					}	
					
				.grayTextAreaCustom h3 {
					text-transform:uppercase;
					color:#1a1a1a;
					font-size:14px;
					background:url(../images/line.gif) left bottom repeat-x;
					padding:7px 10px 8px;
					font-weight:normal;
				}
				
				.grayTextAreaCustom .red{
					color:red;
				}
					.grayTextAreaCustom .copilotInfo {
						padding:17px 20px 10px;
					}
						.grayTextAreaCustom .infoArea {
							width:170px;
						}
						.grayTextAreaCustom .copioltPic {
							margin-right:19px;
							text-align:center;
						}
						.grayTextAreaCustom .copilotInfo  p {
							padding:0;
							padding-left: 3px;
						}
		


/*------------ Carousel ---*/


.black-button {
	display: inline-block;
	background: url(../images/black-button.png) left top no-repeat;
	height: 21px;
	padding-left: 2px;
	color: #fffffc;
	font-size: 12px;
	line-height: 21px;
	text-decoration: none;
	overflow: hidden;
}
	.black-button .right {
		display: inline-block;
		background: url(../images/black-button.png) right -42px no-repeat;
		padding-right: 2px;
		cursor: pointer;
	}
		.black-button .right .middle {
			display: inline-block;
			background: url(../images/black-button.png) left -21px repeat-x;
			padding: 0 25px;
			cursor: pointer;
		}
.black-button:hover { background-position: left -63px;  }
	.black-button:hover .right { background-position: right -105px;  }
		.black-button:hover .right .middle { background-position: left -84px;  }
		
		
.copilot-carousel { position: relative; }
		.copilot-carousel .corner {
			position: absolute;
			background-image: url(../images/copilot-carousel-corner.png);
			background-repeat: no-repeat;
			width: 5px;
			height: 5px;
			overflow: hidden;
		}
		.copilot-carousel .corner.tl {
			left: 0;
			top: 0;
			background-position: left top;
		}
		.copilot-carousel .corner.tr {
			right: 0;
			top: 0;
			background-position: right top;
		}
		.copilot-carousel .carousel-content {
			background: #413833 url(../images/copilot-carousel.png) left top repeat-x;
			padding: 29px 0;
			overflow: hidden;
		}
		.carousel-content ul{
			position: relative;
			left: 40px;
			width:6000px;
			height:168px;
		}
			.carousel-content ul li{
				position:absolute;
				top:50%;
				background:#f2f2f2;
				border:1px solid #333333;
				width:194px;
				margin-top:-58px;
				text-align:center;
				overflow: hidden;
				-webkit-text-size-adjust: none;
				
			}
				
				.carousel-content ul li .copilot-wrapper {
					border: none;
					background: #f2f2f2;
					text-align: left;
				}
					.carousel-content ul li .copilot-wrapper .photo .black-button .middle {
						width: 92px;
						padding: 0;
						text-align: center;
					}
					.carousel-content ul li .copilot-wrapper .info div.current{ margin-top: 11px; }
					
					
					.carousel-content ul li .corner {
						background:url(../images/slider-corners.png) 0 0 no-repeat;
						width:5px;
						height:5px;
						display:inline-block;
						position:absolute;
					}
					.carousel-content ul li .corner.tl {
						background-position: 0 0;
						left:-1px;
						top:-1px;
					}
					.carousel-content ul li .corner.tr {
						background-position: -5px 0;
						right:-1px;
						top:-1px;
					}
					.carousel-content ul li .corner.bl {
						background-position: 0 -5px;
						left:-1px;
						bottom:-1px;
					}
					.carousel-content ul li .corner.br {
						background-position: -5px -5px;
						right:-1px;
						bottom:-1px;
					}
					
		.copilot-carousel .foot-bar {
			border: 1px solid #dedede;
			background: #f8efe5;
			margin-bottom: 2px;
			padding: 8px 10px;
			color: #333333;
			font-size: 11px;
			text-align: center;
		}
			.copilot-carousel .foot-bar a {
				display: inline-block;
				background-image: url(../images/arrow-foot-bar.png);
				background-repeat: no-repeat;
				width: 7px;
				height: 12px;
				text-indent: -999px;
				overflow: hidden;
				text-decoration:none;
			}
			.copilot-carousel .foot-bar a:hover {
				background:url(../images/arrow-foot-bar-hover.png) 0 0 no-repeat;
			}
			.copilot-carousel .foot-bar a.prev,.copilot-carousel .foot-bar a.prev:hover{
				float: left;
				background-position: left top;
			}
			.copilot-carousel .foot-bar a.next,.copilot-carousel .foot-bar a.next:hover {
				float: right;
				background-position: left -12px;
			}
		
/* copilot-wrapper */
.copilot-wrapper {
	border: 1px solid #c3c3c3;
	background: #fffffe;
	padding: 15px 13px 12px 12px;
}
.copilot-wrapper .photo {
	float: left;
	width: 96px;
	text-align: center;
}
	.copilot-wrapper .photo img { margin-bottom: 2px; }
	.copilot-wrapper .photo .view-profile {
		display: inline-block;
		background: url(../images/arrow-view-profile.png) left 3px no-repeat;
		padding-left: 9px;
		color: #0025e4;
		font-size: 11px;
		font-weight: bold;
		text-decoration: none;
	}
		.copilot-wrapper .photo .view-profile:hover { text-decoration: underline; }
.copilot-wrapper .info {
	float: left;
	width: 147px;
	margin-left: 11px;
	color: #333332;
	font-family: Tahoma;
	font-size: 11px;
}
	.copilot-wrapper .info p {
		padding: 0 5px 0 4px;
	}
		.copilot-wrapper .info p span {
			float: right;
			font-weight: bold;
		}
		.copilot-wrapper .info p a.link {
			float: right;
			color: #17c000;
			font-weight: bold;
			text-decoration: none;
		}
		.copilot-wrapper .info p a.link:hover { text-decoration: underline; }
	.copilot-wrapper .info p.handle {
		border-bottom: 1px solid #c3c3c3;
		margin-bottom: 5px;
		padding-bottom: 6px;
	}
		.copilot-wrapper .info p.handle a {
			font-weight: bold;
			text-decoration: none;
		}
		.copilot-wrapper .info p.handle a:hover { text-decoration: underline; }
	.copilot-wrapper .info p.current { margin: 8px 0 10px; }
	.copilot-wrapper .info div.current {
		background: #ffffcc;
		border-top: 1px solid #c3c3c3;
		border-bottom: 1px solid #c3c3c3;
		padding: 3px 0 4px;
	}
	.coderTextRed, .coderTextYellow, .coderTextBlue, .coderTextGreen, .coderTextGray, .coderTextOrange { 
		font-weight: bold; 
		background-color: transparent;
	}
	.coderTextRed:link, .coderTextYellow:link, .coderTextBlue:link, .coderTextGreen:link, .coderTextGray:link, .coderTextOrange:link, .coderTextWhite:link, .coderTextBlack:link { 
		text-decoration: none;
	}
	.coderTextRed:visited, .coderTextYellow:visited, .coderTextBlue:visited, .coderTextGreen:visited, .coderTextGray:visited, .coderTextOrange:visited, .coderTextWhite:visited, .coderTextBlack:visited { 
		text-decoration: none;
	}
	.coderTextRed:hover, .coderTextYellow:hover, .coderTextBlue:hover, .coderTextGreen:hover, .coderTextGray:hover, .coderTextOrange:hover, .coderTextWhite:hover, .coderTextBlack:hover { 
		text-decoration: underline;
	}
	.coderTextRed:active, .coderTextYellow:active, .coderTextBlue:active, .coderTextGreen:active, .coderTextGray:active, .coderTextOrange:active, .coderTextWhite:active, .coderTextBlack:active { 
		text-decoration: underline;
	}

	/* Orange */
	.coderTextOrange, .coderTextOrange:link, .coderTextOrange:visited, .coderTextOrange:hover, .coderTextOrange:active { color: #FF9900; }
	/* Red */
	.coderTextRed, .coderTextRed:link, .coderTextRed:visited, .coderTextRed:hover, .coderTextRed:active { color: #EE0000; }
	/* Yellow */
	.coderTextYellow, .coderTextYellow:link, .coderTextYellow:visited, .coderTextYellow:hover, .coderTextYellow:active { color: #DDCC00; }
	/* Blue */
	.coderTextBlue, .coderTextBlue:link, .coderTextBlue:visited, .coderTextBlue:hover, .coderTextBlue:active { color: #6666FF; }
	/* Green */
	.coderTextGreen, .coderTextGreen:link, .coderTextGreen:visited, .coderTextGreen:hover, .coderTextGreen:active { color: #00A900; }
	/* Gray */
	.coderTextGray, .coderTextGray:link, .coderTextGray:visited, .coderTextGray:hover, .coderTextGray:active { color: #999999; }
	/* White */
	.coderTextWhite, .coderTextWhite:link, .coderTextWhite:visited, .coderTextWhite:hover, .coderTextWhite:active { color: #FFFFFF; }
	/* Black */
	.coderTextBlack, .coderTextBlack:link, .coderTextBlack:visited, .coderTextBlack:hover, .coderTextBlack:active { color: #000000; }
		
.videoWrap {
	 width:327px;
	 height:208px;
	 margin:10px 0;
}

.foot-bar .next {
    padding-right:0px;
}

#allDescription_parent {
	float:left;
	min-width:722px;
}
#privateDescription_parent {
	float:left;
	min-width:722px;
}
