/**
 * CSS file for the public road map page.
 *
 * @since Module Assembly - TC Cockpit Public Page for TopCoder Road map and RSS syndication
 */

html, body, div, span,
h3, h4, p,
a,
strong,
ul, li,
label,
table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

a:hover, a:focus, a:active {
    outline: none;
}

:focus {
    outline: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

body#page {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    color: #333;
}

.ajaxTableLoader{
    text-align:center;
    padding-top:100px;
    height:200px;
}

#content {
    min-width: 1100px;
}

#header .helloUser A:hover {
    color: #908986;
}

.lookCP a:hover {
    text-decoration: underline;
}

#tabs0 UL LI.on A:hover {
}


#tabs1 UL LI A:hover {
    background-position: left bottom;
}

#tabs1 UL LI A:hover SPAN {
    background-position: right bottom;
}

#tabs2 UL LI A:hover {
    background-position: left bottom;
}

#tabs2 UL LI A:hover SPAN {
    background-position: right bottom;
}

#wholeContent {
    width: 100%;
    overflow: hidden;
    color: #333;
    background: #FFF;
}

#wholeArea {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
    min-height: 600px;
}


.greyButton:hover {
    background-position: 0 -25px;
}

.greyButton:hover span {
    background-position: right -25px;
}

.greyButton:hover span span {
    background-position: 0 -25px;
}

.redButton:hover {
    background-position: 0 -24px;
}

.redButton:hover span.left {
    background-position: right -24px;
}

.redButton:hover span.right {
    background-position: 0 -24px;
}

.greyButton:hover span span span.filterIcon {
    background-position: 0 -18px;
}

.lookCP a:hover {
    text-decoration: none;
}

.enterpriseOverView {
    padding-top: 24px;
}

#silderBar li a.roadmapIcon:hover,
#mainSection {
    margin: 0 0 0 40px;
}

#mainSection .filterPanel {
    width: 100%;
}

#mainSection .filterPanel .filterPanelHeader {
    height: 45px;

}

#mainSection .filterPanel .filterPanelHeader h3 {
    width: auto;
    float: left;
    display: inline;
    padding: 0 18px 0 36px;
    font-size: 22px;
    line-height: 44px;
    background: url("/images/public-roadmap/TopCoder_RoadMap_logo.gif") no-repeat scroll left center transparent;

    text-shadow: #ffffff 1px 1px 0;
}

#mainSection .filterPanel .filterPanelHeader .filterPanelButton {
    width: auto;
    float: right;
    display: inline;
    padding: 14px 16px 0 0;
}

#mainSection .filterPanel .filterPanelHeader .filterPanelButton a {
    width: 20px;
    height: 21px;
    float: left;
    display: inline;
    margin-left: 12px;
    text-indent: -9999px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#mainSection .filterPanel .filterPanelHeader .filterPanelButton a.rss {
    background-image: url(/images/public-roadmap/icon_rss.gif);
}

#mainSection .sectionContainer .pageNum a:hover {
    text-decoration: none;
}

#mainSection .sectionContainer .pageNum a.current:hover {
    font-weight: bold;
    text-decoration: none;
}

#mainSection .sectionContainer .tableData table {
    width: 100%;
    border: #bdbdbd solid 1px;
    border-collapse: collapse;
    vertical-align: middle;
}

#mainSection .sectionContainer .tableData table th {
    height: 28px;
    padding: 0 10px;
    border: #bdbdbd solid 1px;
    font-size: 12px;
    vertical-align: middle;
    background: url(/images/public-roadmap/bg_table_th.png) repeat-x left top #e8e8e8;
}

#mainSection .sectionContainer .tableData table td {
    height: 39px;
    padding: 0 10px;
    border: #bdbdbd solid 1px;
    font-size: 12px;
    vertical-align: middle;
}

#mainSection .roadMapSection .tableData table td {
    padding: 6px 10px;
}

#mainSection .sectionContainer .tableData table .odd td {
    background: #f5f5f5;
}

#mainSection .sectionContainer .tableData table td.alignCenter {
    text-align: center;
}

#mainSection .financialsSection .tableData table td a:hover,
#mainSection .projectsHealthSection .tableData table td a.projectName:hover {
    text-decoration: none;
}

#mainSection .projectsHealthSection .tableData table td a.lastLink:hover {
    text-decoration: none;
}

#mainSection .totalSpendSection .totalSpendTitle a.icon:hover {
    background-position: 0 -18px;
}

#mainSection .projectsHealthSection .projectsHealthTitle a.icon:hover {
    background-position: 0 -18px;
}

#mainSection .roadMapSection {
    margin-top: 20px;
    position: relative;
}

#mainSection .roadMapSection .projectsHealthTitle a.icon:hover {
    background-position: 0 -18px;
}

#mainSection .roadMapSection .corner {
    width: 4px;
    height: 4px;
    overflow: hidden;
    position: absolute;
    background-image: url(/images/public-roadmap/bg_corner.png);
    background-repeat: no-repeat;
}

#mainSection .roadMapSection .tl {
    top: 0;
    left: 0;
    background-position: 0 0;
}

#mainSection .roadMapSection .tr {
    top: 0;
    right: 0;
    background-position: -4px 0;
}

#mainSection .roadMapSection .tabPanel {
    height: 25px;
    padding: 9px 10px 0 10px;
    background: url(/images/public-roadmap/bg_title.png) repeat-x left top;
}

.roadMapSection .tableData .noData{
    font-size:14px;
    font-weight:bold;
    color:#FF0000;
    line-height:100px;
    text-align:center;
}

#mainSection .roadMapSection .tabPanel li {
    width: auto;
    float: left;
    display: inline;
    margin-right: 8px;
}

#mainSection .roadMapSection .tabPanel li a {
    width: auto;
    float: left;
    display: inline;
    padding-left: 5px;
    text-decoration: none;
    background-image: url(/images/public-roadmap/bg_tab.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#mainSection .roadMapSection .tabPanel li a span {
    width: auto;
    float: left;
    display: inline;
    padding-right: 5px;
    background-image: url(/images/public-roadmap/bg_tab.png);
    background-repeat: no-repeat;
    background-position: right -50px;
}

#mainSection .roadMapSection .tabPanel li a span span {
    width: 126px;
    height: 25px;
    float: left;
    display: inline;
    padding: 0;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    cursor: pointer;
    background-image: url(/images/public-roadmap/bg_tab.png);
    background-repeat: repeat-x;
    background-position: left -25px;
}

#mainSection .roadMapSection .tabPanel li a.current,
#mainSection .roadMapSection .tabPanel li a.current:hover {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .roadMapSection .tabPanel li a.current span,
#mainSection .roadMapSection .tabPanel li a.current:hover span {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .roadMapSection .tabPanel li a.current span span,
#mainSection .roadMapSection .tabPanel li a.current:hover span span {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .roadMapSection .tabPanel li a:hover {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .roadMapSection .tabPanel li a:hover span {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .roadMapSection .tabPanel li a:hover span span {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .roadMapSection .tabPanel li.overDue a.current span span strong {
    color: #ff0000;
}

#mainSection .roadMapSection .tabPanel li.upcoming a.current span span strong {
    color: #DB9900;
}

#mainSection .roadMapSection .tabPanel li.completed a.current span span strong {
    color: #00B507;
}

#mainSection .roadMapSection .upcomingTable,
#mainSection .roadMapSection .completedTable {
    display: none;
}

#mainSection .roadMapSection .tabSection h4 {
    min-height: 10px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 center;
}

#mainSection .roadMapSection .tabSection #overDueData h4 {
    background-image: url(/images/public-roadmap/icon_overDue.png);
}

#mainSection .roadMapSection .tabSection #upcomingData h4 {
    background-image: url(/images/public-roadmap/icon_upcoming.png);
}

#mainSection .roadMapSection .tabSection #completedData h4 {
    background-image: url(/images/public-roadmap/icon_completed.png);
}

#mainSection .roadMapSection .tabSection h4 {
    font-size: 12px;
    color: #333333;
    line-height: 22px;
    text-decoration: none;
}

#mainSection .roadMapSection .tabSection h4 a:hover {
    text-decoration: none;
}

#mainSection .roadMapSection .tabSection p {
    padding: 0 24px;
    font-size: 11px;
    line-height: 14px;
}

#mainSection .roadMapSection .tabSection .date {
    font-weight: bold;
}

#mainSection .roadMapSection .tabSection #overDueData .date {
    color: #ff0000;
}

#mainSection .roadMapSection .tabSection #upcomingData .date {
    color: #db9900;
}

#mainSection .roadMapSection .tabSection #completedData .date {
    color: #00b507;
}

.roadmapProject {
    font-weight: bold;
}

#mainSection .overRoadMapSection .roadMapTitle a.icon:hover {
    background-position: 0 -18px;
}

#mainSection .overRoadMapSection .roadMapTitle a.viewAllLink:hover {
    text-decoration: underline;
}

#mainSection .overRoadMapSection .tabPanel li a.current:hover {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .overRoadMapSection .tabPanel li a.current:hover span {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .overRoadMapSection .tabPanel li a.current:hover span span {
    background-image: url(/images/public-roadmap/bg_tab_current.png);
}

#mainSection .overRoadMapSection .tabPanel li a:hover {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .overRoadMapSection .tabPanel li a:hover span {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .overRoadMapSection .tabPanel li a:hover span span {
    background-image: url(/images/public-roadmap/bg_tab_hover.png);
}

#mainSection .overRoadMapSection .tabSection h4 a:hover {
    text-decoration: none;
}


.totalProject:hover {
    text-decoration: none;
}


#mainSection .overProjectsSection .projectTitle a.icon:hover {
    background-position: 0 -18px;
}

#mainSection .overProjectsSection .projectTitle a.viewAllLink:hover {
    text-decoration: underline;
}

#mainSection .overProjectsSection #overProjectsTableData td a:hover {
    text-decoration: underline;
}

#mainSection .overProjectsSection #overProjectsTableData td a.projectName:hover {
    text-decoration: none;
}






#footer {
    padding: 20px 21px 17px 10px;
    margin: 0 auto;
    font-size: 11px;
    color: #333;
    position: relative;
    border-top: 1px solid #bdbdbd;
}

#footer .socialNetwork {
    float: right;
    position: relative;
    top: -2px;
}

#footer .socialNetwork span {
    position: relative;
    top: -3px;
}

#footer .socialNetwork a,
#footer .socialNetwork a.twitterIcon,
#footer .socialNetwork a.linkedInIcon,
#footer .socialNetwork a.facebookIcon,
#footer .socialNetwork a.gPlusIcon,
#footer .socialNetwork a.youtubeIcon,
#footer .copyright {
    font-size: 11px;
    color: #333;
}

#footer .copyright span {
    display: inline-block;
    padding-right: 0px;
}

#footer .copyright a,
#footer .copyright a:hover {
    text-decoration: underline;
}


