/**
 * The CSS File contains CSS styles used in both the index and the other JSP pages.
 *
 * Release Assembly - TC Cockpit Sidebar Header and Footer Update changes:
 * 1) Added new styles for video box.
 * 2) Added new styles for help widget.
 * 3) Added new styles for header and footer.
 * 4) Added new styles for right sidebar.
 *
 * Release Assembly - TC Cockpit Enterprise Dashboard Update Assembly 1
 * 1) Added new styles for AJAX preloader and modal window
 *
 * Release Assembly - TopCoder Cockpit Project Overview Update 1
 * 1) Added new CSS styles for project copilot and project forum modules in the project overview page.
 */

html,body{
	width:100%;
}

/* Remove Firefox button outline */
a:hover, a:active, a:focus, a:active {
    outline: none;
    -moz-outline-style: none;
}

:focus {
    outline: none;
}

.clear {
    clear: both;
}

.status {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #F00;
    padding-left: 10px;
}

.reviewer_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: #000;
    float: right;
    padding-right: 10px;
}

.reviewer_handle_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: #666;
    float: right;
    padding-right: 10px;
}

.edit_type {

    float: right;
    padding-right: 5px;
}

.edit_prize {

    float: right;
    padding-right: 5px;
}

.edit_round {

    float: right;
    padding-right: 5px;
}

.edit_spec {

    float: right;
    padding-right: 5px;
}

.edit_files {

    float: right;
    padding-right: 5px;
}

.sr_question_showdetail {
    float: right;
    margin-top: 6px;
    padding-right: 10px;
}

.sr_addcomment {	
	float:right;
	padding: 5px;
	padding-right: 10px;
}

.sr_editcomment {
	float:right;
	margin-top: 5px;	
	margin-right: -5px;
}
	.det_font{
		font-size:14px;
		font-family:Arial, Helvetica, sans-serif;
		color:#3B3B3B;
	}
	
	.det_font_tab{
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		color:#3B3B3B;
	}
	
.srquestion_detail_font{
	font-size:0.8em;
	font-family:Arial, Helvetica, sans-serif;
	color:#3B3B3B;
	margin-bottom: 8px;	
}
	.srquestion_detail_font .index{	
		padding-left: 40px;
		padding-right: 30px;
		float:left;
		font-weight: bold;
	}
	.srquestion_detail_font .option{	
	}
	.small_info{
		padding-left:125px;
		font-size:12px;
		font-weight:bold;
	}
	
	.small_info_spec{
		
		font-size:12px;
		
	}
	.small_info_spec_last{
		
		font-size:12px;
		
		
	}
	
	.bottom_spec{
		height:20px;
		margin-bottom:10px;
		border-bottom:#999 solid 1px;
		width:100%;
	}
	.mylist{
		font-size:12px;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:15px;
	}
	.name{
	    line-height: 28px;
	}
	.fixWidthName {
		float:left;
		width:120px;
	}
	.gray_name{
		padding-right:20px;
		color:#666;
		font-size:12px;
		
	}
	.name2{
	
		padding-right:15px;
		
	}
	.bigin{
		width:370px;
		height:25px;
	}
	.contest_type{
		margin-top:10px;
	}
	
	.left_align{
		float:left;
	color:#000;
	font-size:12px;
}

.contest_type_edit{
	border:#F00 solid 1px;
	/*margin-top:10px;*/
}

.contest_files{
	/*margin-top:10px;*/
}


.contest_files_edit{
	border:#F00 solid 1px;
	/*margin-top:10px;*/
}

.contest_prize{
	/*margin-top:10px;*/
}


.contest_prize_edit{
	border:#F00 solid 1px;
	/*margin-top:10px;*/
}

.contest_round{
	/*margin-top:10px;*/
}

.contest_spec{
	/*margin-top:10px;*/
}

.contest_round_edit{
	border:#F00 solid 1px;
	/*margin-top:10px;*/
}

.contest_spec_edit{
	border:#F00 solid 1px;
	/*margin-top:10px;*/
}

.spec_review_question{
	margin-top:10px;
}

.spec_review_odd_question{
	margin-top:10px;
	padding-bottom: 10px;
	background-color:#F5F5F5;
}

.add_comment{
	height:10px;
	padding-top:10px;
}
.add_comment a img{
	border:none;
	float:right;
}
.add_comment a{
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
.add_comment_cancel_text{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	margin-right: 12px;
	float:right;
}

.save{
	
	height:10px;
	padding-top:10px;
}
.save a img{
	border:none;
	float:right;
}

.save a{
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
.cancel_text{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	float:right;
	
}

.cancel_text_prize{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	float:right;
	
}
.cancel_text_round{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	float:right;
	
}

.cancel_text_spec{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	float:right;
	
}

.cancel_text_files{
	color:#616161;
	text-decoration:underline;
	padding-left:10px;
	float:right;
	
}


#resubmit{
	text-align:center;
	margin-top:20px;
}

.deleteImg{
	margin-left:10px;
	padding-top:5px;
}

A.delete{
	color:#F00;
	margin-left:5px;
	font-size:13px;
}

#resubmit .bottom_text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#999;
	
	
}

.ip{
	float:left;
	background-color:#009;
	width:100px;
	height:50px;
}

.op{
	float:left;
	background-color:#999998;
	width:100px;
	height:50px;
}

.first_tab{
	width:250px;
}
.first_tab_prize{
	width:350px;
}

.sec_tab{
	width:70px;
}

.sec_tab_prize{
	width:180px;
}
.sec_tab_files{
	width:480px;
}


.details .caption{ /* help popup titles */
		background: url(../images/title_bg.png) repeat-x;
	}

.no_details .caption_det_type{ /* help popup titles */
		/*background: url(../images/title_bg.png) repeat-x;*/
		
		background-color:#F5F5F5;
		
	}
	
	.no_details .caption_det_prize{ /* help popup titles */
		/*background: url(../images/title_bg.png) repeat-x;*/
		
		background-color:#F5F5F5;
		
	}
	.no_details .caption_det_files{ /* help popup titles */
		/*background: url(../images/title_bg.png) repeat-x;*/
		
		background-color:#F5F5F5;
		
	}
	
	.no_details .caption_det_round{ /* help popup titles */
		/*background: url(../images/title_bg.png) repeat-x;*/
		

		
	}
	.no_details .caption_det_spec{ /* help popup titles */
		/*background: url(../images/title_bg.png) repeat-x;*/			
	}


	
		.details .caption .captionLeft{ 
			background: url(../images/title_left.png) no-repeat left;
		}
		
		.details .caption .captionRight{
			background: url(../images/title_right.png) no-repeat right;
		}
		
		.details .caption .captionInner{
			height: 35px;
		}
		
		.no_details .caption .captionInner{
			height: 35px;
		}
		
		.no_details .caption_det_type .captionInner{
			height: 35px;
		}
		.no_details .caption_det_prize .captionInner{
			height: 35px;
		}
		.no_details .caption_det_type_edit .captionInner{
			height: 35px;
		}
		.no_details .caption_det_prize_edit .captionInner{
			height: 35px;
		}
		.no_details .caption_det_round .captionInner{
			height: 35px;
		}
		.no_details .caption_det_round_edit .captionInner{
			height: 35px;
		}
		
		.no_details .caption_det_spec .captionInner{
			height: 35px;
		}
		.no_details .caption_det_spec_edit .captionInner{
			height: 35px;
		}
		
		.no_details .caption_det_files .captionInner{
			height: 35px;
		}
		.no_details .caption_det_files_edit .captionInner{
			height: 35px;
		}
		
			.details .caption .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Verdana, Geneva, sans-serif;
				font-size: 14px;
				padding-top: 8px;
				padding-left: 10px;
			}
			
			.no_details .caption_det_type .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			
			.no_details .caption_det_prize .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_round .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_spec .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_files .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_type_edit .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_prize_edit .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			
			.no_details .caption_det_round_edit .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
				
			}
			.no_details .caption_det_spec_edit .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;
								
			}
			.no_details .caption_det_files_edit .captionInner H2{
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				padding-top: 8px;
				padding-left:10px;				
				
			}
			
		.no_details .caption_specreview {
			padding:10px;
		}
		.no_details .det_specreview {
			padding:10px;
		}
		.no_details .comment_specreview {
			padding:0px 10px 1px 10px;
		}
			.no_details .comment_specreview .old_comment{
				margin-left: 40px;
				margin-right: 12px;
				/*height:70px;*/
				padding: 10px 20px 10px 20px;
				font-size:0.75em;
				background: #ffc;
				color: #777;
				border:#fc0 solid 1px;
			}
			.no_details .comment_specreview .old_comment p{
				margin-bottom: 7px;
			}
			.no_details .comment_specreview .old_comment .text_comment{
				font-size:1em;
				font-weight: bold;
				color: #444;
				margin-bottom: 10px;
			}
			.no_details .comment_specreview .old_comment span.text_reviewer_handle{
				font-size:1em;
				font-weight: bold;
				color: #ca0;
			}
		.no_details .to_add_your_comment {
			padding:10px;
			padding-bottom:0px;
		}
		.no_details .add_your_comment {
			padding:10px;
			padding-bottom: 25px;
		}
		.no_details .add_your_comment .textarea1{
			height:90px;
			margin-left: 40px;
			margin-right: 35px;
		}
			.no_details .add_your_comment .textarea1 textarea{
				width:100%;
				height:70px;
				padding: 10px;
				font-size: 12px;
				background: #fff;
				color:#999;
				border:#c4c4c4 solid 1px;
				overflow: hidden;
			}
			
		.no_details .captionInner{
			padding: 5px 0px 10px 0px;
		}
			.no_details .captionInner H2 {
				margin: 0px;
				padding: 0px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.9em;
				font-weight: bold;
			}
			.no_details .captionInner H2 span {
				margin-top: -19px;
				margin-left: 35px;
				margin-right: 80px;
				line-height: 1.3em;
			}
			.no_details .captionInner H2 span span.normal_text{
				font-weight: normal;
			}
			.no_details .captionInner H2.red {
				color: red;
			}			
			.no_details .captionInner H2 img.icon_status{
				top: 5px;
				position: relative;
				margin-right: 10px;
			}
.tabs3Special{
	margin-top:20px !important;
}
.tabs3Special .no_details .caption_det_type,.tabs3Special .no_details .detailsContent_det_type{ /* help popup titles */
	background-color:#ffffff;
}
.tabs3Special .no_details .caption_det_round,.tabs3Special .no_details .detailsContent_det_round{ /* help popup titles */
	background-color:#f5f5f5;
}
/** schedule **/
.tabs3Special #launchContestOut .editMask{
	margin:0 1px;
}
.tabs3Special .launchCopilotContest,.tabs3Special #launchContestOut.launchCopilotContest .editPanel{
	padding-top:15px;
}
.tabs3Special .launchCopilotContest .editMask .addNewContestInfo,.tabs3Special .launchCopilotContest .editMask .addNewContest{
	clear:left;
    margin-top:0px !important;
}
.tabs3Special #launchContestOut h3{
	font-size:15px;
	height:34px;
}
.tabs3Special #launchContestOut h3 span.icon{
	padding-top:12px;
}
.tabs3Special #launchContestOut.launchCopilotContest .schedule span {
    font-size:15px;
}
.tabs3Special .launchCopilotContest .infoPanel,.tabs3Special #launchContestOut.launchCopilotContest .editPanel{
    padding-left:13px;
}
.tabs3Special .launchCopilotContest .infoPanelMask,.tabs3Special #launchContestOut.launchCopilotContest .editPanel .editPanelMask{
    padding-left:30px;
	padding-right:20px;
}
.tabs3Special #launchContestOut.launchCopilotContest .fileUploadInfo .infoPanelMask{
	padding-left:20px;
}

.tabs3Special .launchCopilotContest .infoPanel ul li{
    color:#333333;
    font-size:13px;
    padding-left:15px;
    font-weight:normal;
}
.tabs3Special .launchCopilotContest .infoPanel ul li label{
	width:176px;
    font-size:15px;
    font-weight:bold;
}
.tabs3Special .launchCopilotContest .fileUploadInfo table td.fileName{

	height:34px;
	padding:0;
}
.tabs3Special .launchCopilotContest .fileUploadInfo table td.fileDesc{
    color:#666666;
    padding-left:20px;
}
.tabs3Special .launchCopilotContest .fileUploadInfo table td.fileName a{
    color:#333333;
	font-size:13px;
	font-weight:bold;
	background:url(../images/icon_document.png) 4px 2px no-repeat;
	padding-left:40px;
	float:left;
	width:auto;
	display:inline;
	margin-left:6px;
	padding-top:8px;
	height:26px;
}
.tabs3Special .launchCopilotContest .fileUploadInfo table td.fileName span{
	float:left;
	width:auto;
	padding-top:8px;
	font-size:11px;
	color:#666666;
	display:inline;
}
.tabs3Special .detailsContent_det_type .name{
	width:176px;
	font-size:15px;
}
.tabs3Special .detailsContent_det_type .value{
	font-size:13px;
}
.tabs3Special .detailsContent_det_round .first_tab{
	width:176px;
}
.tabs3Special .detailsContent_det_type_edit .selectX{
	padding:10px 0;
}
.tabs3Special .detailsContent_det_type_edit .selectX .name{
	width:276px;
}
.tabs3Special .contest_type{
	margin-top:0px;
}

/* popups */

.deleteUserInner P{
	text-align: center;
	padding-bottom: 5px;
}

.deleteUserInner .button1{
	float: right;
	margin: 4px 4px 0 4px;
}

.popupButtons{
	height: 100%;
	overflow: hidden;
	padding: 5px 0;
}

#TB_closeWindowButton{
	width: 15px;
	height: 15px;
	background: url(../images/close_ico.png) no-repeat;
	display: block;
}

/* Help modal window */


.helpPopupInner .caption .captionInner H2{ /* title */
	color: #333;
}

.helpPopupInner  .helpArea{
	padding-bottom: 20px;
}

.helpPopupInner .logoArea{
	padding: 20px 0;
}

.popupFooter{
	padding: 20px 0 0 0;
	margin: 0 auto;
	font-size: 11px;
	color: #333;
	border-top: 1px solid #bdbdbd;
	background-color: #f6f6f6;
	text-align: center;
}

.popupFooter A{
	text-decoration: none;
	color: #333 !important;
}

.popupFooter H2{
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0 0 5px 0;
	font-size: 12px;
	font-weight: normal;
}

.popupFooter P{
	margin: 0;
	font-size: 11px;
}

/*-----------
	BUTTONS
-------------*/



A.button1{
	float: left;
	background: transparent url(../images/button_left.png) no-repeat left;
	font-size: 12px;
	font-weight: bold;
	color: #362f2d;
	text-decoration: none;
}	

A.button1 SPAN {
    float: left;
    background: transparent url(../images/button_right.png) no-repeat right;
    padding: 5px 10px 2px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
}

A.button1:hover {
    color: #000;
}

A.button2 {
    display: block;
    background: transparent url(../images/button.png) no-repeat top;
    width: 253px;
    height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFD;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
}

	A.button2:hover{
		background: transparent url(../images/button.png) no-repeat bottom;
	}

A.button3{
	display: block;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	background: url(../images/button2.png) no-repeat top;
	width: 232px;
	height: 25px;
	color: #333333;
	font-family: "Myriad pro", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
}

A.button3:hover{
	background-position: bottom;
}

A.button4{
	display: block;
	background: transparent url(../images/button3.png) no-repeat top;
	width: 144px;
	height: 18px;
	padding-top: 3px;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	margin: 0 auto;
	text-decoration: none;
	margin-bottom: 5px;
}

A.button4:hover{
	background-position: bottom;
}

A.button5{
	display: block;
	background: transparent url(../images/button4.png) no-repeat top;
	width: 144px;
	height: 18px;
	padding-top: 3px;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	margin: 0 auto;
	text-decoration: none;
}

A.button5:hover{
	background-position: bottom;
}

A.button6,
A.button7,
A.button8 {
    float: right;
    background: url(../images/button5_left.png) no-repeat left top;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFD;
    text-decoration: none;
    margin: 0 3px;
}

	A.button6 SPAN,
	A.button7 SPAN,
	A.button8 SPAN{
		display: block;
		cursor: pointer;
	}
	
	A.button7 SPAN.right{
		padding: 4px 27px 0 27px; 
		height: 20px;
	}

A.button7{
	background: url(../images/button7_bg.png) repeat-x top;
	color: #333;
}

	A.button7 SPAN.left{
		display: block;
		background: url(../images/button7_left.png) no-repeat left top;
		padding: 0;
	}
	
	A.button7 SPAN.right{
		display: block;
		background: url(../images/button7_right.png) no-repeat right top;
	}

A.button8 {
    background: url(../images/button8_bg.png) repeat-x top;
    color: #FFFFFD !important;
}

	A.button8 SPAN.left{
		background: url(../images/button8_left.png) no-repeat left top;
		padding: 0;
	}
	
	A.button8 SPAN.right{
		background: url(../images/button8_right.png) no-repeat right top;
		padding: 5px 27px 0 27px;
		height: 21px;
	}

A.button6{
	background: url(../images/button5_bg.png) repeat-x top;
}

	A.button6 SPAN.left{
		background: url(../images/button5_left.png) no-repeat left top;
		padding: 0;
	}
	
	A.button6 SPAN.right{
		background: url(../images/button5_right.png) no-repeat right top;
		padding: 4px 27px 0 27px;
		height: 20px;
	}

A.button6:hover,
A.button7:hover,
A.button8:hover{
	background-position: left bottom;
	text-decoration: none !important;
}

	A.button6:hover SPAN,
	A.button7:hover SPAN,
	A.button8:hover SPAN{
		background-position: right bottom;
	}
	
	A.button7:hover SPAN.left{
		background-position: left bottom;
	}
	
	A.button7:hover SPAN.right{
		background-position: right bottom;
	}
	
	A.button8:hover SPAN.left{
		background-position: left bottom;
	}
	
	A.button8:hover SPAN.right{
		background-position: right bottom;
	}
	
	A.button6:hover SPAN.left{
		background-position: left bottom;
	}
	
	A.button6:hover SPAN.right{
		background-position: right bottom;
	}

A.button9 {
    display: block;
    background: transparent url(../images/button9.png) no-repeat top;
    width: 126px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFD;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

	A.button9:hover{
		background: transparent url(../images/button9.png) no-repeat bottom;
	}

A.button10{
	float: left;
	background: transparent url(../images/button10.png) no-repeat left top;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding-left:3px;
	margin-left:10px;
}	

	A.button10 SPAN.left{
		float: left;
		background: transparent url(../images/button10.png) no-repeat right -48px;
		padding-right:3px;;
		cursor: pointer;
		overflow: hidden;
	}
	A.button10 SPAN.right{
		float: left;
		background: transparent url(../images/button10.png) left -24px repeat-x;
		cursor: pointer;
		line-height:22px;
		height: 24px;
		padding:0 18px;
		color: #FFFFFE;
		overflow: hidden;
	}
	
	A.button10:hover{
		background-position:left -72px;
	}
	A.button10:hover SPAN.left{
		background-position:right -120px;
	}
	A.button10:hover SPAN.right{
		background-position:left -96px;
	}
/*----------------
	MISC
----------------*/

IMG{
	border: none;
}

.hide{
	display: none;
}

.fLeft{
	float: left !important;
}

.fRight{
	float: right !important;
}

.lastColumn{
	text-align: left !important;
	padding-left: 10px !important;
}

#loading {
width:100px;
height: 100px;
position: fixed;
top: 50%;
left: 50%;
background:url(../images/loading.gif) no-repeat center;
text-align:center;
padding:10px;
font:normal 15px Tahoma, Geneva, sans-serif;
border:0px solid #666;
margin-left: -50px;
margin-top: -50px;
z-index:100;
overflow: auto;
}

/** The following is added in TC Cockpit Sidebar Header and Footer Update v1.0 **/
.TCLogo {
	float: right;
	margin-right: 23px;
	margin-top: 45px;
}

.dashBoardLookCP {
    position: absolute;
    top:60px;
	right:11px;
}

.lookCP {
    background: url(../images/redArrow.gif) no-repeat 0 center;
    padding-left: 13px;
    font-size: 11px;
    color: #333;
    margin-top: 10px;
    padding-right: 13px;
    float: right;
}

.lookCP a,
.lookCP a:visited {
    font-weight: bold;
    text-decoration:underline;
    color: #333;
}

.lookCP a:hover {
    color:#FF0000;
}

.videoContent {
    width: 209px;
    height: 143px;
    overflow: hidden;
}

#videoContainer,
#videoContainer embed{
	width:209px;
	height:143px;
	overflow:hidden;
	}
/*select a project in dashboard page*/
.selectProject{
	width:252px;
	margin-bottom:10px;
	display:block;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:10px;
	}
	.selectProject option{
		font-size:12px;
		height:15px;
		padding-left:10px;
		}
/*help center widget*/
#helpCenterWidget{
	padding:0 15px;
	}
	#helpCenterWidget h6{
		background:url(../images/questionIcon.png) no-repeat 0 center;
		padding-left:32px;
		line-height:22px;
		font-size:17px;
		color:#fffffd;
		margin-top:3px;
		margin-bottom:13px;
		margin-left:7px;
		}
	.homePage #helpCenterWidget h6{
		margin-left:0px;
		
		}
	#helpCenterWidget ul.tabList{
		float:left;
		display:inline;
		}
		#helpCenterWidget ul.tabList li{
			float:left;
			display:inline;
			margin-right:3px;
			}
		#helpCenterWidget ul.tabList li.last{
			margin-right:0;
			}
			#helpCenterWidget ul.tabList a,
			#helpCenterWidget ul.tabList a:visited{
				background:url(../images/tabListBG.png) repeat-x 100% -22px;
				width:auto;
				display:inline-block;
				
				height:22px;
				line-height:22px;
				overflow:hidden;
				
				padding:0 8px;
				
				text-decoration:none;
				font-size:11px;
				font-weight:bold;
				text-decoration:none;
				color:#fffffe;
				}
				
				#helpCenterWidget ul.tabList a:hover{
					background:url(../images/tabListBG.png) repeat-x 0 -88px;
					}
				
				#helpCenterWidget ul.tabList a.actived,
				#helpCenterWidget ul.tabList a.actived:visited,
				#helpCenterWidget ul.tabList a.actived:hover{
					background:url(../images/tabListBGActived.png) repeat-x 0 -23px;
					position:relative;
					top:1px;
					height:23px;
					overflow:hidden;
					border-left:1px solid #5e5651;
					border-right:1px solid #5e5651;
					z-index:2;
					}
				.dashboardPage #helpCenterWidget ul.tabList a{
					padding:0 14px;
					}
				#helpCenterWidget ul.tabList a.tabMore,
				#helpCenterWidget ul.tabList a.tabMore:visited{
					display:none;
					}
				#helpCenterWidget ul.tabList a#moreTab,
				#helpCenterWidget ul.tabList a#lessTab{
					padding:0 14px;
					}
			.dashboardPage #helpCenterWidget ul.tabList a#moreTab,
			.dashboardPage #helpCenterWidget ul.tabList a#lessTab{
				padding:0 12px;
				}
			
			.tabContent{
				width:100%;
				background:#4c413c;
				border:1px solid #5e5651;
				padding-bottom:10px;
				position:relative;
				}
			.dashboardPage .tabContent{
				top:-1px;
				}
			.viewAllLink,
			.viewAllLink:visited{
				position:absolute;
				bottom:15px;
				right:15px;
				text-decoration:underline;
				font-size:11px;
				font-weight:bold;
				color:#efefef;
				}
			.viewAllLink:hover{
				text-decoration:none;
				}
			
				.tabContent ul{
					padding:15px;
					list-style:none;
					}
					.tabContent ul li{
						padding-bottom:10px;
						background:url(../images/grayArrow.gif) no-repeat 0 3px;
						}
						.tabContent ul a,
						.tabContent ul a:visited{
							font-size:11.05px;
							text-decoration:none;
							color:#fffffd;
							margin-left:13px;
							display:block;
							}
						.tabContent ul a:hover{
							text-decoration:underline;
							}
	#helpCenterWidget .contactUs{
		margin:13px -15px 0;
		text-align:center;
		background:url(../images/shadow.png) repeat-x 0 0;
		padding-top:22px;
		padding-bottom:26px;
		}
.darkenBtn,
.darkenBtn:visited {
    color: #fffffd;
    background: url(../images/darkenBtn.png) no-repeat 0 0;
    width: auto;
    display: inline-block;
    padding-left: 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
}

.darkenBtn .right {
    background: url(../images/darkenBtn.png) no-repeat 100% -66px;
    width: auto;
    display: inline-block;
    padding-right: 12px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    cursor: pointer;
}

.darkenBtn .middle {
    background: url(../images/darkenBtn.png) repeat-x 0 -33px;
    width: auto;
    display: inline-block;
    padding: 0 10px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    cursor: pointer;
}

.darkenBtn:hover {
    background: url(../images/darkenBtn.png) no-repeat 0 -99px;
}

.darkenBtn:hover .right {
    background: url(../images/darkenBtn.png) no-repeat 100% -165px;
}

.darkenBtn:hover .middle {
    background: url(../images/darkenBtn.png) repeat-x 0 -132px;
}

/** cockpit footer **/

#footer .socialNetwork {
    float: right;
    position: relative;
    top: -2px;
}

.homeFooter .socialNetwork {
    padding-right: 6px;
}

#footer .socialNetwork span {
    position: relative;
    top: -3px;
}

#footer .socialNetwork a,
#footer .socialNetwork a:visited {
    background-image: url(../images/followIcon.gif);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    margin-left: 6px;
}

#footer .socialNetwork a.twitterIcon,
#footer .socialNetwork a.twitterIcon:visited {
    background-position: 0 0;
}

#footer .socialNetwork a.linkedInIcon,
#footer .socialNetwork a.linkedInIcon:visited {
    background-position: -16px 0;
}

#footer .socialNetwork a.facebookIcon,
#footer .socialNetwork a.facebookIcon:visited {
    background-position: -32px 0;
}

#footer .copyright {
    font-size: 11px;
    color: #333;
}

#footer .copyright span {
    display: inline-block;
    padding-right: 0px;
}

#footer .copyright a,
#footer .copyright a:visited {
    background: url(../images/footerSeparator.gif) no-repeat left center;
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px 0 4px;
}

#footer .copyright a:hover {
    text-decoration: underline;
}

#modalBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    display: none;
    background: #000002;
}

#new-modal {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10001;
}

#new-modal .outLay {
    position: relative;
    display: none;
}

.outLay {
    width: 360px;
}

#new-modal .outLay .modalHeader .closeModal,
#new-modal .outLay .modalHeader .closeOtherModal {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../images/modal-close.png) left top no-repeat;
    z-index: 2;
}

#new-modal .outLay .modalHeader .closeModal:hover {
    background-position: left -30px;
}

#new-modal .outLay .modalHeader {
    height: 40px;
    background: url(../images/modal-header.png) left top no-repeat;
    padding-left: 8px;
    overflow: hidden;
}

#new-modal .outLay .modalHeader .modalHeaderRight {
    height: 40px;
    background: url(../images/modal-header.png) right -80px no-repeat;
    padding-right: 8px;
}

#new-modal .outLay .modalHeader .modalHeaderCenter {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    padding-left: 22px;
    background: url(../images/modal-header.png) left -40px repeat-x;
}

#new-modal .outLay .modalHeaderSmall {
    height: 8px;
    background: url(../images/preloader-corner.png) left top no-repeat;
    padding-left: 8px;
    overflow: hidden;
}

#new-modal .outLay .modalHeaderSmall .modalHeaderSmallRight {
    height: 8px;
    background: url(../images/preloader-corner.png) right -16px no-repeat;
    padding-right: 8px;
}

#new-modal .outLay .modalHeaderSmall .modalHeaderSmallCenter {
    height: 8px;
    background: url(../images/preloader-corner.png) left -8px repeat-x;
}

#new-modal .outLay .modalFooter {
    height: 8px;
    background: url(../images/preloader-corner.png) left -24px no-repeat;
    padding-left: 8px;
    overflow: hidden;
}

#new-modal .outLay .modalFooter .modalFooterRight {
    height: 8px;
    background: url(../images/preloader-corner.png) right -40px no-repeat;
    padding-right: 8px;
}

#new-modal .outLay .modalFooter .modalFooterCenter {
    height: 8px;
    background: url(../images/preloader-corner.png) left -32px repeat-x;
}

.outLay .modalBody {
    border: 4px solid #000000;
    border-top-width: 0;
    border-bottom-width: 0;
    background: #e6e6e6 url(../images/modal-body-normal.png) left top repeat-x;
    font-size: 12px;
    color: #333333;
    line-height: 18px;
    min-height: 10px;
}

.outLay .iconNotice {
    position: absolute;
    left: 22px;
    top: 73px;
}

.outLay .modalBody .noticeContent {
    padding-left: 96px;
    height: 109px;
    width: 240px;
}

.outLay .modalBody .modalCommandBox {
    border-top: 1px solid #ccc;
    padding-top: 16px;
    height: 36px;
    text-align: center;
}

.outLay input.text {
    height: 19px;
    padding-left: 6px;
    padding-right: 6px;
    border-top: 1px solid #717171;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #dadada;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 18px;
    font-size: 12px;
    background: #ffffff url(../images/modal-text-shadow.png) left top repeat-x;
}

.outLay .textField {
    border: 1px solid #999999;
    border-top-color: #737373;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 18px;
    font-size: 12px;
    overflow: auto;
}

/* #preloaderModal */
#preloaderModal {
    width: 100px;
    height: 80px;
}

#preloaderModal .modalBody {
    height: auto;
    min-height: 10px;
    padding-top: 4px;
    text-align: center;
    background: url(../images/preloader-body.png) left -2px repeat-x;
}

#preloaderModal .modalBody .preloaderTips {
    padding-top: 5px;
    font-size: 12px;
    color: #333333;
}

/* end #preloaderModal */

#errorDialog li {
    list-style-type: disc;
}


/* START - Release Assembly - TopCoder Cockpit Project Overview Update 1  */

	#new-modal .buttonArea{
		height:52px;
		background:#e8e8e8;
		border-top:#cccccc solid 1px;
		}

		#new-modal .buttonArea .button6{
			width:60px;
			float:none;
			display:block;
			margin:0 auto;
			margin-top:16px;
			}

		#new-modal .buttonArea .closeButton{
			width:82px;
			}

			#new-modal .buttonArea .button6 span.right{
				padding:4px 20px 0 20px;
				}

			#new-modal .buttonArea .closeButton span.right{
				padding:4px 24px 0 24px;
				}

.projectTableContainer {
	position:relative;
	min-height:50px;
	width:100%;
	overflow:hidden;
	margin-bottom:8px;
	}
.projectTableContainer TABLE.project{
	margin-bottom:0;
	}

.projectTableContainer SPAN.leftCorner{
	position:absolute;
	background: url(../images/th_left_bg.png) no-repeat left top;
	display: block;
	height:25px;
	width:2px;
	left:0px;
	top:0px;
	}

.projectTableContainer SPAN.rightCorner{
	position:absolute;
	background: url(../images/th_right_bg.png) no-repeat right top;
	display: block;
	height:25px;
	width:2px;
	right:0px;
	top:0px;
	}
.projectTableContainer TABLE.project THEAD SPAN.left{
	display: block;
	height:25px;
	position:static;
	margin-left:0px;
	background:none;
}

.projectTableContainer TABLE.project THEAD SPAN.right{
	background:none;
	display: block;
	position:static;
	right:0px;
}

#area1 .titleProjectCopilots H2.title{
	background:url(../images/project_copilot_icon.png) left top no-repeat;
	}
#area1 .titleProjectStats H2.title{
	background-image:url(../images/project_stats_icon.png);
	}
#area1 .titleProjectForum H2.title{
	background:url(../images/project_forum_icon.png) left top no-repeat;
	}

/* Project Copilots area */
.projectCopilotsLeader{
	border:1px solid #bdbdbd;
	margin-bottom:15px;
	}
	.projectCopilotsLeader .goForCopilot{
		padding:12px 10px;
		}
		.projectCopilotsLeader .goForCopilot h3{
			font-size:14px;
			font-weight:normal;
			padding-bottom:12px;
			}
		.projectCopilotsLeader .goForCopilot .goForCopilotBox{
			min-height:10px;
			overflow:hidden;
			font-size:11px;
			line-height:14px;
			color:#666667;
			}
			.projectCopilotsLeader .goForCopilot .goForCopilotBox p{
				padding-top:4px;
				}
			.projectCopilotsLeader .goForCopilot .goForCopilotBox .leftBox{
				float:left;
				width:48%;
				display:inline;
				}
			.projectCopilotsLeader .goForCopilot .goForCopilotBox .rightBox{
				float:right;
				width:48%;
				display:inline;
				}

	.projectCopilotsLeader .projectCopilotsProblem{
		padding:20px 12px 26px;
		font-size:11px;
		background-color:#f5f5f5;
		border-top:1px solid #bdbdbd;
		}
		.projectCopilotsLeader .projectCopilotsProblem dt{
			font-weight:bold;
			}
		.projectCopilotsLeader .projectCopilotsProblem dl a{
			text-decoration:none;
			color:#ff0001;
			padding-left:8px;
			line-height:13px;
			background:url(../images/arrow-link.gif) left center no-repeat;
			}
		.projectCopilotsLeader .projectCopilotsProblem dl a:hover{
			text-decoration:underline;
			}

/* Project Forum area */
.projectForumLeader{
	border:1px solid #bdbdbd;
	min-height:10px;
	margin-bottom:15px;
	background:url(../images/img-forum-person.png) 14px 22px no-repeat;
	padding-left:300px;
	padding-top:14px;
	padding-right:10px;
	padding-bottom:14px;
	font-size:12px;
	color:#333333;
	line-height:18px;
	}
	.projectForumLeader h3{
		font-size:14px;
		color:#000000;
		font-weight:normal;
		line-height:32px;
		}
	.projectForumLeader .projectForumLeaderButton{
		padding-top:10px;
		}
		.projectForumLeader .projectForumLeaderButton .buttonRed1,
		.projectForumLeader .projectForumLeaderButton .buttonRed1 span{
			display:inline-block;
			font-size:12px;
			}
		.projectForumLeader .projectForumLeaderButton .buttonRed1 span{
			width:112px;
			}

		.projectForumLeader .projectForumLeaderButton .createForumButton span{
			width:158px;
			}

	/* copilotManageModal */
	#copilotManageModal {
		width:660px;
		display:none;
		}

		#copilotManageModal .addUserForm{
			padding-top:30px;
			}
        #copilotManageModal .errorMessage {
            color: #ff0001;;
            font-size: 12px;
            line-height: 40px;
            padding-left: 190px;
        }

			/* left */
			#copilotManageModal .addUserForm .addUserLeft{
				width:220px;
				height:300px;
				float:left;
				display:inline;
				margin-left:67px;
				border:#bcbcbc solid 1px;
				background:#eeeeee;
				}

			#copilotManageModal .addUserForm .addUserButton{
				width:74px;
				height:300px;
				float:left;
				display:inline;
				}

			/* right */
			#copilotManageModal .addUserForm .addUserRight{
				width:220px;
				height:300px;
				float:left;
				display:inline;
				border:#bcbcbc solid 1px;
				background:#eeeeee;
				}

				/* addUserTitle */
				#copilotManageModal .addUserForm .addUserTitle{
					height:33px;
					font-family:Tahoma, Arial, Helvetica, sans-serif;
					line-height:33px;
					background:#3e3532;
					}

					#copilotManageModal .addUserForm .addUserTitle p{
						width:auto;
						float:left;
						display:inline;
						margin-left:10px;
						font-size:12px;
						font-weight:bold;
						color:#fffffe;
						}

					#copilotManageModal .addUserForm .addUserTitle a{
						width:auto;
						float:right;
						display:inline;
						margin-right:5px;
						font-size:12px;
						color:#c9c9c9;
						text-decoration:none;
						}

					#copilotManageModal .addUserForm .addUserTitle a:hover{
						text-decoration:underline;
						}

				/* search box */
				#copilotManageModal .addUserForm .searchBox{
					height:47px;
					font-family:Tahoma, Arial, Helvetica, sans-serif;
					border-bottom:#c6c6c6 solid 1px;
					}

					#copilotManageModal .addUserForm .searchBox .text{
						width:108px;
						height:17px;
						float:left;
						display:inline;
						margin-top:12px;
						margin-left:10px;
						margin-right:10px;
						padding:2px;
						background:#f8f8f8;
						font-size:12px;
						border:#a2a1a5 solid 1px;
						}

					#copilotManageModal .addUserForm .searchBox .downloadProfile{
						width:64px;
						float:left;
						display:inline;
						margin-top:13px;
						}

						#copilotManageModal .addUserForm .searchBox .downloadProfile .profileLeft{
							width:64px;
							font-size:12px;
							text-align:center;
							text-indent:-2px;
							}

				/* copilotManageList */
				#copilotManageModal .addUserForm .addUserLeft .addUserList{
					height:219px;
					}

				#copilotManageModal .addUserForm .addUserRight .addUserList{
					height:266px;
					}

				#copilotManageModal .addUserForm .addUserList li{
					margin-bottom:1px;
					padding-left:10px;
					font-family:Tahoma, Arial, Helvetica, sans-serif;
					font-size:12px;
					line-height:20px;
					height:20px;
					list-style:none;
					border-bottom:#c3c4c6 dotted 1px;
					cursor:pointer;
					}

				#copilotManageModal .addUserForm .addUserList li.selected{
					background:#c1c1c1;
					}

                #copilotManageModal.outLay .inner {
                    background: none;
                    margin: 0 0 0 0;
                }

				/* button */
				#copilotManageModal .addUserForm .addItem{
					width:34px;
					height:19px;
					display:block;
					margin:0 auto;
					margin-top:136px;
					text-indent:-9999px;
					background:url(../images/add_tech.png) no-repeat left top;
					}

				#copilotManageModal .addUserForm .addItem:hover{
					background:url(../images/add_tech_hover.png) no-repeat left top;
					}

				#copilotManageModal .addUserForm .removeItem{
					width:34px;
					height:19px;
					display:block;
					margin:0 auto;
					margin-top:5px;
					text-indent:-9999px;
					background:url(../images/remove_tech.png) no-repeat left top;
					}

				#copilotManageModal .addUserForm .removeItem:hover{
					background:url(../images/remove_tech_hover.png) no-repeat left top;
					}

				#copilotManageModal .modalBody .buttonArea .button6{
					width:100px;
					float:left;
					display:inline;
					margin-left:206px;
					margin-right:40px;
					}

				#copilotManageModal .modalBody .buttonArea .cancelButton{
					margin-left:0;
					}

					#copilotManageModal .modalBody .buttonArea .button6 span.right{
						padding:4px 0 0 0;
						text-align:center;
						}


/* projectCopilotsList */
.projectCopilotsList{
	min-height:10px;
	border:1px solid #bdbdbd;
	margin-bottom:15px;
	}
	.projectCopilotsList .copilotsListHeader{
		height:24px;
		background:url(../images/project_th_bg.png) left -1px repeat-x;
		border-bottom:1px solid #bdbdbd;
		line-height:24px;
		}
		.projectCopilotsList .copilotsListHeader h3{
			font-size:14px;
			font-weight:normal;
			color:#000000;
			text-indent:10px;
			}
		.projectCopilotsList .copilotsListHeader .red{
			color:#ff0001;
			}
	.projectCopilotsList .copilotsListBody{
		width:100%;
		overflow:hidden;
		}
	.projectCopilotsList ul li{
		list-style:none;
		font-size:11px;
		color:#333333;
		}

    .projectCopilotsList .projectCopilotPhoto {
        width: 77px;
        height: 85px;
    }
	#projectCopilotsCarousel{
		min-height:155px;
		width:100%;
		}
		#projectCopilotsCarousel .itemContainer{
			min-height:145px;
			padding-bottom:10px;
			overflow:hidden;
			}
			#projectCopilotsCarousel .itemContainer .userPhoto{
				float:left;
				width:28%;
				padding-top:15px;
				min-width:78px;
				display:inline;
				text-align:right;
				}
			.copilotsAlignCenter #projectCopilotsCarousel .itemContainer .userPhoto{
				float:none;
				width:100%;
				display:block;
				text-align:center;
				}
				.copilotsAlignCenter #projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner{
					float:none;
					display:block;
					}
				.copilotsAlignCenter #projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner .handleLink{
					width:auto;
					}
				#projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner{
					float:right;
					width:auto;
					display:inline;
					}
					#projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner .handleLink{
						width:68px;
						text-align:center;
						padding-top:6px;
						}
						#projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner .handleLink a{
							font-weight:bold;
							text-decoration:none;
							}
						#projectCopilotsCarousel .itemContainer .userPhoto .userPhotoInner .handleLink a:hover{
							text-decoration:underline;
							}
			#projectCopilotsCarousel .itemContainer .userInfor{
				float:left;
				width:72%;
				min-width:200px;
				display:inline;
				line-height:18px;
				padding-top:15px;
				}
				#projectCopilotsCarousel .itemContainer .userInfor .userInforInner{
					padding-left:15px;
					}
				#projectCopilotsCarousel .itemContainer .userInfor dl dd{
					min-height:18px;
					overflow:hidden;
					}
				#projectCopilotsCarousel .itemContainer .userInfor dl .dt{
					float:left;
					width:104px;
					display:inline;
					clear:left;
					}
				#projectCopilotsCarousel .itemContainer .userInfor dl .dd{
					float:left;
					width:80px;
					display:inline;
					font-weight:bold;
					}
				#projectCopilotsCarousel .itemContainer .userInfor .mailTo{
					clear:both;
					background:url(../images/icon-email.png) left 4px no-repeat;
					padding-left:18px;
					}
					#projectCopilotsCarousel .itemContainer .userInfor .mailTo a{
						color:#333333;
						text-decoration:underline;
						}
					#projectCopilotsCarousel .itemContainer .userInfor .mailTo a:hover{
						text-decoration:none;
						}

				.copilotsAlignCenter #projectCopilotsCarousel .itemContainer .userInfor{
					float:none;
					display:block;
					margin:0 auto;
					}

			.noCopilotType #projectCopilotsCarousel .itemContainer .userPhoto{
				margin-left:10%;
				padding-top:25px;
				}
			.noCopilotType #projectCopilotsCarousel .itemContainer .userInfor{
				width:62%;
				min-width:160px;
				padding-top:25px;
				}
			.noCopilotType #projectCopilotsCarousel .itemContainer .userInfor dl .dd{
				width:40px;
				}

			.copilotsAlignCenter .noCopilotType #projectCopilotsCarousel .itemContainer .userPhoto{
				margin-left:0;
				}



	.projectCopilotsList .copilotsListButtonBox{
		background-color:#f5f5f5;
		border-top:1px solid #bdbdbd;
		padding-top:9px;
		padding-bottom:10px;
		height:24px;
		text-align:center;
		}
		.projectCopilotsList .copilotsListButtonBox .buttonRed1{
			display:inline-block;
			font-size:12px;
			}
			.projectCopilotsList .copilotsListButtonBox .buttonRed1 span{
				display:inline-block;
				padding:0 32px 0 28px;
				}


/* #projectForumTable */
#projectForumTable{
	border:1px solid #bdbdbd;
	font-size:11px;
	margin-bottom:15px;
	}
	#projectForumTable .projectForumTableHeader{
		height:24px;
		background:url(../images/project_th_bg.png) left -1px repeat-x;
		border-bottom:1px solid #bdbdbd;
		line-height:24px;
		padding-right:16px;
		text-align:left;
		overflow:hidden;
		}
		#projectForumTable .projectForumTableHeader div{
			float:left;
			display:inline;
			font-weight:bold;
			}
		#projectForumTable .projectForumTableHeader div.colTab1{
			text-align:left;
			text-indent:10px;
			}
		#projectForumTable .projectForumTableHeader div.colTab3{
			text-align:center;
			}
		#projectForumTable .projectForumTableBody td.colTab1 div{
			padding-left:5px;
			}
		#projectForumTable .projectForumTableBody td.colTab2 div{
			padding-top:2px;
			}
	#projectForumTable .projectForumTableBody{
		height:199px;
		overflow:auto;
		}
		#projectForumTable .projectForumTableBody .projectForumTableBodyInner{
			width:auto;
			}
	#projectForumTable .projectForumTableBody table{
		width:100%;
		}
		#projectForumTable .projectForumTableBody table td{
			border-bottom:1px solid #bdbdbd;
			vertical-align:top;
			padding:6px 5px 5px !important;
			}
		#projectForumTable .projectForumTableBody table tr.odd td{
			background-color:#f5f5f5;
			}
		#projectForumTable .projectForumTableBody table td h3{
			font-size:11px;
			font-weight:normal;
			}
		#projectForumTable .projectForumTableBody table td h3.isNew{
			font-weight:bold;
			}
			#projectForumTable .projectForumTableBody table td h3 a{
				text-decoration:underline;
				color:#000000;
				}
			#projectForumTable .projectForumTableBody table td h3 a:hover{
				text-decoration:none;
				}
			#projectForumTable .projectForumTableBody table td p{
				color:#000000;
				}
			#projectForumTable .projectForumTableBody table td a.author{
				color:#ee0000;
				font-weight:bold;
				text-decoration:none;
				}
			#projectForumTable .projectForumTableBody table td a.author:hover{
				text-decoration:underline;
				}

		#projectForumTable .projectForumTableBody .ajaxTableLoader{
			text-align:center;
			padding-top:94px;
			}
#projectForumTable .projectForumTableBody .projectForumTableBodyInner table tr:odd td{
	background-color:#f5f5f5;
	}

#projectForumTable .colTab1{
	width:72%;
	}
#projectForumTable .colTab2{
	width:12%;
	text-align:center;
	}
#projectForumTable .colTab3{
	width:16%;
	}


/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 40%;
    right: 0px;
    width: 21px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{
	display:none !important;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 21px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{
    display:none !important;
}
.copilotsAlignCenter .jcarousel-skin-tango .jcarousel-next-horizontal,
.copilotsAlignCenter .jcarousel-skin-tango .jcarousel-prev-horizontal{
	top:36%;
	}


A.buttonRed1{
	display:block;
	background: transparent url(../images/button-left.png) left top no-repeat;
	font-size: 11px;
	color: #ffffff;
	line-height:24px;
	font-weight:bold;
	text-align:center;
	padding-left:4px;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	text-decoration: none;
	white-space:nowrap;
	overflow:hidden;
}

	A.buttonRed1 span{
		display:block;
		background: transparent url(../images/button-right.png) right top no-repeat;
		cursor: pointer;
		height:24px;
		padding-right:4px;
	}

	A.buttonRed1:hover{
		background-position:left -24px;
	}
		A.buttonRed1:hover span{
			background-position:right -24px;
		}


/* END - Release Assembly - TopCoder Cockpit Project Overview Update 1  */
			
/*
 * IE6 Notification styles
 * 
 */
#ie6-notification{
	width:auto;
	min-width:960px;
	height:51px;
	background:url(../images/ie6-notification-bg.png) repeat-x left top;
	position:absolute;
	z-index:1000;
	top:-51px;
	}

	#ie6-notification .homeContent{
		width:960px;
		margin:0 auto;
		}

		#ie6-notification .alert{
			width:755px;
			float:left;
			display:inline;
			margin-left:25px;
			margin-top:13px;
			padding-left:42px;
			background:url(../images/ie6-alert.png) 0 0 no-repeat;
			}
			
		#ie6-notification .homeContent .alert{
			width:788px;
			float:left;
			display:inline;
			margin-left:2px;
			margin-top:13px;
			padding-left:42px;
			background:url(../images/ie6-alert.png) 0 0 no-repeat;
			}	

			#ie6-notification .title{
				display:block;
				margin-bottom:1px;
				font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
				font-size:16px;
				font-weight:bold;
				color:#d10000;
				line-height:1em;
				background:none;
				}
	
			#ie6-notification .desc{
				display:block;
				color:#333333;
				font-size:11px;
				line-height:1em;
				position:relative;
				}

				#ie6-notification .desc a{
					font-weight:bold;
					color:#ec1c23;
					text-decoration:none;
					}
					
					#ie6-notification .tip{
						position:absolute;
						}
						
					#ie6-notification .ie8 .tip{
						margin-top:-9999px;
						margin-left:-120px;
						}
						
					#ie6-notification .ff .tip{
						margin-top:-9999px;
						margin-left:-96px;
						}
						
					#ie6-notification .safari .tip{
						margin-top:-9999px;
						margin-left:-88px;
						}
						
					#ie6-notification .chrome .tip{
						margin-top:-9999px;
						margin-left:-112px;
						}
						
						#ie6-notification .tipBg{
							width:130px;
							height:122px;
							display:block;
							text-align:center;
							background:url(../images/tip_Out.png) no-repeat;
							}
							
							#ie6-notification .tip .pic{
								height:51px;
								display:block;
								margin-top:20px;
								padding-top:6px;
								}

		#ie6-notification .noAsk{
			width:auto;
			float:right;
			display:inline;
			margin-top:8px;
			margin-right:20px;
			}
			
		#ie6-notification .homeContent .noAsk{
			width:auto;
			float:right;
			display:inline;
			margin-top:11px;
			margin-right:2px;
			}
			
			#ie6-notification .noAsk .noAakInner{
				width:auto;
				float:right;
				display:inline;
				}		

			#ie6-notification .noAsk label{
				margin-left:2px;
				font-size:11px;
				color:#333333;
				line-height:21px;
				}
				
			#ie6-notification .homeContent .noAsk label{
				line-height:25px;
				}
				
			#noAshAgain{
				width:auto;
				float:left;
				display:inline;
				margin-top:2px;
				}

	#ie6-notification a.close{
		width:auto;
		float:right;
		display:inline;
		overflow:hidden;
		padding-left:14px;
		font-size:11px;
		color:#333333;
		clear:both;
		text-decoration:underline;
		background:url(../images/ie6-close-icon.png) 0 center no-repeat;
		}
	
	#ie6-notification a.close:hover{
		text-decoration:none;
		}
	
	
	#ie6-notification a.downloadSubmission{
		float:left; 
		font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
		text-decoration: none;
		margin-top:10px;
		margin-left:10px;
		padding: 0 0 0 27px;
		background:url(../images/checkout_download.png) no-repeat left top;
		}
	
	#ie6-notification a.downloadSubmission span{
		float:left;
		cursor: pointer;
		height: 24px;
		font-size: 12px;
		line-height: 24px;
		font-weight: bold;
		color:#FFFFFE;
		padding: 0 7px;
		background:url(../images/checkout_download_right.png) no-repeat right top;
		}
	
	#ie6-notification a.downloadSubmission:hover{
		background:url(../images/checkout_download.png) no-repeat left -24px;
		}
	
	#ie6-notification a.downloadSubmission:hover span{
		background:url(../images/checkout_download_right.png) no-repeat right -24px;
		}


.specForumInfo {
	padding:10px;
	font-size:0.8em;
}

.newButton1 {
    display: inline-block;
    background: url(../images/button-new-1.png) no-repeat left top;
    height: 24px;
    padding-left: 4px;
    color: #fffffe;
    font-size: 12px;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    overflow: hidden;
}

.newButton1 .btnR {
    display: inline-block;
    background: url(../images/button-new-1.png) no-repeat right -48px;
    padding-right: 4px;
    cursor: pointer;
}

.newButton1 .btnC {
    display: inline-block;
    background: url(../images/button-new-1.png) left -24px repeat-x;
    height: 24px;
    padding: 0 18px;
    cursor: pointer;
}

.newButton1:hover {
    background-position: left -72px;
}

.newButton1:hover .btnR {
    background-position: right -120px;
}

.newButton1:hover .btnC {
    background-position: left -96px;
}

#addNewProjectModal .modalBody .noticeContent {
    padding-top: 35px;
    height: 184px;
    width: auto;
    padding-left: 26px;
}

#addNewProjectModal .modalBody .noticeContent .modalRow {
    padding-bottom: 8px;
    min-height: 10px;
}

#addNewProjectModal .modalBody .noticeContent .modalRow label {
    float: left;
    width: 80px;
    line-height: 22px;
    font-weight: bold;
    display: inline;
}

#addNewProjectModal .modalBody .noticeContent .modalRow input.text {
    float: left;
    width: 280px;
    display: inline;
}

#addNewProjectModal .modalBody .noticeContent .modalRow .textField {
    float: left;
    width: 280px;
    margin: 0;
    height: 115px;
    display: inline;
    margin-top:6px;
}

#addNewProjectModal .modalBody .modalCommandBox {
    text-align: left;
    padding-left: 130px;
}

#addNewProjectModal .modalBody .modalCommandBox .newButtonCancel {
    margin-left: 6px;
}

#addNewProjectModal .modalBody .modalCommandBox .newButtonCancel .btnC {
    padding: 0 24px;
}

#addNewProjectModal.outLay {
    width: 450px;
}

ul.errorMessage {
    color: #ff0001;;
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
}

#processInvoiceRecordModal .noticeContent {
    padding-left: 26px;
    padding-top: 35px;
    width: auto;
}
#processInvoiceRecordModal .noticeContent .modalRow {
    min-height: 10px;
    padding-bottom: 8px;
}
#processInvoiceRecordModal .noticeContent .modalRow label {
    display: inline;
    float: left;
    font-weight: bold;
    line-height: 22px;
    width: 120px;
}
#processInvoiceRecordModal .noticeContent .modalRow .errorInfo {
    margin-left: 120px;
    color: red;
}
#invoiceNumberDuplicatedModal .modalBody .noticeContent {
    padding-left: 0px;
    width: auto;
}
#invoiceNumberDuplicatedModal .modalRow  {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
#invoiceNumberDuplicatedModal .errorIcon {
    padding-right:10px;
}