div.clearForIE6 {
	height: 10px;
}

.reviewer_text{
	margin-top: -20px;
	margin-bottom: 20px;
}
.reviewer_handle_text{
	margin-top: -20px;
	margin-bottom: 20px;
}

.sr_question_showdetail {	
	float:right;
	margin-top: 10px;
	padding-right:10px;
	position: relative;	
}

.spec_review_question{
	margin-top:10px;
	padding-bottom: 10px;
}

.spec_review_odd_question{
	margin-top:10px;
	padding-bottom: 10px;
	background-color: transparent;
}

.add_comment_cancel_text{
	position: relative;
	margin-right: -45px;
}

.no_details .to_add_your_comment {
	padding: 0px 10px 10px 0;
}

.no_details .add_your_comment {
	padding: 0px 10px 10px 0;
	margin-bottom: 10px;
	width: 93%;
}

.no_details .add_your_comment .textarea1{
	height:90px;
	margin-left: 25px;
	margin-right: 2px;
}
