<p><em style="color: rgb(0, 112, 192);">[This contest specification will be made available to all competitors for an Assembly competition. It is intended to give the competitors (and reviewers) all the necessary information and detailed instructions to understand what is expected for the Assembly competition.</em></p>

<p><span style="color: rgb(0, 112, 192);"><strong><em>This specification should not include any company specific information or proprietary information because it will be available to users who have not signed confidentiality assignments.</em></strong></span></p>

<p><span style="color: rgb(0, 112, 192);"><em>This specification will be reviewed internally by TopCoder to verify the following points:</em></span></p>

<ul>
	<li><span style="color: rgb(0, 112, 192);"><em>Is the spec clear? Is it attractive to competitors? Is there anything that could be done to clarify or improve the specification? &nbsp;&nbsp;</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Are the requirements for the competition clear in detail and scope?</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Are the deliverables for the competition clear in detail and scope? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Is the design clear - are there any details that are missing that competitors will need to complete in this project?</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Is the timeline appropriate?</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Is the prize structure appropriate?</em></span></li>
	<li><span style="color: rgb(0, 112, 192);"><em>Overall the specification is appropriate for production?</em></span></li>
</ul>

<p><span style="color: rgb(0, 112, 192);"><em>The Architect will be responsible for this specification. However, there are numerous sections that will be completed by the Copilot or the Project Manager.]</em></span></p>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Project Overview</span></h2>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;"><strong><span style="color: rgb(164, 31, 172);">[Provide an overview of the overall application the Assembly competition is implementing.]</span></strong></p>

<p><span style="font-size:12px;">EXAMPLE:</span></p>

<p><span style="font-size:12px;">The Sales IM tool is an application that will create a web based instant messaging system. &nbsp;The system &nbsp; &nbsp;will be used installed and run on a company&#39;s web site. The tool will allow potential clients of the company to ask questions and chat with the company.</span></p>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Competition Task Overview</span></h2>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;"><strong style="color: rgb(164, 31, 172);">[Provide an overview of the pieces of the application that the Assembly competition is implementing.]</strong></p>

<p><span style="font-size:12px;">EXAMPLE:<br />
HTML prototype has been converted to JSP pages with the correct flows. The majority of the application logic has been developed inside the components. The main tasks will involve:</span></p>

<ul>
	<li><span style="font-size:12px;">Configuration of components</span></li>
	<li><span style="font-size:12px;">Writing any necessary AJAX and JSP code</span></li>
	<li><span style="font-size:12px;">Writing servlet and action classes and hooking in the necessary components</span></li>
	<li><span style="font-size:12px;">Writing unit tests</span></li>
	<li><span style="font-size:12px;">Providing directions for configuration and deployment</span></li>
</ul>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">[You should break out 2.X points if there are any complicated instructions to the members.]</span></strong></span></p>

<h3 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Testing</span></h3>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;"><strong><span style="color: rgb(164, 31, 172);">[Provide Testing Requirements. This section should include any testing requirements (unit tests) that will help review the application.]</span></strong></p>

<p><span style="font-size:12px;">EXAMPLE:<br />
Unit test are only needed for NASWorker.cs class.</span></p>

<p><span style="font-size:12px;">You need to provide manual demos to verify your implementation.</span></p>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Technology Overview</span></h2>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;"><strong><span style="color: rgb(164, 31, 172);">[List the relevant technologies for the project. This is intended to help the interested competitor determine if they are able to compete on the project. Include any details on VM/etc. in this section.]</span></strong></p>

<p><span style="font-size:12px;">EXAMPLE:<br />
The working environment requirement details for this application are outlined in the Application Requirements Specification. An overview of the environment requirements are listed below:</span></p>

<ul style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">
	<li><span style="font-size:12px;">Java 1.5</span></li>
	<li><span style="font-size:12px;">Red Hat Linux</span></li>
	<li><span style="font-size:12px;">JBoss 4.0.2</span></li>
	<li><span style="font-size:12px;">Tomcat 5.5</span></li>
	<li><span style="font-size:12px;">Struts 1.3.5</span></li>
	<li><span style="font-size:12px;">Informix 10.0</span></li>
	<li><span style="font-size:12px;">AJAX</span></li>
</ul>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Documentation Provided</span></h2>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;"><strong><span style="color: rgb(164, 31, 172);">[The majority of the documentation deliverables should be consistent across all applications. However, document any additional information that will be provided for this project and remove any documents in this list that are not applicable.]</span></strong></p>

<p style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">Documentation and Applications that will be provided to registered members:</p>

<table class="confluenceTable" style="border: 2px solid rgb(153, 153, 153); margin: 0px 0px 10px; padding: 0px; border-collapse: collapse; vertical-align: top; font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">
	<colgroup>
		<col width="200px" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th class="confluenceTh" style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>Document Name</b></th>
			<th class="confluenceTh" style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>Document Description &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b></th>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><span style="color: rgb(164, 31, 145);">[Deliverable Information]</span></td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><span style="color: rgb(164, 31, 145);">[Deliverable Information]?</span></td>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">Requirements Documentation</td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">Database Schema</td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">HTML Prototype</td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">JSP Converted Prototype</td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
		<tr>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">Sample Data</td>
			<td class="confluenceTd" style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;">&nbsp;</h2>

<h2 style="font-family: Arial, Helvetica, Verdana, sans-serif; padding: 0px; margin: 0px; font-weight: bold;"><span style="color: rgb(255, 0, 0);">Payment</span></h2>

<p><strong><span style="color: rgb(0, 0, 255);">Base Payment</span></strong></p>

<p><span style="font-size:12px;">TopCoder will compensate members with first and second place submissions. Initial payment for the winning member will be distributed in two installments. The first payment will be made at the close of the approval phase. The second payment will be made at the completion of the support period.</span></p>

<p><span style="font-size:12px;">Winning Submission and Second Place payments are shown at the top of the contest details page.</span></p>

<p><strong><span style="color: rgb(0, 0, 255);">Milestones</span></strong></p>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">[Adjust this section for your milestone details.]</span></strong></span></p>

<p><span style="font-size:12px;">For the milestone, the top two (2) submissions will be chosen and ranked by the client.&nbsp;<span style="color: rgb(255, 0, 0);">Read below carefully......</span></span></p>

<ul>
	<li><span style="font-size:12px;"><strong>The winners are completely at the client&#39;s discretion. &nbsp;</strong></span></li>
	<li><span style="font-size:12px;">You must upload your milestone to Online Review. &nbsp; The timestamp of your submission will be used to determine if you are eligible for a milestone review and Payment. &nbsp;The milestone deadline will be posted to the forum.</span></li>
	<li><span style="font-size:12px;">If you are selected to win a milestone Payment,&nbsp;<span style="color: rgb(255, 0, 0);">YOUR FINAL SUBMISSION MUST PASS REVIEW TO EARN YOUR MILESTONE PAYMNENT.</span>&nbsp;If you do not pass review, you will not be awarded the payment.</span></li>
</ul>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">[General Guidance: Total milestone is usually 50% of the first place payment.]</span></strong></span></p>

<p><span style="font-size:12px;">Milestone payments are shown at the top of the contest details page.</span></p>

<h2><strong><span style="color: rgb(255, 0, 0);">Competitor Restrictions</span></strong></h2>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">[Document here what the NDA / Background check requirements are for this project. Remove if not needed.]</span></strong></span></p>

<h2><strong><span style="color: rgb(255, 0, 0);">Project Dependencies</span></strong></h2>

<p><span style="font-size:12px;">Custom / New Generic Components</span></p>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">[List all custom and new generic components that are required for this application. &nbsp;This is useful for competitors to know where to look for component information if the component is not in the catalog yet. This is also useful for managers and architects to easily check which new components are dependent on this Assembly.</span></strong></span></p>

<p><span style="font-size:12px;"><strong><span style="color: rgb(164, 31, 172);">** Note that all new and custom components will need to be posted to the forums for this competition unless they are made available in the catalog prior to the start of the competition.]</span></strong></span></p>

<div>&nbsp;</div>

<div>
<table style="border: 2px solid rgb(153, 153, 153); margin: 0px 0px 10px; padding: 0px; border-collapse: collapse; vertical-align: top; font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">
	<colgroup>
		<col width="200px" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><strong>Component Name</strong></th>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><strong>Version</strong></th>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Generic / Custom</strong></th>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Component URL</strong></th>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
