<p><em style="color: rgb(0, 112, 192);">[This contest specification will be made available to all competitors for an Assembly competition. It is intended to give the competitors (and reviewers) all the necessary information and detailed instructions to understand what is expected for the Assembly competition.</em></p>

<p><span style="color:#0070c0;"><strong><em>This specification should not include any company specific information or proprietary information because it will be available to users who have not signed confidentiality assignments.</em></strong></span></p>

<p><span style="color:#0070c0;"><em>This specification will be reviewed internally by TopCoder to verify the following points:</em></span></p>

<ul>
	<li><span style="color:#0070c0;"><em>Is the spec clear? Is it attractive to competitors? Is there anything that could be done to clarify or improve the specification? &nbsp;&nbsp; </em></span></li>
	<li><span style="color:#0070c0;"><em>Are the requirements for the competition clear in detail and scope? </em></span></li>
	<li><span style="color:#0070c0;"><em>Are the deliverables for the competition clear in detail and scope? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></span></li>
	<li><span style="color:#0070c0;"><em>Is the design clear - are there any details that are missing that competitors will need to complete in this project? </em></span></li>
	<li><span style="color:#0070c0;"><em>Is the timeline appropriate? </em></span></li>
	<li><span style="color:#0070c0;"><em>Is the prize structure appropriate? </em></span></li>
	<li><span style="color:#0070c0;"><em>Overall the specification is appropriate for production? </em></span></li>
</ul>

<p><span style="color:#0070c0;"><em>The Architect will be responsible for this specification. However, there are numerous sections that will be completed by the Copilot or the Project Manager.]</em></span></p>

<p><span style="color:#FF0000;"><strong>Please remove all the instructions in blue and examples highlighted in yellow, including this one, before publishing your contest specification.</strong></span></p>

<p style="margin-left:4.5pt;">&nbsp; &nbsp; &nbsp;<strong> 1.&nbsp;&nbsp; Project Overview</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[Provide an overview of the overall application the Assembly competition is implementing.]</em></span></p>

<p>&nbsp; &nbsp; &nbsp; <span style="background-color:#FFFF00;">&nbsp; EXAMPLE:</span></p>

<p><span style="background-color:#FFFF00;">&nbsp; &nbsp; &nbsp; &nbsp; The Sales IM tool is an application that will create a web based instant messaging system.&nbsp; The system &nbsp; &nbsp;will be used installed and run on a company&#39;s web site. The tool will allow potential clients of the company to ask questions and chat with the company.</span></p>

<p style="margin-left:22.5pt;"><strong>2.&nbsp;&nbsp; Competition Task Overview</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[Provide an overview of the pieces of the application that the Assembly competition is implementing.]</em></span></p>

<p style="margin-left:.25in;"><span style="background-color:#FFFF00;">EXAMPLE:</span><br />
<span style="background-color:#FFFF00;">HTML prototype has been converted to JSP pages with the correct flows. The majority of the application logic has been developed inside the components. The main tasks will involve:</span></p>

<ul>
	<li><span style="background-color:#FFFF00;">Configuration of components</span></li>
	<li><span style="background-color:#FFFF00;">Writing any necessary AJAX and JSP code</span></li>
	<li><span style="background-color:#FFFF00;">Writing servlet and action classes and hooking in the necessary components</span></li>
	<li><span style="background-color:#FFFF00;">Writing unit tests</span></li>
	<li><span style="background-color:#FFFF00;">Providing directions for configuration and deployment</span></li>
</ul>

<p><span style="color:#0070c0;"><em>[You should break out 2.X points if there are any complicated instructions to the members.]</em></span></p>

<p style="margin-left:22.5pt;"><strong>3.&nbsp;&nbsp; Testing</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[Provide Testing Requirements. This section should include any testing requirements (unit tests) that will help review the application.]</em></span></p>

<p style="margin-left:.25in;"><span style="background-color:#FFFF00;">EXAMPLE:</span><br />
<span style="background-color:#FFFF00;">Unit test are only needed for NASWorker.cs class.</span></p>

<p style="margin-left:.25in;"><span style="background-color:#FFFF00;">You need to provide manual demos to verify your implementation.</span></p>

<p style="margin-left:22.5pt;"><strong>4.&nbsp;&nbsp; Technology Overview</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[List the relevant technologies for the project. This is intended to help the interested competitor determine if they are able to compete on the project. Include any details on VM/etc. in this section.]</em></span></p>

<p style="margin-left:22.5pt;"><span style="background-color:#FFFF00;">EXAMPLE:</span><br />
<span style="background-color:#FFFF00;">The working environment requirement details for this application are outlined in the Application Requirements Specification. An overview of the environment requirements are listed below:</span></p>

<ul>
	<li><span style="background-color:#FFFF00;">Java 1.5</span></li>
	<li><span style="background-color:#FFFF00;">Red Hat Linux</span></li>
	<li><span style="background-color:#FFFF00;">JBoss 4.0.2</span></li>
	<li><span style="background-color:#FFFF00;">Tomcat 5.5</span></li>
	<li><span style="background-color:#FFFF00;">Struts 1.3.5</span></li>
	<li><span style="background-color:#FFFF00;">Informix 10.0</span></li>
	<li><span style="background-color:#FFFF00;">AJAX</span></li>
</ul>

<p style="margin-left:22.5pt;"><strong>5.&nbsp;&nbsp; Documentation Provided</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[The majority of the documentation deliverables should be consistent across all applications. However, document any additional information that will be provided for this project and remove any documents in this list that are not applicable.]</em></span></p>

<p>Documentation and Applications that will be provided to registered members:</p>

<table border="1" cellpadding="0" style="width:529px;" width="529">
	<tbody>
		<tr>
			<td style="width:262px;height:18px;">
			<p align="center"><strong>Document Description</strong></p>
			</td>
			<td style="width:262px;height:18px;">
			<p align="center"><strong>Document Name</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:262px;">
			<p><span style="color:#0070c0;"><em>[Deliverable Information]</em></span></p>
			</td>
			<td style="width:262px;">
			<p><span style="color:#0070c0;"><em>[name of file that will be posted in forums] </em></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:262px;">
			<p><span style="background-color:#FFFF00;">Requirements Documentation</span></p>
			</td>
			<td style="width:262px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:262px;">
			<p><span style="background-color:#FFFF00;">Database Schema</span></p>
			</td>
			<td style="width:262px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:262px;">
			<p><span style="background-color:#FFFF00;">HTML Prototype</span></p>
			</td>
			<td style="width:262px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:262px;">
			<p><span style="background-color:#FFFF00;">JSP Converted Prototype</span></p>
			</td>
			<td style="width:262px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:262px;height:3px;">
			<p><span style="background-color:#FFFF00;">Sample Data</span></p>
			</td>
			<td style="width:262px;height:3px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p style="margin-left:22.5pt;"><strong>6.&nbsp;&nbsp; Payment</strong></p>

<p style="margin-left:40.5pt;"><strong>6.1 Base Payment</strong></p>

<p style="margin-left:40.5pt;">TopCoder will compensate members with first and second place submissions. Initial payment for the winning member will be distributed in two installments. The first payment will be made at the close of the approval phase. The second payment will be made at the completion of the support period.</p>

<p style="margin-left:40.5pt;">Winning Submission and Second Place payments are shown at the top of the contest details page.</p>

<p style="margin-left:40.5pt;"><strong>6.2 Milestones</strong></p>

<p style="margin-left:40.5pt;"><span style="color:#0070c0;"><em>[Adjust this section for your milestone details.]</em></span></p>

<p style="margin-left:40.5pt;">For the milestone, the top two (2) submissions will be chosen and ranked by the client.&nbsp;&nbsp; <span style="color:#FF0000;">Read below carefully......</span></p>

<ul>
	<li><strong>The winners are completely at the client&#39;s discretion.&nbsp;&nbsp;</strong></li>
	<li>You must upload your milestone to Online Review.&nbsp;&nbsp; The timestamp of your submission will be used to determine if you are eligible for a milestone review and Payment.&nbsp; The milestone deadline will be posted to the forum.</li>
	<li>If you are selected to win a milestone Payment, <span style="color:#FF0000;">YOUR FINAL SUBMISSION MUST PASS REVIEW TO EARN YOUR MILESTONE PAYMNENT</span>.&nbsp;If you do not pass review,&nbsp;you will not be awarded the payment.</li>
</ul>

<p style="margin-left:40.5pt;"><span style="color:#0070c0;"><em>[General Guidance: Total milestone is usually 50% of the first place payment.]</em></span></p>

<p style="margin-left:40.5pt;">Milestone payments are shown at the top of the contest details page.</p>

<p style="margin-left:22.5pt;"><strong>7.&nbsp;&nbsp; Competitor Restrictions</strong></p>

<p style="margin-left:22.5pt;"><span style="color:#0070c0;"><em>[Document here what the NDA / Background check requirements are for this project. Remove if not needed.]</em></span></p>

<p style="margin-left:22.5pt;"><strong>8.&nbsp;&nbsp; Project Dependencies</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Custom / New Generic Components</p>

<p style="margin-left:40.5pt;"><span style="color:#0070c0;"><em>[List all custom and new generic components that are required for this application.&nbsp; This is useful for competitors to know where to look for component information if the component is not in the catalog yet. This is also useful for managers and architects to easily check which new components are dependent on this Assembly.</em></span></p>

<p style="margin-left:40.5pt;"><span style="color:#0070c0;"><em>** Note that all new and custom components will need to be posted to the forums for this competition unless they are made available in the catalog prior to the start of the competition.]</em></span></p>

<table border="1" cellpadding="0" style="width:595px;" width="595">
	<tbody>
		<tr>
			<td style="width:174px;">
			<p align="center"><strong>Component Name</strong></p>
			</td>
			<td style="width:48px;">
			<p align="center"><strong>Version</strong></p>
			</td>
			<td style="width:111px;">
			<p align="center"><strong>Generic / Custom</strong></p>
			</td>
			<td style="width:252px;">
			<p align="center"><strong>Component URL</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:174px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:48px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:111px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:252px;">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

