<p><strong><em>Please remove all the instructions in dark blue and the text present under example sections (including example heading), before publishing the contest specification.</em></strong></p>

<p><span style="color:#002060;"><strong style="line-height: 1.6em;"><em>This document should not include any company specific information or proprietary information because it will be available to users who have not signed CCA /NDA/received background checks.</em></strong></span></p>

<p><span style="color:#002060;"><strong><em>Any information that needs to be confidential and never linked publicly from our site must be included in the competition forum.</em></strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">This document will be made available to all competitors for a Test Scenarios competition. It is intended to give the competitors (and reviewers) all the necessary information and detailed instructions to understand what is expected for the competition.</span></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">This document will be created before the Test Scenarios competition&rsquo;s creation in the Online Review tool. This document will be reviewed internally by TopCoder to validate the timelines and payment estimates.</span></span></p>

<p><span style="color:#002060;"><strong style="line-height: 1.6em;"><em>This specification template contains both mandatory and optional sections. For optional sections, these were indicated by an optional tag. </em></strong><strong style="line-height: 1.6em;"><em>Please remove all the optional sections that were not in scope for the current contest, and update the numbering accordingly, before publishing the contest specification.</em></strong></span></p>

<h2><strong style="color: rgb(192, 0, 0); font-size: 13px; line-height: 1.6em;">Project Overview</strong></h2>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[Provide an overall description of the project. Include any tips for the success of the project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">Styx is a company that sells software applications to customer. The client is looking to create a new Windows-based application for use by the company&#39;s Technical Support personnel to help troubleshoot and identify issues present within the customers&#39; environments that prevent the original system from functioning. The application will need to have the ability to perform the following basic operations:</span></p>

<ul>
	<li>&nbsp;Perform network connectivity tests between machines</li>
	<li>Provide a profile of the network bandwidth and latency</li>
	<li>Perform a stress test on the customer&#39;s network to identify the point when collision and re-transmissions begin increasing</li>
	<li>Report on and compare against a predefined set of rules the DCOM configuration settings</li>
	<li>Ability to collect network metrics over a length of time</li>
	<li>Provide an easy, intuitive report of the metrics in an existing format (PDF), with an option to e-mail report to Tech Support</li>
	<li>The application must have an easy-to-use, intuitive user interface and logic to be able to make a determination if the collected data does not match the company&#39;s prerequisites for proper operation</li>
	<li>The application will need to have basic help descriptions to allow new users to learn how to use these tools</li>
</ul>

<p>&nbsp;&nbsp;&nbsp; (Note that additional functionality may be exposed during the requirements gathering process.)</p>

<p>This competition will define the test scenarios for the Network Analyzer Tool.</p>

<div>
<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color:#FF0000;"><strong>Tips for success:</strong></span></p>

<ul>
	<li>&nbsp;Asking questions early and getting feedback is very important for the success of this competition.</li>
	<li>Raise questions if you feel anything is confusing, or if you have any questions on the provided documentation (Copilot and PM will be available to answer questions).</li>
</ul>
</div>
</div>

<p><strong style="color: rgb(192, 0, 0); line-height: 1.6em;">Contest Objective</strong></p>
</div>

<p><span style="color:#002060;"><em>[Provide the main objective of the current contest. Provide the information about the current contest goals as much as possible, so it will be very useful for a competitor to deliver a promising product, which will meet the client&rsquo;s requirements to a higher extent. Include any unusual or additional requirements in this section clearly.]</em></span></p>

<p><span style="color:#002060;"><em>[You should break out 2.X points if there are any complicated instructions to the members.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">The goal of this competition is to develop a quality assurance plan and test scenarios to ensure that the requirements are met and the application works correctly. The plan and scenarios should test the application requirements for both positive and negative cases.</span></p>

<p>You must prepare the plan and scenarios document by considering all pages/screens present in the wireframes/prototype.</p>

<p><span style="color:#c00000;"><strong>Test Type Descriptions</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[In this section please indicate what are the various type of tests must be covered in the test scenarios document.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">Only the following types of tests are in scope for the current contest. So please prepare the test scenarios document for the current application by considering the following tests.</span></p>

<ul>
	<li>Functional Test</li>
	<li>Performance Test</li>
	<li>Integration Test</li>
	<li>GUI Test</li>
</ul>

<p><span style="color:#c00000;"><strong>Technologies</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[In this section include the full list of technologies involved in the current project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example</em></strong></p>

<ul>
	<li>C#</li>
	<li>.NET 3.5</li>
</ul>

<p><span style="color:#c00000;"><strong>Provided Resources </strong></span></p>

<p><span style="color:#0000FF;"><strong style="line-height: 1.6em;">Documentation Provided</strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">&nbsp;</span><em style="line-height: 1.6em;">[In this section include the links to the provided documents or the location of the documents (like Download section, contest forum, etc). These documents will be available to the registered users, so by using these documents the contestants will work towards the current project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">The following documentation will be available in the contest forum:</span></p>

<ul>
	<li>ARS Document</li>
	<li>Wireframes</li>
	<li>Prototype</li>
</ul>

<p><span style="color:#0000FF;"><strong style="line-height: 1.6em;">VM (optional)</strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">&nbsp;</span><em style="line-height: 1.6em;">[If the current project requires VM, then include the details here.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<ul>
	<li>To request your VM image, please post in contest forum. Before requesting your VM, you need to ensure that you have an SSH key created and in your member profile and then you must use this SSH key to establish a connection with VM.</li>
	<li>Please realize that VMs are currently issued manually. We make every attempt to issue the VM as soon as it is requested; however, there may be delays of up to 12 hours depending on time of day when you request. We encourage everyone to request a VM as soon as possible to minimize any such delays.</li>
	<li>Please follow the exact steps mentioned in the below tutorials to establish a connection with VM.</li>
</ul>

<ul>
	<li><a href="http://www.topcoder.com/wiki/display/projects/Generate+SSH+Key"><span style="color:#00b0f0;">Generate SSH Key</span></a></li>
	<li><a href="http://www.topcoder.com/wiki/display/projects/Connect+Using+SSH+Key"><span style="color:#00b0f0;">Connect using SSH Key</span></a></li>
</ul>

<ul>
	<li>If you want to know more about VM specific information, then please <a href="http://www.topcoder.com/wiki/display/docs/VM+Image+2.5"><span style="color:#00b0f0;">click here</span></a><span style="color:#00b0f0;">.</span></li>
</ul>

<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color:#FF0000;"><strong>Note:</strong></span></p>

<p>&nbsp;If you have any queries related to VM access, please feel free to post these to the contest forum.</p>
</div>
</div>

<p><span style="color:#0000FF;"><span style="line-height: 1.6em;"><strong style="line-height: 1.6em;">SVN </strong></span><strong style="line-height: 1.6em;">(optional)</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[If the current project requires SVN, then include the details here.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><em style="line-height: 1.6em;">The following table summarizes the details about various SVN trunks needed for the current project.</em></p>

<table style="border: 2px solid rgb(153, 153, 153); margin: 0px 0px 10px; padding: 0px; border-collapse: collapse; vertical-align: top; font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">
	<colgroup>
		<col width="200px" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>SVN</b></th>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>URL</b></th>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder DB script</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/internal/database/scripts/trunk">https://coder.topcoder.com/internal/database/scripts/trunk</a></td>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder Platform API Trunk​</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/tcs/clients/cronos/applications/tc_platform_api/trunk">https://coder.topcoder.com/tcs/clients/cronos/applications/tc_platform_api/trunk</a></td>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder Cockpit</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/tcs/clients/cronos/applications/direct/branches/qa">https://coder.topcoder.com/tcs/clients/cronos/applications/direct/branches/qa</a></td>
		</tr>
	</tbody>
</table>

<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color:#FF0000;"><strong>SVN Request:</strong></span></p>

<p>Please email <a href="mailto:support@topcoder.com"><span style="color:#00b0f0;">support@topcoder.com</span></a><span style="color:#00b050;"> </span>to get read access to the SVN, include the SVN links, Contest title, and your handle<span style="color:#00b050;">.</span></p>
</div>

<p><span style="color:#0000FF;"><span style="font-family: sans-serif,Arial,Verdana,'Trebuchet MS'; font-size: 13px; line-height: 1.6em;"><strong>Additional Resources&nbsp;</strong></span><strong style="font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 1.6em;">(optional)</strong>&nbsp;</span></p>
</div>

<p><em style="color: rgb(0, 32, 96); line-height: 1.6em;">[If the current project requires any additional resources besides the input document, then provide the details here.]</em></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">Some of the additional resources helpful for the project are</span></p>

<ul>
	<li><em><a href="http://en.wikipedia.org/wiki/Functional_testing">Know about functionality testing</a></em></li>
	<li><em><a href="http://en.wikipedia.org/wiki/Functional_testing">Know about integration testing</a></em></li>
	<li><em><a href="http://www.guru99.com/software-testing-test-data.html">When to use the test data</a></em></li>
</ul>

<p><span style="color:#c00000;"><strong style="line-height: 1.6em;">Contest Prize Eligibility</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[In this section indicate the minimum review score that must be received for any final submission in order to receive the contest prize.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p>TopCoder will compensate members with first and second place submissions that have a Review score of at least 75.</p>
</div>
</div>
