<p><strong><em>Please remove all the instructions in dark blue and the text present under example sections (including example heading), before publishing the contest specification.</em></strong></p>

<p><span style="color:#002060;"><strong style="line-height: 1.6em;"><em>This document should not include any company specific information or proprietary information because it will be available to users who have not signed CCA /NDA/received background checks.</em></strong></span></p>

<p><span style="color:#002060;"><strong><em>Any information that needs to be confidential and never linked publicly from our site must be included in the competition forum.</em></strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">This document will be made available to all competitors for a Test Suites competition. It is intended to give the competitors (and reviewers) all the necessary information and detailed instructions to understand what is expected for the competition.</span></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">This document will be created before the Test Suites competition&rsquo;s creation in the Online Review tool. This document will be reviewed internally by TopCoder to validate the timelines and payment estimates.</span></span></p>

<p><span style="color:#002060;"><strong style="line-height: 1.6em;"><em>This specification template contains both mandatory and optional sections. For optional sections, these were indicated by an optional tag. </em></strong><strong style="line-height: 1.6em;"><em>Please remove all the optional sections that were not in scope for the current contest, and update the numbering accordingly, before publishing the contest specification.</em></strong></span></p>

<h2><strong style="color: rgb(192, 0, 0); font-size: 13px; line-height: 1.6em;">Project Overview</strong></h2>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[Provide an overall description of the project. Include any tips for the success of the project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p>TopCoder is making an effort to create automated tests for all of our internal systems (TC/OR/Direct/Studio/etc). For this contest, competitors need to focus on copilot&rsquo;s management functionality.</p>

<p>The goal of this contest is to build Selenium testing scripts in Java. Competitors should use Selenium to create test cases across required browsers (listed in Technology Overview section). Here are some proposed steps to finish the work for reference:</p>

<p>1. Use Selenium IDE to generate testing scripts in Java automatically</p>

<ul>
	<li>Do proper tweaks for these test scripts generated to achieve test goals.</li>
</ul>

<p>2. Start Selenium Remote Control Server</p>

<ul>
	<li>The RC Server receives instructions sent from generated test scripts and execute them on the target browsers.</li>
</ul>

<p>3. Run test scripts in Java generated in step #1.</p>

<div>
<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color: rgb(255, 0, 0);"><strong>Tips for success:</strong></span></p>

<ul>
	<li>Asking questions early and getting feedback is very important for the success of this competition.</li>
	<li>Raise questions if you feel anything is confusing, or if you have any questions on the provided documentation (Copilot and PM will be available to answer questions).</li>
</ul>
</div>
</div>

<p><strong style="line-height: 1.6em; color: rgb(192, 0, 0);">Contest Objective</strong></p>
</div>

<p><span style="color:#002060;"><em>[Provide the main objective of the current contest. Provide the information about the current contest goals as much as possible, so it will be very useful for a competitor to deliver a promising product, which will meet the client&rsquo;s requirements to a higher extent. Include any unusual or additional requirements in this section clearly.]</em></span></p>

<p><span style="color:#002060;"><em>[You should break out 2.X points if there are any complicated instructions to the members.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">The main task here is to develop a Selenium test script in Java that will execute all the tests automatically.</span></p>

<p><span style="color:#c00000;"><strong style="line-height: 1.6em;">Automated Framework</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[List the details about the framework must be used to generate the Test Scripts. This Section will be used by the competitors to decide whether they can capable of delivering the final deliverables or not.]</em></span></p>

<p><strong style="line-height: 1.6em;">Example:</strong></p>

<p><span style="line-height: 1.6em;">For the current Project the Test Scripts must be generated using</span></p>

<ul>
	<li>Selenium</li>
</ul>

<p><span style="color:#c00000;"><strong>Required Browsers </strong></span><strong>(optional)</strong></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[Provide the list of browsers in which the test scripts must be executed.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<ul>
	<li>IE7</li>
	<li>IE8</li>
	<li>FF 3.6+ (Mac and PC)</li>
	<li>Safari 4+ (Mac and PC)</li>
	<li>Chrome 4+ (Mac and PC)</li>
</ul>

<p><span style="color:#c00000;"><strong style="line-height: 1.6em;">Technologies</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[In this section include the full list of technologies involved in the current project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example</em></strong></p>

<ul>
	<li>Java</li>
	<li>J2EE</li>
	<li>Struts</li>
	<li>Informix</li>
	<li>JQuery</li>
	<li>Selenium</li>
</ul>

<p><span style="color:#c00000;"><strong>Provided Resources </strong></span></p>

<p><span style="color:#0000FF;"><strong style="line-height: 1.6em;">Documentation Provided</strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">&nbsp;</span><em style="line-height: 1.6em;">[In this section include the links to the provided documents or the location of the documents (like Download section, contest forum, etc). These documents will be available to the registered users, so by using these documents the contestants will work towards the current project.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">The following documentation will be available in the contest forum:</span></p>

<ul>
	<li>Test Scenarios document</li>
</ul>

<p><span style="color:#0000FF;"><strong style="line-height: 1.6em;">VM (optional)</strong></span></p>

<p><span style="color:#002060;"><span style="line-height: 1.6em;">&nbsp;</span><em style="line-height: 1.6em;">[If the current project requires VM, then include the details here.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<ul>
	<li>To request your VM image, please post in contest forum. Before requesting your VM, you need to ensure that you have an SSH key created and in your member profile and then you must use this SSH key to establish a connection with VM.</li>
	<li>Please realize that VMs are currently issued manually. We make every attempt to issue the VM as soon as it is requested; however, there may be delays of up to 12 hours depending on time of day when you request. We encourage everyone to request a VM as soon as possible to minimize any such delays.</li>
	<li>Please follow the exact steps mentioned in the below tutorials to establish a connection with VM.</li>
</ul>

<ul>
	<li><a href="http://www.topcoder.com/wiki/display/projects/Generate+SSH+Key">Generate SSH Key</a></li>
	<li><a href="http://www.topcoder.com/wiki/display/projects/Connect+Using+SSH+Key">Connect using SSH Key</a></li>
</ul>

<ul>
	<li>If you want to know more about VM specific information, then please visit the following links.</li>
</ul>

<ul>
	<li><a href="http://www.topcoder.com/wiki/display/docs/VM+Image+2.5">TopCoder VM Image 2.5</a></li>
	<li><a href="http://www.topcoder.com/wiki/display/projects/Cockpit%2CDirect+VM">Cockpit VM Image</a></li>
</ul>

<div>
<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color:#FF0000;"><strong>Important Notice:</strong></span></p>

<ul>
	<li>If you have any queries related to VM access, please feel free to post these to the contest forum.</li>
	<li>VMs will be granted only during registration phase.</li>
</ul>
</div>
</div>

<p><span style="color:#0000FF;"><span style="line-height: 1.6em;"><strong>SVN </strong></span><strong style="line-height: 1.6em;">(optional)</strong></span></p>
</div>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[If the current project requires SVN, then include the details here.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><em style="line-height: 1.6em;">The following table summarizes the details about various SVN trunks needed for the current project.</em></p>

<table style="border: 2px solid rgb(153, 153, 153); margin: 0px 0px 10px; padding: 0px; border-collapse: collapse; vertical-align: top; font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px;">
	<colgroup>
		<col width="200px" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>SVN</b></th>
			<th style="border: none; color: rgb(0, 0, 0); line-height: normal; padding: 2px 4px; background-color: rgb(229, 229, 229); vertical-align: middle;"><b>URL</b></th>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder DB script</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/internal/database/scripts/trunk">https://coder.topcoder.com/internal/database/scripts/trunk</a></td>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder Platform API Trunk​</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/tcs/clients/cronos/applications/tc_platform_api/trunk">https://coder.topcoder.com/tcs/clients/cronos/applications/tc_platform_api/trunk</a></td>
		</tr>
		<tr>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);">TopCoder Cockpit</td>
			<td style="border-color: white; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: solid; line-height: normal; padding: 2px 4px; vertical-align: top; background-color: rgb(245, 245, 245);"><a href="https://coder.topcoder.com/tcs/clients/cronos/applications/direct/branches/qa">https://coder.topcoder.com/tcs/clients/cronos/applications/direct/branches/qa</a></td>
		</tr>
	</tbody>
</table>

<div>
<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p><span style="color: rgb(255, 0, 0);"><strong>SVN Request:</strong></span></p>

<p>Please email<span style="color: rgb(0, 176, 80);">&nbsp;</span><a href="mailto:support@topcoder.com"><span style="color: rgb(0, 176, 240);">support@topcoder.com</span></a><span style="color: rgb(0, 176, 80);">&nbsp;</span>to get read access to the SVN, include the SVN links, Contest title, and your handle.</p>
</div>
</div>

<p><span style="color:#0000FF;"><span style="line-height: 1.6em;"><strong style="line-height: 1.6em;">Additional Resources </strong></span><strong style="line-height: 1.6em;">(optional)</strong></span></p>
</div>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[If the current project requires any additional resources besides the input document, then provide the details here.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<p><span style="line-height: 1.6em;">Some of the additional resources helpful for the project are</span></p>

<ul>
	<li><a href="http://www.wdvl.com/Authoring/Java/test/Avneet_Mangat03242010.html">Selenium: Automated Integration Testing for Java Web Apps</a></li>
	<li><a href="http://seleniumhq.org/projects/remote-control/">Features of Selenium RC</a></li>
</ul>

<p><span style="color:#c00000;"><strong>Contest Prize Eligibility</strong></span></p>

<p><span style="color:#002060;"><em style="line-height: 1.6em;">[In this section indicate the minimum review score that must be received for any final submission in order to receive the contest prize.]</em></span></p>

<p><strong style="line-height: 1.6em;"><em>Example:</em></strong></p>

<div>
<div style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; line-height: 16px; border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); padding: 10px; margin: 5px;">
<p>TopCoder will compensate members with first and second place submissions that have a Review score of at least 75.</p>
</div>
</div>
