
<CMConfig>
    <!-- Namespace for ScorecardManagerImpl class -->
    <Config name="com.topcoder.management.scorecard">
        <Property name="SearchBuilderNamespace">
            <Value>com.topcoder.searchbuilder</Value>
        </Property>
        
        <Property name="PersistenceClass">
            <Value>com.topcoder.management.scorecard.stresstests.MockScorecardPersistence</Value>
        </Property>
        
        <Property name="PersistenceNamespace">
            <Value>com.topcoder.management.scorecard.stresstests.MockScorecardPersistence</Value>
        </Property>
        
        <Property name="ValidatorClass">
            <Value>com.topcoder.management.scorecard.validation.DefaultScorecardValidator</Value>
        </Property>
        
        <Property name="ValidatorNamespace">
            <Value>com.topcoder.management.scorecard.validation.DefaultScorecardValidator</Value>
        </Property>
    </Config>
        <Config name="stress.ScorecardManagerImpl">
        <Property name="SearchBuilderNamespace">
            <Value>com.topcoder.searchbuilder</Value>
        </Property>
        
        <Property name="PersistenceClass">
            <Value>com.topcoder.management.scorecard.stresstests.MockScorecardPersistence</Value>
        </Property>
        
        <Property name="PersistenceNamespace">
            <Value>com.topcoder.management.scorecard.stresstests.MockScorecardPersistence</Value>
        </Property>
        
        <Property name="ValidatorClass">
            <Value>com.topcoder.management.scorecard.validation.DefaultScorecardValidator</Value>
        </Property>
        
        <Property name="ValidatorNamespace">
            <Value>com.topcoder.management.scorecard.validation.DefaultScorecardValidator</Value>
        </Property>
    </Config>
    <!-- Namespace for InformixScorecardPersistence class -->
    <Config name="com.topcoder.management.scorecard.MockScorecardPersistence">
        <Property name="ConnectionFactoryNS">
            <Value>Dbconnection.factory</Value>
        </Property>
    </Config>
    
    <!-- Namespace for DBConnectionFactory component -->
    <Config name="Dbconnection.factory">
        <Property name="connections">
            <Property name="default">
                <Value>dbconnection</Value>
            </Property>
            
            <Property name="dbconnection">
                <Property name="producer">
                    <Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
                </Property>
                
                <Property name="parameters">
                    <Property name="jdbc_driver">
                        <Value>com.informix.jdbc.IfxDriver</Value>
                    </Property>

                        <Property name="jdbc_url">
                            <Value>jdbc:informix-sqli://vpc:1526/or:INFORMIXSERVER=ol_vpc</Value>
                        </Property>
                    <Property name="user">
                        <Value>informix</Value>
                    </Property>
                    <Property name="password">
                        <Value>topcoder</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>
    
  <Config name="com.topcoder.searchbuilder">
	<Property name="searchStrategyFactoryNamespace">
		<Value>com.topcoder.search.builder.strategy.factory</Value>
    </Property>
	<Property name="fieldValidatorFactoryNamespace">
		<Value>com.topcoder.search.builder.validator.factory</Value>
	</Property>
	<Property name="searchBundles">
        <Property name="ScorecardSearchBundle">
			<Property name="searchStrategy">
	        	<Property name="class">
    	       		<Value>ldapStrategy</Value>
     			</Property>
   			</Property>
            <Property name="context">
		        <Value>SELECT scorecard.scorecard_id FROM scorecard 
JOIN scorecard_status_lu ON
scorecard.scorecard_status_id=scorecard_status_lu.scorecard_status_id
JOIN scorecard_type_lu ON 
scorecard.scorecard_type_id=scorecard_type_lu.scorecard_type_id
JOIN project_category_lu ON 
scorecard.project_category_id=project_category_lu.project_category_id WHERE</Value>
    		</Property>
            <Property name="searchableFields">
	            <Property name="dummy">
    	            <Property name="validator">
                    	<Property name="class">
                        	<Value>validator</Value>
                        </Property>
    	               	<Property name="identifier">
	    	                <Value>null</Value>
            	       	</Property>
                    </Property>
                </Property>
			</Property>
            <Property name="alias">
                <Property name="ScorecardStatusID">
                    <Value>scorecard_status_lu.scorecard_status_id</Value>
                 </Property>
                 <Property name="ScorecardStatusName">
                    <Value>scorecard_status_lu.name</Value>
                 </Property>
                <Property name="ScorecardTypeID">
                    <Value>scorecard_type_lu.scorecard_type_id</Value>
                </Property>
                <Property name="ScorecardTypeName">
                    <Value>scorecard_type_lu.name</Value>
                </Property>
                <Property name="ProjectCategoryID">
                    <Value>project_category_lu.project_category_id</Value>
                </Property>
                <Property name="ProjectID">
                    <Value>project_scorecard.project_id</Value>
                </Property>
                <Property name="ScorecardName">
                    <Value>scorecard.name</Value>
                </Property>
                <Property name="ScorecardVersion">
                    <Value>scorecard.version</Value>
                </Property>
            </Property>
        </Property>
     </Property>
  </Config>
  <Config name="com.topcoder.search.builder.validator.factory">
      <Property name="validator:null">
          <Property name="type">
            <Value>com.topcoder.util.datavalidator.NullValidator</Value>
          </Property>
      </Property>
  </Config>
  <Config name="com.topcoder.search.builder.strategy.factory">
      <Property name="ldapStrategy">
          <Property name="type">
            <Value>com.topcoder.search.builder.database.DatabaseSearchStrategy</Value>
          </Property>
          <Property name="params">
              <Property name="param1">
	              <Property name="type">
    	              <Value>String</Value>
                  </Property>
         	      <Property name="value">
                      <Value>DBSearchStrategy</Value>
                  </Property>
              </Property>
          </Property>
      </Property>
  </Config>
   <Config name="DBSearchStrategy">
			<!-- Property defining a specification for constructing the dbConnectionFactory to use. -->
			<Property name="connectionFactory">
			
			    <!-- The namespace of the ConnectionFactory -->
			    <Property name="name">
			        <Value>Dbconnection.factory</Value>
			    </Property>
			    <Property name="class">
			        <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
			    </Property>
			</Property>


			<!-- 
			    The name to request from the connection factory when acquiring a connection. If not present, then the default connection is used. 
			     -->
			<Property name="connectionName">
			    <Value>dbconnection</Value>
			</Property>
			 
			
			<Property name="searchFragmentFactoryNamespace">
			    <Value>com.topcoder.search.builder.database.factory</Value>
			</Property>

			<Property name="searchFragmentBuilders">
			    <Property name="first">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.AndFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.AndFragmentBuilder</Value>
			        </Property>
			    </Property>

			    <Property name="second">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.OrFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.OrFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="third">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.LikeFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.LikeFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="fourth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.NotFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.NotFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="fifth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.EqualToFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.EqualsFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="sixth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.InFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.InFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="eighth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.NullFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.NullFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="ninth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.GreaterThanFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="tenth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.GreaterThanOrEqualToFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="eleventh">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.BetweenFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="twelvth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.LessThanOrEqualToFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
			        </Property>
			    </Property>
			
			    <Property name="thirteenth">
			        <Property name="targetFilter">
			            <Value>com.topcoder.search.builder.filter.LessThanFilter</Value>
			        </Property>
			        <Property name="className">
			            <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
			        </Property>
			    </Property>
			</Property>
  </Config>
  <Config name="com.topcoder.search.builder.database.factory">
  </Config>
</CMConfig>
