@charset "utf-8";
/* CSS Document */
#footer_logo{
	margin-top:-35px;
}.forgot_pass_link{
	margin-top:-6px;
}a{
	cursor:pointer;
}.table_cell{
	height:66px;
	display:block;
	position:relative;
	z-index:0;
}#step_1 .step_content{
	margin-left:33px;
}#step_2 .step_content{
	margin-left:32px;
}#step_3 .step_content{
	margin-left:32px;
}#step_div {
	margin-top: 6px;
}.outer_container_showcase .close_div,.outer_container_register .close_div {
	padding-bottom:0px;
}
#proccess_login_button{
	padding-bottom:5px;
	height: 32px;
}