@charset "utf-8";
/* CSS Document */
/* 10 error because of text shadow , hope you approve it*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
	color:#1e1e1e;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}a {
	color:#0591d2;
	text-decoration:none;
}a:hover {
	color:#013451;
	text-decoration:underline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.tablet_wraper{
	margin-right:5px;
}
.tablet{
	background:url(../../images/mobile/ipad_border.png) no-repeat;
	padding:34px 74px 55px 74px;
	position:relative;
	z-index:0;
}.tablet_content{
	background:url(../../images/mobile/ipad_bg.jpg) no-repeat;
}.tablet_content_inner{
	width:222px;
	height:297px;
	display:block;
	background:url(../../images/mobile/ipad_inner.png) no-repeat;
}.tablet_top{
	color:#d9bd00;
	font-weight:bold;
	padding:8px;
	font-size:15px;
}.menu_tablet{
	float:left;
	margin-top:2px;
}.menu_tablet #menu_1{
	background:url(../../images/mobile/ipad_icon_01.png) no-repeat 5px 5px;
	height:67px;
}.menu_tablet #menu_2{
	background:url(../../images/mobile/ipad_icon_02.png) no-repeat 5px 5px;
	height:66px;
}.menu_tablet #menu_3{
	background:url(../../images/mobile/ipad_icon_03.png) no-repeat 5px 3px;
	height:65px;
}.menu_tablet #menu_4{
	background:url(../../images/mobile/ipad_icon_04.png) no-repeat 5px 3px;
	height:65px;
}.showcase_trigger{
	display:block;
	position:absolute;
	width:67px;
	height:67px;
	margin-left:-77px;
}.showcase_trigger#tr_2{
	height:66px;
}.showcase_trigger#tr_3,.showcase_trigger#tr_4{
	height:65px;
}.menu_tablet li a{
	padding:0 8px 0 78px;
	display:block;
	vertical-align:middle;
	text-decoration:none;
	color:#fffffe;
	font-size:13px;
	line-height:16px;
}.tablet_bottom{
	position:relative;
}.menu_content{
	position:absolute;
	background:url(../../images/mobile/white_shadow.png) right no-repeat #fff;
	top:2px;
	right:0;
	width:133px;
	height:243px;
	color:#277ca8;
	text-align:center;
	padding:10px;
	display:none;
	z-index:2;
}.menu_content span{
	display:block;
}.menu_content_overlay{
	position:absolute;
	top:2px;
	right:0;
	width:153px;
	background:url(../../images/mobile/transparent.png) repeat left bottom;
	height:265px;
	z-index:10;
	display:block;
}.menu_content .top{
	font-size:14px;	
	margin-bottom:10px;
	line-height:16px;
}.menu_content .bottom{
	font-size:10px;	
	margin-top:5px;
}.menu_tablet_li_hover{
	background:url(../../images/mobile/left_shadow.png) left repeat-y #fff;
}.menu_tablet_li_hover.last{
	background:url(../../images/mobile/left_bottom_shadow.png) left bottom #fff;
}.menu_tablet_li_hover .menu_content{
	display:block;
}.menu_tablet li .left_trigger{
	position:absolute;
	width:68px;
	height:65px;
	margin:-16px -8px 0 -78px;
}.table_cell{
	height:66px;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:0;
}#tablet_home_button{
	width:18px;
	height:18px;
	display:block;
	position:absolute;
	z-index:2;
	bottom:29px; left:176px;
	background:url(../../images/mobile/tablet_home_button.png) no-repeat top;
}#tablet_home_button:hover{
	background-position:bottom;
}
/* opacity and filter will be error because they are not a standart style*/
.modal{
	display:none;
	background:url(../../images/mobile/modal_bg.png) repeat;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:4;
}

/* Header */
#header_wrapper{
	background:url(../../images/mobile/header.jpg) no-repeat top center;
	width:100%;
	min-width:960px;
}#header_nav{
	background:url(../../images/mobile/nav_background.png) repeat-x bottom;
}#header_nav_content{
	width:960px;
	min-width:960px;
	margin:auto;
	min-height:82px;
}#logo_top{
	background:url(../../images/mobile/logo.png) no-repeat;
	width:268px;
	height:40px;
	display:block;
	float:left;
	margin:16px 0px 0 52px;
}#nav_menu{
	display:block;
	float:right;
	margin-top:7px;
	margin-left:50px;
	margin-right:64px;
}.logged_nav_menu{
	display:block;
	float:right;
	margin-top:7px;
	margin-left:50px;
	margin-right:-11px !important;
}#nav_menu div{
	float:left;
}#nav_menu li{
	display:inline;
	margin-right:7px;	
}#nav_menu li a{
	line-height:53px;
	text-align:center;
	text-decoration:none;
	color:#fffffe;
	font-size:18px;
	text-shadow:0 -1px 0 #000;
	display:block;
	float:left;
	font-family: 'Lato', sans-serif;
}

/* Login */
#login_wrap{
	float:right;
	margin-top:5px;
	color:#fffffe;
	font-size:14px;
	text-shadow:0 1px 0 #000;
	margin-right:32px;
	line-height:18px;
	display:none;
}#login_wrap a{
	color:#fff600;
	font-size:16px;
	text-shadow:0 1px 0 #000;
}.login_wrap_inner{
	float:left;
	margin-right:4px;	
}.login_wrap_inner.pass{
	width:131px;
}.login_input{
	background:url(../../images/mobile/login_input.png) no-repeat left top;
	width:120px;
	border:none;
	padding:0 6px;
	height:27px;
	line-height:27px;
	margin-right:10px;
	color:#0e4e74;
	font-size:16px;
}.login_input:focus,.login_input_focus{
	background-position:bottom;
}.forgot_pass_link{
	font-size:12px !important;
	margin-top:-4px;
	float:right;
}#proccess_login_button{
	background:url(../../images/mobile/login_button.png) no-repeat left top;
	width:96px;
	height:37px;
	border:none;	
	font-size:18px !important;
	color:#fffffe !important;
	display:block;
	text-align:center;
	padding-top:6px;
	padding-right:4px;
	text-shadow:0 -1px 0 #000;
	margin-top:14px;
}#proccess_login_button:hover{
	background-position:bottom left;
	text-decoration:none !important;
}#cancel_login_button{
	width:36px;
	height:35px;
	display:block;
	background:url(../../images/mobile/close_login.png) no-repeat left top;
	margin-top:18px;
	margin-left:4px;
}#cancel_login_button:hover{
	background-position:bottom left;
}.not_have_acc{
	margin-top:6px; margin-right:24px;
	font-size:14px;
	line-height:18px;
}.logged_acc{
	font-size:14px;
	color:#04204a;
	background:url(../../images/mobile/logged.png) no-repeat left top;
	width:146px;
	height:29px;
	padding-left:7px;
	margin-top:14px;
	margin-left:3px;
}.logged_acc a{
	font-weight:bold;
	color:#04204a !important;
}#profile{
	line-height:29px !important;
	text-align:left !important;
	text-decoration:none !important;
	color:#04204a !important;
	font-size:14px !important;
	text-shadow:none !important;
	display:inline !important;
	float:none !important;
	
}

/* Navigasi menu */
#nav_menu #menu_start_new{
	width:170px;
	background:url(../../images/mobile/nav_button_01.png) no-repeat top;
}#nav_menu #menu_blog{
	width:73px;
	background:url(../../images/mobile/nav_button_02.png) no-repeat top;
}#nav_menu #menu_help{
	width:73px;
	background:url(../../images/mobile/nav_button_03.png) no-repeat top;
}#nav_menu #menu_login{
	width:81px;
	background:url(../../images/mobile/nav_button_04.png) no-repeat top;
}
#nav_menu #menu_logout {
    background: url(../../images/mobile/nav_button_04.png) no-repeat scroll center top transparent;
    width: 81px;
}
#nav_menu #menu_start_new:hover,
#nav_menu #menu_blog:hover,
#nav_menu #menu_help:hover,
#nav_menu #menu_login:hover,
#nav_menu #menu_logout:hover,
#nav_menu .focused{
	background-position:bottom;
}
/* Headline */
#headline_content{
	width:960px;
	min-width:960px;
	margin:auto;
	background:url(../../images/mobile/headline_bottom.png) no-repeat center bottom;
	padding-bottom:5px;
}

/* Title page */
#headline_title_wrapper{
	margin-left:60px;
}#headline_title_top{
	background:url(../../images/mobile/title_01.png) no-repeat top;
	height:16px;
	display:block;
	width:469px;
}
#headline_middle_title_top{
	background:url(../../images/mobile/title_02.png) no-repeat top; 
	width:469px;
	text-align:center;
	padding:3px 0 4px 0;
	line-height:35px;
}#headline_middle_title_top .top{
	font-size:40px;
	color:#1172b6;
	text-shadow:0 1px 0 #fff;
}#headline_middle_title_top .bottom{
	font-size:40px;
	color:#1172b6;
	text-shadow:0 1px 0 #fff;
	font-weight:800;
}#headline_title_middle{
	background:url(../../images/mobile/title_03.png) repeat-y left; 
}#headline_title_bottom{
	background:url(../../images/mobile/title_04.png) no-repeat bottom; 
	height:6px;
	display:block;
	width:469px;
}#headline_subtitle_top{
	
	background:url(../../images/mobile/title_05.png) no-repeat top; 
	width:469px;
	font-size:14px;
	text-align:center;
	padding:8px 0 4px 0;
}#headline_subtitle{
	background:url(../../images/mobile/title_06.png) repeat-y top; 
	width:469px;
}#headline_subtitle_bottom{
	background:url(../../images/mobile/title_07.png) no-repeat top; 
	width:469px;
	height:26px;
	display:block;
}
/* Phone*/
#phone_wrapper{
	padding-left:67px;
	margin-left:19px;
	background:url(../../images/mobile/phone_bottom.png) left bottom no-repeat;
	padding-bottom:21px;
}
#phone_wrapper .phone{
	display:block;
	float:left;
	text-align:center;
	width:108px;
}#phone_wrapper .phone_tooltip{
	background:url(../../images/mobile/phone_tooltip_02.png) no-repeat left top;
	width:85px;
	margin-right:23px;
	height:18px;
	text-align:center;
	font-size:14px;
	color:#005da2;
	padding-top:14px;
	text-shadow:0 1px 0 #fff;
	margin-top:-11px;
}

/*  Get started */
#get_started_wrapper{
	margin-left:44px;
	margin-top:5px;
}
#get_started_button{
	background:url(../../images/mobile/start_button.png) no-repeat top left;
	width:198px;
	height:61px;
	display:block;
	font-size:18px;
	padding-left:21px;
	padding-top:15px;
	color:#fffffe;
	text-shadow:0 1px 0 #000;
	text-decoration:none;
}#get_started_button:hover{
	background-position:bottom;
	padding-top:21px;
	height:55px;
}.get_started_button_div{
	float:left;
}.get_started_text{
	width:295px;
	float:left;
	margin-left:19px;
	font-size:14px;
	line-height:18px;
	margin-top:9px;
}
/* daskdjaskl jd asl*/
.outer_container_showcase{
	position:absolute;
    margin-top: 65px;
	width:100%;
	z-index:5;
	display:none;
}.outer_container_showcase .close_div{
	display:block;
	width:960px; 
	padding-top:25px;
	padding-bottom:26px;
	margin:auto;
}#close_showcase{
	float:right;
	background:url(../../images/mobile/close_button.png) no-repeat left top;
	width:56px;
	height:14px;
	display:block;
}#close_showcase:hover{
	background-position:bottom;
	
}.slide_container_outer{
	width:100%;
	background:url(../../images/mobile/pop_up_bg_02.jpg) no-repeat center bottom;
	padding-bottom:35px;
}.slide_container_inner{
	width:100%;
	background:url(../../images/mobile/pop_up_bg_01.jpg) no-repeat center top #fff;
}#container_showcase {
	width:1080px;
	margin:0 auto;
	position:relative;
	z-index:0;
}#slides {
	position:relative;
	top:22px;
	left:4px;
	z-index:100;
}#slides .slide {
	width:800px;
	display:block;
	position:absolute;
	max-height:380px;	
}.image_showcase{
	display:block;
	float:left;
    height:380px;
}.showcase_title{
	font-size:28px;
	color:#fefc2c;
	text-shadow:0 1px 0 #000;
	margin-bottom:21px;
	font-weight:bold;
}.showcase_content{
	display:block;
	float:left;
	width:390px;
	margin-left:30px;
}.showcase_content .bigger{
	font-size:16px;
	line-height:20px;
}.showcase_content p{
	margin-bottom:21px;
	font-size:14px;
	line-height:18px;
}.slides_container {
	width:800px;
	margin:auto;
	overflow:hidden;
	position:relative;
}.slides_container a {
	width:960px;
	height:270px;
	display:block;
}.slides_container a img {
	display:block;
}#slides .prev {
	position:absolute;
	top:107px;
	left:0px;
	width:40px;
	background:url(../../images/mobile/img/arrow-prev.png) left top;
	height:61px;
	display:block;
	z-index:101;
}#slides .next {
	right:0px;
	position:absolute;
	top:107px;
	width:40px;
	background:url(../../images/mobile/img/arrow-next.png) left top;
	height:61px;
	display:block;
	z-index:101;
}#slides .prev:hover,#slides .next:hover {
	background-position:left bottom;
}.pagination {
	width:100px;
	padding-top:10px;
	margin-left:145px;
	margin-bottom:20px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
	margin-right: 10px;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../../images/mobile/img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {	background-position:0 -12px;}
/* --------------------------------------------------------- */
/* ---------------------                                     */
.outer_container_register{
	position:absolute;
	width:100%;
	z-index:5;
    margin-top:65px;
	display:none;
}.outer_container_register .close_div{
	display:block;
	width:960px; 
	padding-top:25px;
	padding-bottom:26px;
	margin:auto;
}#close_register{
	float:right;
	background:url(../../images/mobile/close_button.png) no-repeat left top;
	width:56px;
	height:14px;
	display:block;
}#close_register:hover{
	background-position:bottom;
	
}.register_container_outer{
	width:100%;
	background:url(../../images/mobile/pop_up_bg.jpg) no-repeat center top #fff;
	height:412px;
	min-width:960px;
}.register_container_inner{
	width:960px;
	margin:auto;
	padding-top:32px;
}.register_container_outer h1{
	font-size:41px;
	font-weight:bold;
	color:#025ea1;
	margin-bottom:14px;
	margin-left:115px;
}.col h1{
	font-size:25px;
	margin-bottom:0px;
	margin-left:0;
}
.register_form #col_reg_1{
	float:left;
	width:350px;
	min-height:259px;
}.register_form #col_reg_2{
	float:left;
	width:390px;
	min-height:259px;
}.register_form #col_reg_3{
	float:left;
	width:143px;
	padding-left:20px;
	padding-right:57px;
	font-size:14px;
	min-height:259px;
}.register_form #col_reg_1,.register_form #col_reg_2{
	background:url(../../images/mobile/right_register.png) no-repeat right center;
}.input_div{
	padding:4px 0;
}.captcha_div{
	width:200px; height:100px; display:block;
	background:url(../../images/mobile/cpatcha.png) no-repeat left top;
}.input_error{
	border:2px solid #F00;
}.error_reg_info{
	color:#F00;
	font-size:14px;
	line-height:16px;
	display:none;
	margin-left:8px;
	margin-right:-100px;
}
#col_reg_1 .input_div .col_1{
	width:109px;
	text-align:right;
	display:block;
	float:left;
	font-size:14px;
	padding-right:7px;
}#col_reg_2 .input_div .col_1{
	width:136px;
	text-align:right;
	display:block;
	float:left;
	font-size:14px;
	padding-right:7px;
}.input_div .col_2{
	float:left;
}.input_register{
	width:195px;
}.input_register_2{
	width:131px;
}.input_register_error{
	background:#f6e2e2;
}.register_container_outer a{
	font-size:12px;
}.pass_strength{
	float:left;
}.pass_strength_2{
	float:left;
	font-size:12px;
}.register_button,.register_button_disabled{
	width:144px;
	height:63px;
	background:url(../../images/mobile/register_button.png) left top;
	display:block;
	border:none;
	font-size:19px;
	margin-top:11px;
	font-weight:bold;
	margin-bottom:3px;
	position:relative;
	margin-left:-5px;
	color:#fffffe;
	cursor:pointer;
}.register_button:hover{
	background-position:center;
}.register_button_disabled{
	background-position:bottom;
}.reset_form{
	margin-left:8px;
}.left_acpt{
	float:left; width:16px;
}.right_acpt{
	float:left; width:90px; margin-left:10px;
}.right_acpt a{
	font-size:14px;
}.acpt_label{
	font-size:14px;
}#reset_reg_form{
	font-size:14px;
}.pass_strength_2{
	padding-left:8px;
}.password_meter{
	width:9px;
	margin-right:7px;
	margin-top:2px;
	height:9px;
	display:block;
	float:left;
	background:url(../../images/mobile/password_meter.png) left top;
}.password_meter_1{
	background-position:36px top;
}.password_meter_2{
	background-position:27px top;
}.password_meter_3{
	background-position:18px top;
}.password_meter_4{
	background-position:9px top;
}

/* process step */
#step_div{
	width:902px;
	margin:auto;
	margin-top:6px;
	margin-bottom:20px;
	min-width:902px;
	padding-left:58px;
}#step_div .step_div_item{
	float:left;
	padding-bottom:24px;
}.step_div_item h1{
	font-size:18px;
	font-weight:bold;
	color:#2f2f2f;
	margin-bottom:8px;
}.step_div_item h1 .step_number{
	color:#76afd8;
	margin-right:5px;
}.step_content{
	margin-left:32px;
	padding-right:53px;
	font-size:14px;
	line-height:18px;
}#step_2 .step_content{
	margin-left:29px;
}#step_3 .step_content{
	margin-left:29px;
	padding-right:0px;
}#step_1 .img{
	margin-left:44px;
	margin-bottom:25px;
	margin-top:30px;
}#step_2 .img{
	margin-left:53px;
	margin-bottom:23px;
	margin-top:22px;
}#step_3 .img{
	margin-left:58px;
	margin-bottom:4px;
	margin-top:22px;
}#step_1{
	width:307px;
	background:url(../../images/mobile/step_separator.png) no-repeat right center;
}#step_2{
	width:297px;
	background:url(../../images/mobile/step_separator.png) no-repeat right center;
}#step_3{
	width:249px;
}
/* Press */
.press_div{
	width:960px;
	min-width:960px;
	margin:auto;
	background:url(../../images/mobile/top_press.png) no-repeat top center;
}.press_button{
	width:162px;
	line-height:16px;
	display:block;
	margin:auto;
	background:url(../../images/mobile/press_button.png) no-repeat left top;
	font-size:12px;
	color:#fffffe;
	text-decoration:none;
	text-align:center;
}.press_col,.press_col_head{
	float:left;
	margin-top:13px;
	width:190px;
	margin-left:16px;
	margin-right:16px;
	font-size:12px;
	line-height:14px;
}.press_col{
	margin-top:0px;
}.press_col a{
	color:#686868;
}.press_col a:hover{
	text-decoration:none;
}.press_col#pres_col_1,.press_col_head#pres_col_head_1{
	margin-left:0;
}.press_col#pres_col_2,.press_col_head#pres_col_head_2{
	width:185px;
}.press_col#pres_col_3,.press_col_head#pres_col_head_3{
	width:175px;
}.press_col#pres_col_4,.press_col_head#pres_col_head_4{
	margin-right:0;
	width:175px;
}.press_col_head h1 a{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#686868;
	line-height:18px;
}.press_col_head h1{
	margin-bottom:9px;	
}.press_col_container{
	width:821px; margin:auto; padding-left:25px; margin-bottom:45px;
}.press_col_hover h1 a,.press_col_head:hover h1 a,.press_col_hover a,.press_col:hover a{
	color:#33749a;
	text-decoration:none;
}
/* Footer */
#footer{
	min-width:960px;
}
#footer_top{
	height:133px;
	background:url(../../images/mobile/footer_top.jpg) repeat-x top left;
}#footer_bottom{
	height:44px;
	background:#282828;
}#footer_bottom_content{
	width:806px;
	margin:auto;
	color:#949494;
	font-size:12px;
	line-height:44px;
}#footer_top_content{
	width:806px;
	margin:auto;
	color:#fffffe;
	font-size:14px;
	line-height:22px;
	padding-top:17px;
}#footer_top_content a{
	color:#fffffe;
	text-decoration:none;
}#footer_top_content a:hover{
	color:#f8f295;
}#footer_logo{
	width:135px;
	height:21px;
	background:url(../../images/mobile/logo_footer.png) no-repeat left top;
	display:block;
	float:right;
	margin-top:9px;
}.link_footer{
	float:left;
	margin-right:136px;
}.share_link{
	width:32px;
	height:32px;
	display:block;
	float:left;
	margin-right:10px;
	margin-left:10px;
}.share_title{
	float:left;
	line-height:32px;
	padding-right:14px;
}#share_wrap{
	float:right;
	margin-top:24px;
}.facebook_link{
	background:url(../../images/mobile/share_button_01.png) no-repeat left top;
}.twitter_link{
	background:url(../../images/mobile/share_button_02.png) no-repeat left top;
}.gplus_link{
	background:url(../../images/mobile/share_button_03.png) no-repeat left top;
}.lin_link{
	background:url(../../images/mobile/share_button_04.png) no-repeat left top;
}.share_link:hover{
	background-position:bottom left;
}

/* General class*/
.clear{
	clear:both;
}.right{
	float:right;
}.left{
	float:left;
}.hide{
	display:none;
}

/* adasdasd*/
.slideContent{
	height:200px;
	width:200px;
	position:absolute;
}.slideDiv{
	width:200px;
	height:200px;
	overflow:hidden;
	position:relative;
}#slide1{
	background:#990000;
}#slide2{
	background:#9C0;
}#slide3{
	background:#000099;
}#slide4{
	background:#FF00FF;	
}