<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--
        This is standard deployment descriptor for Funktional Consultation Website application front-end module.
    -->
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/META-INF/asset/applicationContext.xml
            WEB-INF/securityGroupsApplicationContext.xml
            WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <filter>
        <filter-name>ClickjackFilter</filter-name>
        <filter-class>com.topcoder.direct.filter.ClickjackFilter</filter-class>
        <init-param>
            <param-name>mode</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ClickjackFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>direct</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>direct</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--   CharacterEncodingFilter        -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.topcoder.direct.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--     WaterMarkInjectorFilter      -->
    <filter>
        <filter-name>WaterMarkInjectorFilter</filter-name>
        <description>Sets the background of an HTML page to a watermark image.</description>
        <filter-class>com.topcoder.direct.filter.WaterMarkInjector</filter-class>
        <init-param>
            <param-name>watermarkImageMapping</param-name>
            <param-value>@watermarkImageMapping@</param-value>
            <description>The watermark mappings.</description>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WaterMarkInjectorFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <!--     CodeObfuscatorFilter      -->
    <filter>
        <filter-name>CodeObfuscatorFilter</filter-name>
        <description>Obfuscates CSS and JavaScript content.</description>
        <filter-class>com.topcoder.direct.filter.CodeObfuscator</filter-class>
        <init-param>
            <param-name>trustedIPs</param-name>
            <param-value>@trustedIPs@</param-value>
            <description>The list of trusted IPs. For this IP addresses no obfuscation will be done.</description>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CodeObfuscatorFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CodeObfuscatorFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>


    <jsp-config>
        <taglib>
            <taglib-uri>/struts-tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-tags.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tcdirect-functions</taglib-uri>
            <taglib-location>/WEB-INF/tld/tcdirect-functions.tld</taglib-location>
        </taglib>
    </jsp-config>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>
